.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-FREE-DELIVERY-CTA {
    .ab-hidden,
    .free-delivery-btn-header {
        display: none;
    }

    .container:has(> .review-template-navbar) {
        width: 100%;
        max-width: 100%;
    }

    .desktop-header {
        margin-top: 0;
    }

    .ab-promotion-banner-container {
        height: 35px;
        overflow: hidden;
    }

    .ab-delivery-cta {
        text-decoration: underline;
        cursor: pointer;
    }

    .ab-free-delivery {
        display: flex;
        gap: 10px;
    }

    .ab-free-delivery .ab-icon img {
        width: 29px;
        height: auto;
    }
}
