.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-FREE-DELIVERY-CTA {

    .ab-hidden {
        display: none;
    }

    .ab-delivery-cta {
        text-decoration: underline;
    }

    .ab-free-delivery {
        display: flex;
        gap: 10px;
    }

    .ab-free-delivery  .ab-icon img {
        width: 29px;
        height: auto;
    }
}
