.AB-EXP-141.AB-EXP-141--v1 .section-hero__home-of {
  display: none;
}
.AB-EXP-141.AB-EXP-141--v1 .section-hero .container {
  height: 260px;
}
.AB-EXP-141.AB-EXP-141--v1 .section-hero h1 {
  margin-top: 60px;
}
.AB-EXP-141.AB-EXP-141--v1 .header,
.AB-EXP-141.AB-EXP-141--v1 .city-nav {
  background-color: transparent !important;
}
@media screen and (min-width: 768px) {
  .AB-EXP-141.AB-EXP-141--v1 div.trust-bar {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .AB-EXP-141.AB-EXP-141--v1 .section-hero .container {
    height: 350px;
  }
  .AB-EXP-141.AB-EXP-141--v1 .section-hero h1 {
    margin-top: 60px;
  }
}