@charset "UTF-8";
.AB-GUARANTEE-VERBIAGE .ab-modal-open-cta {
  padding-left: 0;
  margin-left: -1rem;
  list-style: none;
  color: #004925;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.AB-GUARANTEE-VERBIAGE .ab-modal-open-cta::before {
  content: "•";
  color: #004925;
  font-size: 1em;
  margin-right: 2.5px;
  display: inline-block;
}
.AB-GUARANTEE-VERBIAGE .ab-modal-open-cta__text {
  text-decoration: underline;
}
.AB-GUARANTEE-VERBIAGE .ab-modal-open-cta__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.AB-GUARANTEE-VERBIAGE .ab-modal-open-cta__icon svg {
  width: 13px;
  height: 13px;
}

/**
 * ----------------------------------------
		 *			MODAL
 * ----------------------------------------
 */
body.AB-GUARANTEE-VERBIAGE--modal-show {
  overflow: hidden;
}
body.AB-GUARANTEE-VERBIAGE--modal-show .AB-GUARANTEE-VERBIAGE__modal-layout {
  display: flex;
}
body.AB-GUARANTEE-VERBIAGE--modal-show .AB-GUARANTEE-VERBIAGE__modal-backdrop {
  display: block;
}
.AB-GUARANTEE-VERBIAGE__modal-layout {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  z-index: 10000;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
}
.AB-GUARANTEE-VERBIAGE__modal-backdrop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.AB-GUARANTEE-VERBIAGE__modal {
  opacity: 1;
  border: 4px solid #004925;
  width: 100%;
  min-height: max-content;
  max-height: auto;
  background: #ffffff;
  position: relative;
  z-index: 1;
  padding: 18px 15px 24px 16px;
}
.AB-GUARANTEE-VERBIAGE__modal__head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8px;
}
.AB-GUARANTEE-VERBIAGE__modal__head__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.AB-GUARANTEE-VERBIAGE__modal__head__img-container img {
  width: 85px;
  height: 85px;
  object-fit: contain;
}
.AB-GUARANTEE-VERBIAGE__modal__head__close-cta {
  margin: 0;
  padding: 6.5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AB-GUARANTEE-VERBIAGE__modal__head__close-cta svg {
  width: 18px;
  height: 18px;
}
.AB-GUARANTEE-VERBIAGE__modal__body {
  width: 100%;
  font-family: geneo-std;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
  text-align: left;
  text-wrap: pretty;
}
.AB-GUARANTEE-VERBIAGE__modal .divider {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 650px) {
  .AB-GUARANTEE-VERBIAGE__modal {
    width: 711px;
    min-height: 366px;
    padding: 33px 32px 39px 40px;
  }
  .AB-GUARANTEE-VERBIAGE__modal__head {
    margin-bottom: 20px;
  }
  .AB-GUARANTEE-VERBIAGE__modal__head__img-container img {
    width: 102px;
    height: 102px;
    object-fit: contain;
  }
  .AB-GUARANTEE-VERBIAGE__modal__head__close-cta {
    padding: 0;
  }
  .AB-GUARANTEE-VERBIAGE__modal__head__close-cta svg {
    width: 30px;
    height: 30px;
  }
  .AB-GUARANTEE-VERBIAGE__modal__body {
    padding: 10px 0;
    font-size: 16px;
  }
  .AB-GUARANTEE-VERBIAGE__modal .divider {
    display: block;
    margin-bottom: 20px;
  }
}
.slide-bottom {
  -webkit-animation: slide-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-top {
  -webkit-animation: slide-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
   * ----------------------------------------
   * animation slide-bottom
   * ----------------------------------------
   */
@-webkit-keyframes slide-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/**
   * ----------------------------------------
   * animation slide-top
   * ----------------------------------------
   */
@-webkit-keyframes slide-top {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
  }
}
@keyframes slide-top {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
  }
}
/**
   * ----------------------------------------
   * animation fade-in
   * ----------------------------------------
   */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}