/*  {
  .subcategoryList-level3.active li{
      min-width: 236px;
  }
} */
.AB-NAV-V2-D .departmentMenu {
  width: 326px;
}
.AB-NAV-V2-D .categoryList {
  padding: 0;
  background: #fff;
}
.AB-NAV-V2-D .categoryList > li:hover {
  background-color: #e7f0f8;
  color: rgb(77, 77, 77) !important;
}
.AB-NAV-V2-D .categoryList > li.selected {
  background-color: #e7f0f8;
  color: rgb(77, 77, 77) !important;
}
.AB-NAV-V2-D .categoryList > li > a.active {
  color: rgb(77, 77, 77) !important;
}
.AB-NAV-V2-D .categoryList > li {
  margin-left: 0;
  width: 100%;
}
.AB-NAV-V2-D .categoryList li a {
  font-family: "MuseoSans-300";
  padding: 10px 0 10px 10px;
}
.AB-NAV-V2-D .categoryList li a.left-positioned {
  padding: 10px 0 10px 40px !important;
}
.AB-NAV-V2-D .subcategoryList-level3_title {
  display: none;
}
.AB-NAV-V2-D .subcategoryList-level3 {
  padding: 0;
  background-color: #e7f0f8;
  left: 315px;
  transition: top 0.05s;
}
.AB-NAV-V2-D .subcategoryList-level3 li a {
  border-bottom: 1px solid #e7f0f8;
}
.AB-NAV-V2-D .categoryList span.icon-keyboard_arrow_right {
  font-size: 20px;
  display: block;
  margin-top: 4px;
}
.AB-NAV-V2-D .subcategoryList-level3 {
  position: fixed;
  min-height: unset;
  height: 584px;
  min-width: 270px;
  /* width: unset !important; */
  column-count: unset;
  flex-direction: column;
  flex-wrap: wrap;
  padding-right: 10px;
}
.AB-NAV-V2-D .subcategoryList-level3.active {
  display: flex;
}
.AB-NAV-V2-D .categoryList {
  height: 584px;
  overflow: auto;
}
.AB-NAV-V2-D .categoryList::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.AB-NAV-V2-D .roi-scrollbar-track {
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: rgb(227, 227, 227);
  pointer-events: none;
}
.AB-NAV-V2-D .roi-scrollbar-thumb {
  position: absolute;
  width: 100%;
  background: rgb(176, 176, 176);
  min-height: 24px;
  border-radius: 2px;
}
.AB-NAV-V2-D #departmentsMenu > li:has(> #departmentButton_QuickOrder),
.AB-NAV-V2-D #departmentsMenu > li:has(> #departmentButton_Dashboard) {
  display: none;
}
.AB-NAV-V2-D #departmentsMenu > li.selected,
.AB-NAV-V2-D #departmentsMenu > li:hover {
  background: #e7f0f8 !important;
}
.AB-NAV-V2-D #departmentsMenu > li.selected p,
.AB-NAV-V2-D #departmentsMenu > li:hover p {
  color: #0e6cb6;
}
.AB-NAV-V2-D #departmentsMenu {
  max-width: 2000px;
  margin: auto;
}
.AB-NAV-V2-D #departmentsMenu li:has(> a.departmentButton[href="/deals-clearance"]) {
  border-right: 0;
}
.AB-NAV-V2-D #departmentsButton + ul.categoryList > li:last-of-type {
  border-bottom: none;
}
.AB-NAV-V2-D .departmentMenu {
  top: calc(100% + 1px);
}
.AB-NAV-V2-D #departmentsMenu > li:has(.departmentButton:hover) .categoryList li:nth-child(1) {
  background-color: #e7f0f8;
  color: rgb(77, 77, 77) !important;
}
.AB-NAV-V2-D #departmentsMenu > li:has(.departmentButton:hover) .categoryList li:nth-child(1) ul.subcategoryList {
  display: flex !important;
}
.AB-NAV-V2-D #departmentsMenu > li:has(.departmentButton:hover) .categoryList li:nth-child(1) ul.subcategoryList li {
  min-width: 236px;
}