.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

/* 
    text-left 
    text-right 
    uppercase
    text-nowrap


*/

.AB-PMO38 {
    .summit-Title-root.wrapper-section__head.text-xl.font-semibold,
    .wrapper-section.flex.flex-col.gap-2\.5 {
        display: none;
    }

    .ab-summary-wrapper {
        border: 1px solid rgba(229, 230, 236, 1);
        border-radius: 10px;
        background: rgba(255, 255, 255, 1);
        overflow: hidden;
    }

    .ab-wrapper-section__total {
        padding: 17px 15px 18px;
        gap: 12px;
    }

    .ab-summary-row--total .ab-summary-value {
        gap: 12px;
    }

    .ab-summary-dropdown {
        border-bottom: 1px solid rgba(229, 230, 236, 1);
        background: rgba(240, 241, 244, 1);
        
        &[area-expanded="true"] {
            .ab-summary-dropdown__arrow svg {
                transform: rotate(180deg);
            }
        }
        
        &[area-expanded="false"] {
            .ab-summary-dropdown__body {
                display: none;
            }
        }
        
        &__head {
            padding: 15px 15px 17px;
            cursor: pointer;
        }
        
        &__arrow {
            margin-left: 10px;
            svg {
                transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                width: 10px;
                min-width: 10px;
                height: 6px;
                min-height: 6px;
            }
        }
        
        &__body {
            padding: 3px 15px 14px;
            gap: 20px;
            overflow: hidden;
            will-change: height;
        }
    }

    .ab-summary-more-info {
        margin-left: 7px;
        cursor: pointer;

        svg {
            margin-top: -1px;
            width: 12px;
            min-width: 12px;
            height: 12px;
            min-height: 12px;
        }
    }

    // Util
    .ab-txt-sm {
        font-family:
            Nunito Sans,
            Nunito Sans Fallback;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: right;
        color: rgba(98, 98, 98, 1);
    }

    .ab-txt-regular {
        font-family:
            Nunito Sans,
            Nunito Sans Fallback;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0px;
        color: rgba(0, 5, 62, 1);
    }

    .ab-txt-lg {
        font-family:
            Nunito Sans,
            Nunito Sans Fallback;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0px;
        color: rgba(0, 5, 62, 1);
    }

    @media screen and (min-width: 768px) {
        .ab-summary-dropdown {
            &__head {
                padding: 18px 15px 21px;
            }

            &__arrow {
                //
            }

            &__body {
                padding: 3px 15px 21px;
            }
        }

        .ab-summary-more-info {
            cursor: pointer;
            margin-left: 4px;

            svg {
                margin-top: -1.2px;
            }
        }

        // Util
        .ab-txt-sm {
            //
        }

        .ab-txt-regular {
            font-weight: 500;
            font-size: 14px;
        }

        .ab-txt-lg {
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0px;
        }

        .ab-wrapper-section__total {
            gap: 15px;
        }

        .ab-summary-row--total .ab-summary-value {
            gap: 15px;
        }
    }
}
