.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-ADHESIVE-BACKED-PRODUCT-NAME {
    &.page-products .product-info-name-and-price {
        height: auto !important;
    }

    &.catalog-product-view h1.page-title.ab-title-and-brand-container > span.base:not(.ab-product-title) {
        display: none;
    }

    &.catalog-product-view .flex.justify-between.items-center.w-full.border-b.border-gray-300.flex-wrap.mb-3.py-2.gap-x-2.gap-y-1 .ab-brand {
        display: none;
    }

    &.checkout-cart-index .product-item-name a.font-bold {
        display: none;
    }

    #cart-drawer .flex.items-start.justify-between.gap-1 .flex.flex-col.gap-1 p.text-base {
        display: none;
    }

    #cart-drawer .product-card {
        height: 100%;
    }

    #cart-drawer .product-title {
        margin-bottom: 0;
    }

    .pdp-slider-container .pdp-slider .ab-title-and-brand-container .product-title {
        height: auto;
        margin-bottom: 0;
    }

    .pdp-slider-container .pdp-slider .swiper-slide {
        height: auto;
    }

    .pdp-slider-container .pdp-slider .swiper-slide .product-card {
        height: 100%;
    }

    //  New Content
    .ab-title-and-brand-container {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-bottom: 4px;
    }

    .ab-brand {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        contain: layout style paint;

        border: none;
        outline: none;

        &__label {
            font-family: Helvetica;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0px;
            vertical-align: middle;
            color: #374151;
        }

        &__img {
            border: 1px solid #d1d5db;
            border-radius: 4px;
            background-color: #ffffff;
            padding: 0 4px;
            width: 64px;
            max-width: 64px;
            height: 32px;

            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                width: 54px;
                max-width: 54px;
                height: auto;
            }

            img[alt="3M"] {
                width: auto;
                height: 15px;
            }
        }
    }

    @media screen and (min-width: 768px) {

        &.catalog-product-view h1.page-title.ab-title-and-brand-container .ab-brand {
            display: none;
        }

        &.catalog-product-view .flex.justify-between.items-center.w-full.border-b.border-gray-300.flex-wrap.mb-3.py-2.gap-x-2.gap-y-1 .ab-brand {
            display: flex;
            flex-grow: 1;
        }
    }
}
