.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

// font-family: "Onest Bold";

.AB-TEST008 {
    .container-md:has(.quick-info.row) {
        margin-bottom: 26px;
    }

    .ab-heading {
        font-family: "Onest Bold";
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: rgba(26, 43, 73, 1);
        margin-bottom: 17px;
    }

    .ab-content-row {
        margin-left: -20px;
        margin-right: -20px;
        padding: 12px 20px;
        margin-bottom: 24px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    }

    .slick-list {
        padding-top: 0;
        padding-bottom: 0;
    }

    .ab-content-row .slick-arrow.slick-disabled {
        display: none !important;
    }

    .slick-slider .slick-arrow {
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .slick-slider .slick-arrow:before {
        content: "";
        background: url('data:image/svg+xml,<svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.7009 10.5599L0.16037 21.4119L6.86959e-05 5.56138e-05L17.7009 10.5599Z" fill="%23278B2E"/></svg>');
        width: 20px;
        height: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .slick-slider .slick-prev.slick-arrow:before {
        transform: rotate(-180deg);
    }

    .ab-content-col {
        display: flex !important;
        flex-direction: column;
        height: auto;

        gap: 18px;

        // outline: 1px solid green;
    }

    .ab-content {
        flex-grow: 1;
        display: flex;
        gap: 5px;

        // outline: 1px solid brown;
    }

    .ab-content-icon {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 5px;
    }

    .ab-content-icon svg {
        margin-top: 15px;
        width: 50px;
        height: 50px;
        min-height: 50px;
        object-fit: contain;
    }

    .ab-content-serial,
    .ab-content-heading {
        font-family: "Onest Bold";
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: rgba(26, 43, 73, 1);
    }

    .ab-content-heading {
        text-align: left;
        text-wrap: pretty;
        margin-bottom: 2px;
    }

    .ab-content-description {
        font-family: "Onest Regular";
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: rgba(26, 43, 73, 1);
        // margin-bottom: 9.5px;
        text-align: left;
        text-wrap: pretty;
    }

    .ab-content-cta {
        width: 143px;
        height: 19px;
        border-radius: 5px;
        background-color: rgba(192, 255, 197, 1);
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: "Onest Regular";
        font-weight: 400;
        font-size: 10px;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        color: rgba(69, 69, 69, 1);

        margin-top: 9.5px;
    }

    .ab-button-container {
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-bottom: 21px;
    }

    .ab-button-divider {
        font-family: "Onest Regular";
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        color: rgba(117, 117, 117, 0.5);
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ab-button-container .link-modal-info-package {
        background-color: rgba(38, 139, 46, 1);
        color: rgba(255, 255, 255, 1);
        width: 100%;
        height: 29px;
        border-radius: 30px;
        border: 1px solid rgba(38, 139, 46, 1);

        font-family: "Onest Regular";
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: center;
    }

    .ab-button-container .track-fb-init-free-month {
        background-color: rgba(102, 204, 0, 1);
        color: rgba(255, 255, 255, 1);
        width: 100%;
        height: 29px;
        border-radius: 30px;
        border: 1px solid rgba(102, 204, 0, 1);

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: "Onest Regular";
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
    }

    @media screen and (min-width: 991px) {
        .container-md:has(.quick-info.row) {
            margin-bottom: 20px;
        }

        .ab-content-row {
            margin-left: 0;
            margin-right: 0;
            display: flex;
            margin-bottom: 0;
            box-shadow: none;
            gap: 68px;
            padding: 12px 20px 20px;
        }

        .ab-content-col {
            width: 33.33%;
            gap: 0;
        }

        .ab-content-col--arrow {
            position: relative;
        }

        .ab-content-col--arrow::after {
            content: "";
            position: absolute;
            right: -40px;
            top: 38%;
            background: url('data:image/svg+xml,<svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.7009 10.5599L0.16037 21.4119L6.86959e-05 5.56138e-05L17.7009 10.5599Z" fill="%23278B2E"/></svg>');
            width: 23px;
            height: 23px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .ab-content {
            min-height: 185px;
        }

        .ab-heading {
            font-size: 34px;
            line-height: 44px;
            margin-bottom: 25px;
        }

        .ab-content-icon {
            padding-right: 0;
        }

        .ab-content-icon svg {
            margin-top: 16px;
            width: 55px;
            height: 55px;
            min-height: 55px;
            object-fit: contain;
        }

        .ab-content-serial,
        .ab-content-heading {
            font-size: 16px;
            line-height: 24px;
        }

        .ab-content-heading {
            margin-bottom: 5px;
        }

        .ab-content-description {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0px;
            margin-bottom: 11px;
        }

        .ab-content-cta {
            width: 163px;
            height: 22.5px;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            margin-top: 0;
            margin-bottom: 12px;
        }

        .ab-button-container {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 30px;
            margin-bottom: 17px;
        }

        .ab-button-divider {
            font-size: 14px;
            line-height: 20px;
            color: rgba(117, 117, 117, 0.5);
        }

        .ab-button-container .link-modal-info-package {
            background-color: rgba(38, 139, 46, 1);
            color: rgba(255, 255, 255, 1);
            width: 100%;
            height: 52px;

            font-weight: 700;
            font-size: 20px;
            line-height: 21px;
        }

        .ab-button-container .track-fb-init-free-month {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: rgba(102, 204, 0, 1);
            color: rgba(255, 255, 255, 1);
            width: 100%;
            height: 52px;
            border: 1px solid rgba(102, 204, 0, 1);

            font-weight: 700;
            font-size: 20px;
            line-height: 21px;
        }


        .container-md:has(#azav-banner) > hr:first-child {
            margin-top: 0 !important;
            margin-bottom: 39px !important;
        }
    }
}
