.AB-EXP-147 .ab-view-all-dates-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-right: 15px;
  font-family: Roboto, sans-serif;
  color: #0576ae;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.AB-EXP-147 .ab-view-all-dates-link,
.AB-EXP-147 .ab-view-all-dates-link:hover,
.AB-EXP-147 .ab-view-all-dates-link:foucs {
  text-decoration: none;
  border: none;
  outline: none;
}

.AB-EXP-147 .ab-view-all-dates-link .sp-icon {
  font-size: 20px;
}

.AB-EXP-147 .production-page-section {
  padding-bottom: 25px;
}