.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-NAV-TIER-2-BRAND-M {
    nav .main-menu {
        font-family: inherit;
        overflow: hidden;
    }

    // MAIN
    nav .main-menu .container-fluid:not(.ab-nav-container) {
        display: none;
    }

    .ab-nav-container {
        position: relative;
        height: 100%;
    }

    .ab-nav-menu-container {
        width: 100%;
        position: relative;
    }

    .ab-nav-menu-top {
        width: 100%;
        padding: 15px 30px;
        background-color: #fff;
        border-bottom: 1px solid #d6d6d6;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ab-nav-menu-header {
        width: 100%;
        padding: 15px 30px;
        background-color: #fff;
        border-bottom: 1px solid #d6d6d6;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button.ab-nav-menu-back-cta {
        background: none;
        border: none;
        outline: none;
        -webkit-appearance: none;
        cursor: pointer;

        color: #222;

        display: flex;
        justify-content: flex-start;

        &:hover,
        &:focus,
        &:active {
            background-color: none;
            border: none;
            outline: none;
            -webkit-appearance: none;
        }

        .ab-nav-menu-back-cta {
            display: block;

            &__icon {
                //
            }
            &__text {
                text-transform: uppercase;
                font-weight: bold;
                color: #222;
                font-size: 16px;
            }
        }

        .ab-caret-left {
            // display: block;
            // position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 23px;
                left: 15px;
                border-right: 8px solid;
                border-top: 8px solid rgba(0, 0, 0, 0);
                border-bottom: 8px solid rgba(0, 0, 0, 0);
                border-radius: 5px;
                color: #222;
            }

            &:after {
                content: "";
                position: absolute;
                top: 26px;
                left: 19px;
                border-right: 5px solid #fff;
                border-top: 5px solid rgba(0, 0, 0, 0);
                border-bottom: 5px solid rgba(0, 0, 0, 0);
            }
        }
    }

    .ab-nav-top-logo {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            display: block;
            width: 100%;
            max-height: 30px !important;
            max-width: 125px !important;
        }
    }

    .ab-nav-close-cta {
        font-family: Jagger;
        font-size: 2rem;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        font-weight: 700;
        line-height: 1;
    }

    .ab-nav-menu-container {
        flex-direction: column;
        position: absolute;
        height: 100%;
        top: 0;
        left: -100%;
        transition: all 0.3s ease-in-out;
        z-index: 1;
        background-color: #fff;

        &--show {
            display: flex;
            left: 0;
        }
    }

    .ab-nav-menu-container.ab-nav-menu-container-level-1 {
        display: flex;
        left: 0 !important;
    }

    .ab-nav-menu-container.ab-nav-menu-container-level-2 {
        overflow-y: auto;
    }

    .ab-nav-menu-container-level-1 > .ab-nav-menu-list {
        padding-top: 1rem;
        padding-left: 29px;
        height: 100%;
    }

    .ab-nav-menu-container-level-2 {
        z-index: 2;
    }
    .ab-nav-menu-container-level-3 {
        z-index: 3;
    }

    ul.ab-nav-menu-list {
        // flex-grow: 1;
        // height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        position: static;
        background-color: #fff;
        margin-bottom: 15px;
    }

    li.ab-nav-menu-item {
        margin: 0;
        position: static;
    }

    .ab-nav-menu-container-level-1 > .ab-nav-menu-list > .ab-nav-menu-item > .ab-nav-menu-item-link {
        width: 100%;
        display: flex;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 1rem;
        position: relative;
        padding: 1rem;
        font-size: 16px;
        color: #444;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .ab-nav-menu-item-link {
        width: 100%;
        display: flex;
        font-weight: bold;
        text-transform: capitalize;
        margin-left: 0;
        padding: 0.5rem;
        padding-left: 29px;
        position: relative;
        font-size: 16px;
        color: #444;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .ab-nav-menu-item--shop-all .ab-nav-menu-item-link,
    .ab-nav-menu-item-link--has-sub-menu {
        &::before {
            content: "";
            position: absolute;
            top: 16px;
            right: 30px;
            border-left: 8px solid;
            border-top: 8px solid rgba(0, 0, 0, 0);
            border-bottom: 8px solid rgba(0, 0, 0, 0);
            border-radius: 5px;
            color: #444;
        }

        &::after {
            content: "";
            position: absolute;
            right: 34px;
            top: 19px;
            border-left: 5px solid #fff;
            border-top: 5px solid rgba(0, 0, 0, 0);
            border-bottom: 5px solid rgba(0, 0, 0, 0);
            color: #444;
        }
    }

    .ab-nav-menu-item--shop-all .ab-nav-menu-item-link {
        padding: 1rem;
        padding-left: 29px;
        text-decoration: underline;
        font-weight: bold;
        color: #666;
    }

    li.ab-nav-menu-item.ab-nav-menu-item--shop-all {
        margin-top: 9px;
    }

    .ab-nav-brand-list-wrapper {
        padding-top: 28.5px;
        background-color: #f0f0f0;
        flex-grow: 1;
    }

    .ab-nav-brand-list-header {
        padding-left: 32px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: Italic;
        font-size: 15px;
        line-height: 250%;
        letter-spacing: 0px;
        color: #444;
        text-transform: uppercase;
        margin-bottom: 7px;
    }

    ul.ab-nav-brand-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: static;
        margin-bottom: 15px;
    }

    li.ab-nav-brand-item {
        margin: 0;
        position: static;
    }

    .ab-nav-brand-item-link {
        width: 100%;
        display: flex;
        margin-left: 0;
        padding: 0 0.5rem 0 29px;
        position: relative;

        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 18px;
        line-height: 250%;
        letter-spacing: 0px;
        text-transform: uppercase;
        text-decoration: none;
        
        &:focus,
        &:active {
            text-decoration: none;
        }

        &::before {
            content: "";
            position: absolute;
            top: 16px;
            right: 30px;
            border-left: 8px solid;
            border-top: 8px solid rgba(0, 0, 0, 0);
            border-bottom: 8px solid rgba(0, 0, 0, 0);
            border-radius: 5px;
            color: #444;
        }

        &::after {
            content: "";
            position: absolute;
            right: 34px;
            top: 19px;
            border-left: 5px solid #fff;
            border-top: 5px solid rgba(0, 0, 0, 0);
            border-bottom: 5px solid rgba(0, 0, 0, 0);
            color: #444;
        }
    }
}
