.AB-STICKY-ADD-TO-CART #newsletter-ribbon {
  transition: all 0.3s;
}
.AB-STICKY-ADD-TO-CART #add-to-cart-area input.add-to-cart {
  display: none;
}
.AB-STICKY-ADD-TO-CART #add-to-cart-area .ab-add-to-cart:active, .AB-STICKY-ADD-TO-CART #add-to-cart-area .ab-add-to-cart:focus {
  border: none !important;
  outline: none !important;
}
.AB-STICKY-ADD-TO-CART .ab-sticky-cart-container {
  position: fixed;
  bottom: -100px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99999;
  padding: 10px 15px 15px;
  border-top: 1px solid #ebebeb;
  background-color: #fff;
  transition: all 0.3s;
}
.AB-STICKY-ADD-TO-CART .ab-sticky-cart-container button {
  font-family: "Open Sans", Helvetica, Arial, -apple-system, BlinkMacSyste;
  border-radius: 5px;
}
.AB-STICKY-ADD-TO-CART .ab-sticky-cart-container button:active, .AB-STICKY-ADD-TO-CART .ab-sticky-cart-container button:focus {
  border: none !important;
  outline: none !important;
}
.AB-STICKY-ADD-TO-CART--show-sticky #___ratingbadge_0 {
  z-index: 0 !important;
}
.AB-STICKY-ADD-TO-CART--show-sticky .ab-sticky-cart-container {
  bottom: 0;
}
.AB-STICKY-ADD-TO-CART--show-sticky #newsletter-ribbon {
  position: fixed;
  bottom: 78px;
}
.AB-STICKY-ADD-TO-CART--show-sticky #page-footer-bottom {
  padding-bottom: 85px;
}
.AB-STICKY-ADD-TO-CART--show-sticky:has(> #newsletter-ribbon) #page-footer-bottom {
  padding-bottom: 125px;
}