.AB-LME95 .ab-inline-ad {
    grid-column: span 2;
    background-color: rgb(242, 119, 198);
    border-radius: 11px;
    overflow: hidden;
    border: none;
    outline: none;
    box-shadow: none;
}
.AB-LME95 .ab-inline-ad:hover,
.AB-LME95 .ab-inline-ad:focus {
    border: none;
    outline: none;
}
.AB-LME95 .ab-inline-ad__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AB-LME95 .ab-inline-ad__container > img {
    width: 100%;
    height: auto;
}
.AB-LME95 img.ab-inline-ad__img--mobile {
    display: block;
}
.AB-LME95 img.ab-inline-ad__img--desktop {
    display: none;
}
@media screen and (min-width: 750px) {
    .AB-LME95 .ab-inline-ad {
        grid-column: span 1;
    }
    .AB-LME95 img.ab-inline-ad__img--mobile {
        display: none;
    }
    .AB-LME95 img.ab-inline-ad__img--desktop {
        display: block;
    }
}
