.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.LME36 {
    // .product-content {
    //    overflow: hidden;
    // }

    .ab-hidden {
        display: none !important;
    }

    .faq-container {
        position: relative;
    }

    .faq-title-container {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 22px;
        padding-right: 22px;
        gap: 5px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: scroll;
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */

        &::-webkit-scrollbar {
            display: none; /* For Chrome, Safari, and Opera */
        }

        @media screen and (min-width: 1025px) {
            margin-left: -40px;
            margin-right: -40px;
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    .faq-title-tab {
        padding: 10px 15px;
        border-radius: 30000px;
        background: #c5ff89;
        cursor: pointer;
    }

    .faq-title {
        color: #000;
        font-family:
            Mier A,
            helvetica,
            arial,
            sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 114.286% */
        text-transform: uppercase;
        white-space: nowrap;
    }

    .faq-title-star {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // margin-left: 3px;
        // margin-right: 1.5px;
    }

    .faq-title-star svg {
        width: 16px;
        height: 16px;
    }

    .faq-description {
        display: none;
    }

    .faq-dropdown-backdrop {
        display: none;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @media screen and (min-width: 768px) {
            z-index: 9;
            opacity: 0;
            display: none !important;
        }
    }

    .faq-dropdown {
        position: absolute;
        z-index: 1000;
        border-radius: 24px;
        background: #dfc8e7;

        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        // min-height: 263px;
        padding: 25px 18px 25px;

        @media screen and (max-width: 768px) {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            // height: 285px;
            height: max-content;
            margin-top: auto;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (min-width: 768px) {
            width: 117%;
            top: -26px;
            left: -8%;
            right: 0%;
            min-width: 340px;
            position: absolute;
            z-index: 10;
            top: 50px;
            left: -7.5%;
            right: 0%;
            // width: 110%;
            width: 115%;
            gap: 18px;
            // min-height: 230px;
            padding: 28px 25px 28px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        }

        @media screen and (min-width: 1200px) {
            left: -5%;
            right: 0%;
            width: 110%;
        }
    }

    .faq-dropdown__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .faq-dropdown__title-tab {
        padding: 10px 15px;
        border-radius: 30000px;
        background: #c5ff89;
    }

    .faq-dropdown__title {
        color: #000;
        font-family:
            Mier A,
            helvetica,
            arial,
            sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        // white-space: nowrap;
    }

    .faq-dropdown__close-cta {
        width: max-content;
        width: 25px;
        height: 25px;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
            width: 14.5px;
            height: 14.5px;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    .faq-dropdown__body {
        color: #000;
        font-family:
            Mier A,
            helvetica,
            arial,
            sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        text-align: left;
        width: 100%;

        @media screen and (max-width: 768px) {
            padding-bottom: 20px;
        }
    }

    &--show-faq-dropdown {
        overflow: hidden;

        .faq-dropdown-backdrop {
            display: block;
        }

        .faq-dropdown {
            display: flex;
            @media screen and (max-width: 768px) {
                animation: slideIn 0.3s ease-in-out;
            }
        }

        #chat-button {
            display: none !important;
        }
    }
}

.LME36--v1 {
    .custom-benefit-controls {
        margin-bottom: 18px;
    }
}

.LME36--v2 {
    .faq-container {
        margin-top: 15px;
    }
}

@keyframes slideIn {
    from {
        bottom: -285px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}
