.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-MINI-CART {
    section#messages[aria-live="assertive"][role="alert"] {
        display: none;
    }

    #cart-drawer .ab-product-container {
        height: 100%;
    }

    #cart-drawer .relative.grid.mt-6.sm\:mt-6.py-3.px-1.sm\:px-3.bg-white .w-full.pb-3.px-3 {
        padding: 0;
        margin-bottom: 16px;
    }

    #cart-drawer
        .relative.grid.mt-6.sm\:mt-6.py-3.px-1.sm\:px-3.bg-white
        .w-full.pb-3.px-3
        .bg-black.border-1.border-black.font-poppins.font-bold.text-sm.flex.px-4.py-1\.5.justify-center.items-center.text-white.rounded-\[3px\].shadow-lg {
        background: #e5e7eb;
        box-shadow: none;
        padding: 6px 0;
        min-height: 32px;
        border-radius: 3px;

        border: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
        vertical-align: middle;
        color: #1d1d1d;

        .flex.items-center.gap-3 {
            gap: 9.5px;
        }

        a {
            text-decoration: none;
        }

        .bg-\[\#ffffff50\].rounded-full.p-\[5px\].flex-shrink-0 {
            background-color: transparent;
            padding: 0;

            svg {
                width: 15px;
                height: 15px;
            }
        }
    }

    #cart-drawer .hover\:bg-gray-100:hover {
        background-color: #fff;
    }

    #cart-drawer .w-full.flex.items-center.flex-col.p-3.gap-2.transition.duration-150.ease-in-out.rounded-lg.hover\:bg-gray-100 {
        padding-left: 0;
        padding-right: 0;
        gap: 12px;
        padding-bottom: 0;

        a[href="https://www.hookandloop.com/checkout/"]
        {
            height: 44px;
            background-color: #eb0000;
            border-radius: 3px;
            padding: 12px 0;

            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0px;
            vertical-align: middle;
            text-transform: uppercase;
            color: #ffffff;

            &:hover {
                padding: 12px 0;
                border: 0;
            }
        }

        a[href="https://www.hookandloop.com/checkout/cart/"]
        {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0px;
            vertical-align: middle;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: auto;
            color: #000000;
        }
    }

    #cart-drawer .relative.grid.mt-6.sm\:mt-6.py-3.px-1.sm\:px-3.bg-white {
        padding: 16px;
        margin-top: 0;
    }

    #cart-drawer .relative.grid.gap-6.sm\:gap-8.px-1.py-3.sm\:px-3.bg-white.border-b.border-container.overflow-y-auto.overscroll-y-contain {
        border: 0;
    }

    #cart-drawer .ab-product-section-container {
        border: 1px solid red;
        height: 70vh;
        overflow-y: scroll;
    }

    .ab-continue-shopping-btn {
        height: 44px;
        width: 100%;
        background: #ffebeb;
        border: 2px solid #eb0000;
        border-radius: 3px;

        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        vertical-align: middle;
        text-transform: uppercase;
        color: #eb0000;

        transition: all 0.2s;

        &:hover {
            background: #eb0000;
            color: #fff;
        }
    }
}
