.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-MINI-CART {
    section#messages[aria-live="assertive"][role="alert"] {
        display: none;
    }

    // #cart-drawer #cartDrawerContent {
    //     margin-top: 87px;
    // }

    // #header:not(.hidden) {
    //     #cart-drawer #cartDrawerContent {
    //         margin-top: 146px;
    //     }
    // }

    #cart-drawer .ab-hidden {
        display: none;
    }

    #cart-drawer header {
        padding: 16px;
        border-bottom: 1px solid #e5e7eb;
    }

    #cart-drawer button.absolute.top-0.right-2.p-4.mt-2.text-black.transition-colors[aria-label="Close minicart"] {
        padding-right: 6px;
        margin-top: 0;
    }

    #cart-drawer .ab-product-container {
        height: 100%;
    }

    #cart-drawer .relative.grid.mt-6.sm\:mt-6.py-3.px-1.sm\:px-3.bg-white .w-full.pb-3.px-3 {
        padding: 0;
        margin-bottom: 16px;
    }

    #cart-drawer
        .relative.grid.mt-6.sm\:mt-6.py-3.px-1.sm\:px-3.bg-white
        .w-full.pb-3.px-3
        .bg-black.border-1.border-black.font-poppins.font-bold.text-sm.flex.px-4.py-1\.5.justify-center.items-center.text-white.rounded-\[3px\].shadow-lg {
        background: #e5e7eb;
        box-shadow: none;
        padding: 6px 0;
        min-height: 32px;
        border-radius: 3px;

        border: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
        vertical-align: middle;
        color: #1d1d1d;

        .flex.items-center.gap-3 {
            gap: 9.5px;
        }

        a {
            text-decoration: none;
        }

        .bg-\[\#ffffff50\].rounded-full.p-\[5px\].flex-shrink-0 {
            background-color: transparent;
            padding: 0;

            svg {
                width: 15px;
                height: 15px;
            }
        }
    }

    #cart-drawer .hover\:bg-gray-100:hover {
        background-color: #fff;
    }

    #cart-drawer button[type="button"][aria-label="Close minicart"].text-black.transition-colors.hover\:text-hnleb0 {
        svg {
            display: none;
        }

        &:after {
            content: "";
            display: block;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="%23eb0000" width="24" height="24" role="img"><path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" ></path><title>trash</title></svg>');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 22.5px;
            height: 26.5px;
        }
    }

    #cart-drawer .w-full.flex.items-center.flex-col.p-3.gap-2.transition.duration-150.ease-in-out.rounded-lg.hover\:bg-gray-100 {
        padding: 0;
        gap: 12px;

        a[href="https://www.hookandloop.com/checkout/"]
        {
            height: 44px;
            background-color: #eb0000;
            border-radius: 3px;
            padding: 12px 0;

            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0px;
            vertical-align: middle;
            text-transform: uppercase;
            color: #ffffff;

            &:hover {
                padding: 12px 0;
                border: 0;
            }
        }

        a[href="https://www.hookandloop.com/checkout/cart/"]
        {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0px;
            vertical-align: middle;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: auto;
            color: #000000;
        }
    }

    #cart-drawer .relative.grid.mt-6.sm\:mt-6.py-3.px-1.sm\:px-3.bg-white {
        padding: 16px;
        margin-top: 0;
    }

    #cart-drawer .relative.grid.gap-6.sm\:gap-8.px-1.py-3.sm\:px-3.bg-white.border-b.border-container.overflow-y-auto.overscroll-y-contain {
        border: 0;
    }

    #cart-drawer .w-full.p-3.space-x-4.transition.duration-150.ease-in-out.rounded-lg.hover\:bg-gray-100 {
        // height: 24px;
        padding: 0;
        padding-bottom: 16px;

        p {
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0px;
            color: #1d1d1d;
        }

        span {
            margin-left: auto;
        }
    }

    #cart-drawer .ab-product-section-container {
        // border: 1px solid red;
        height: 70vh;
        overflow-y: auto;

        scrollbar-width: thin;
        scrollbar-color: #c1c1c1 #f1f1f1;

        /* For Webkit browsers (Chrome, Safari, Edge) */
        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: #c1c1c1;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #a8a8a8;
        }
    }

    #cart-drawer .relative.grid.gap-6.sm\:gap-8.px-1.py-3.sm\:px-3.bg-white.border-b.border-container.overflow-y-auto.overscroll-y-contain {
        padding: 0;
        gap: 0;
    }

    #cart-drawer .flex.items-start.p-3.space-x-4.transition.duration-150.ease-in-out.rounded-lg.hover\:bg-gray-100 {
        padding: 16px;

        .flex.items-start.justify-between.gap-1 {
            gap: 8px;
        }
    }

    #cart-drawer span[x-html="item.product_sku"] {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #6b7280;
    }

    #cart-drawer .flex.items-start.justify-between.gap-1 p.text-xl {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        text-align: left;
        color: #000000;
    }

    .ab-product-sku-price-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ab-price-container {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: right;
        vertical-align: middle;
        color: #000000;
    }

    .ab-product-quantity-container {
        margin-top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        width: max-content;
        background: #e5e7eb;
        padding: 4px;
    }

    .ab-product-quantity-update-action {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .ab-product-quantity {
        width: 32px;
        background-color: transparent;
        height: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        color: #000000;
    }

    .ab-continue-shopping-btn {
        height: 44px;
        width: 100%;
        background: #ffebeb;
        border: 2px solid #eb0000;
        border-radius: 3px;

        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        vertical-align: middle;
        text-transform: uppercase;
        color: #eb0000;

        transition: all 0.2s;

        &:hover {
            background: #eb0000;
            color: #fff;
        }
    }

    .ab-subtotal-progress-container {
        // padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        &__hidden {
            display: none;
        }
    }

    .ab-subtotal-progress-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .ab-subtotal-progress-heading__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    .ab-subtotal-progress-heading__text {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
        color: #1d1d1d;
    }

    .ab-subtotal-progress-bar {
        width: 100%;
        height: 8px;
        background: #e5e7eb;
        position: relative;
        overflow: hidden;
    }

    .ab-subtotal-progress-bar__progress {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 8px;
        background: #1d1d1d;
        transition: all 0.2s;
    }

    .ab-subtotal-progress-prices {
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        color: #eb0000;
    }
}
