.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-TEST-018 {
    .ab-celebration-message-container:empty {
        display: none !important;
    }

    .ab-celebration-message-container {
        display: block;
        padding: 13px 4px 14px;
        font-family: Inter, sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #03a616;
        text-align: left;
    }
}

.AB-TEST-018--v2 {
    .ab-celebration-message-container.ab-celebration-message-container--viewing-for-single {
        position: relative;
        margin-top: 18px;
        margin-bottom: 8px;
        height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 5px 5px 3px;
        background: #3cc261;
        border-radius: 2px;
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
        text-align: center;
    }

    .ab-celebration-message-container.ab-celebration-message-container--viewing-for-single::before {
        position: absolute;
        content: "";
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none"><path d="M7.16802 2.18271C7.8674 0.585897 10.1326 0.585899 10.832 2.18271L17.2989 16.9476C17.8776 18.2691 16.9095 19.75 15.4669 19.75H2.53313C1.09047 19.75 0.122352 18.2691 0.701139 16.9476L7.16802 2.18271Z" fill="%233CC261"/></svg>');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 22px;
        height: 29px;
        top: -19px;
        left: 40.5%;
        opacity: 1;
        border-radius: 2px;
    }
}
