.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-LME95 {
    .ab-inline-ad {
        grid-column: span 2;
        background-color: rgba(242, 119, 198, 1);
        border-radius: 11px;
        overflow: hidden;
    }

    .ab-inline-ad__container {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .ab-inline-ad__image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-grow: 1;
    }

    .ab-inline-ad__image img {
        //
    }

    .ab-inline-ad__img--mobile {
        width: 100%;
        height: auto;
        display: block;
        object-fit: contain;
    }

    .ab-inline-ad__img--desktop {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .ab-inline-ad__content {
        padding: 18px 13px 18px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 11px;
    }

    .ab-inline-ad__heading {
        font-family: Recoleta;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 1);

        br {
            display: none;
        }
    }

    .ab-inline-ad__cta {
        padding: 12px 27px;
        background-color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(0, 0, 0, 1);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;

        font-family: Mier A;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
    }

    @media screen and (min-width: 1200px) {
        .ab-inline-ad {
            grid-column: span 1;
        }

        .ab-inline-ad__container {
            flex-direction: column;
        }

        .ab-inline-ad__img--mobile {
            display: none;
        }

        .ab-inline-ad__img--desktop {
            display: block;
        }

        .ab-inline-ad__content {
            margin-top: auto;
            padding: 0 10px 18px 10px;
            // padding: 0 17px 18px 17px;
            gap: 13px;
        }

        .ab-inline-ad__heading {
            font-weight: 500;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: 0px;
        }

        .ab-inline-ad__cta {
            padding: 15px 49px;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0px;
        }
    }

    @media screen and (min-width: 1500px) {
        .ab-inline-ad__heading {
            br {
                display: block;
            }
        }
    }
}
