.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-TEST056 {
    .content > h2,
    .ab-039_slider-banner_container,
    .ab-039_banner_container {
        display: none;
    }

    .syn-sl--box-description {
        margin-bottom: 16px;
    }

    .ab-security-layout {
        display: flex;
        flex-direction: column;
    }

    .ab-security-layout--locking-level {
        margin-top: -3%;
        margin-bottom: 3%;
    }

    .ab-security-layout__head {
        background: #eaeff580;
        padding: 7px 10px 11px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 21px;
        margin-left: -1%;
        margin-right: -1%;
    }

    .ab-security-layout__title {
        min-height: 15px;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #13629b;
        display: inline-flex;
        align-items: center;
        // white-space: nowrap;
    }

    .ab-security-layout__tooltip-cta {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: max-content;
        cursor: pointer;
        position: relative;
    }

    .ab-security-layout__tooltip-cta:before {
        content: "";
    }

    .ab-security-layout__tooltip-cta svg {
        width: 10px;
        height: auto;
    }

    .ab-security-layout__tooltip-cta:after {
        content: "Info";
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
        text-decoration: underline;
        color: #13629b;
    }

    .ab-security-layout__body {
        margin-left: -1%;
        margin-right: -1%;
        padding-top: 9px;
        padding-left: 21px;
        padding-right: 21px;
    }

    .ab-security-layout__head > .ab-security-layout__tooltip-cta {
        display: none;
    }

    .ab-security-layout__options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 17px;
    }

    .ab-security-layout__option-item {
        user-select: none;
        width: max-content;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 14px;
    }

    .ab-security-layout__option-item.checked {
        .ab-security-layout__option-item__checkbox {
            background: #13629b;
        }

        .ab-security-layout__option-item__checkbox:after {
            opacity: 1;
        }
    }

    .ab-security-layout__option-item__checkbox {
        width: 16px;
        height: 16px;
        border: 2px solid #13629b;
        background: #fff;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ab-security-layout__option-item__checkbox:after {
        opacity: 0;
        content: "";
        width: 8px;
        height: 3px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(-45deg);
        margin-top: -4px;
        transition: opacity 0.3s;
    }

    .ab-security-layout__option-item__label {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 700;
        font-size: 11px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #13629b;
    }

    @media screen and (min-width: 991px) {
        .syn-sl--box-description {
            margin-bottom: 19px;
        }

        .ab-security-layout__head > .ab-security-layout__tooltip-cta {
            display: flex;
        }

        .ab-security-layout__tooltip-cta:after {
            display: none;
        }

        .ab-security-layout__head {
            padding: 9px 7px 6px;
        }

        .ab-security-layout__title {
            min-height: 31px;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
        }

        .ab-security-layout__tooltip-cta svg {
            width: 19px;
        }

        .ab-security-layout__body {
            margin-left: -1%;
            margin-right: -1%;
            padding-top: 16px;
            padding-left: 19px;
            padding-right: 19px;
        }

        .ab-security-layout__options {
            display: flex;
            justify-content: space-between;
        }

        .ab-security-layout__option-item__label {
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
        }

        .ab-security-layout__option-item__checkbox {
            width: 21px;
            height: 21px;
        }

        .ab-security-layout__option-item__checkbox:after {
            width: 10px;
            height: 5px;
            margin-top: -4px;
        }
    }
}
