.AB-MMI20 #main,
.AB-MMI20 .shopify-section.logos {
  background-color: #fff;
}
.AB-MMI20 main .shopify-section.ingredients-slider-v2 {
  padding-bottom: 0 !important;
}
.AB-MMI20 .shopify-section.logos {
  padding-top: 24px;
  padding-bottom: 40px;
}
.AB-MMI20 .shopify-section.product-benefits {
  margin-top: 0;
  margin-bottom: 87px;
}
.AB-MMI20 .shopify-section.product-benefits .product-benefits__wrapper::before,
.AB-MMI20 .shopify-section.product-benefits .product-benefits__wrapper::after {
  z-index: 1;
}
@media screen and (min-width: 1200px) {
  .AB-MMI20 .shopify-section.product-benefits {
    margin-top: 120px;
    margin-bottom: 80px;
  }
}

.AB-MMI20--v2 component-accordions {
  display: none;
}
.AB-MMI20--v2 .ab-accordion-grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 14px;
}
.AB-MMI20--v2 .ab-accordion-grid-item {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.AB-MMI20--v2 .ab-accordion {
  border: 1px solid #b2b4b5;
  border-radius: 7px;
  padding: 15px 17px 15px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: padding 0.3s ease-in-out;
  will-change: padding;
}
.AB-MMI20--v2 .ab-accordion__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 16px;
  cursor: pointer;
}
.AB-MMI20--v2 .ab-accordion__middle {
  flex-grow: 1;
  margin: auto;
}
.AB-MMI20--v2 .ab-accordion__right {
  width: 30px;
  min-width: 30px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
.AB-MMI20--v2 .ab-accordion__left img {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  object-fit: contain;
  object-position: center;
}
.AB-MMI20--v2 .ab-accordion__head {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.AB-MMI20--v2 .ab-accordion__heading {
  font-family: Circular, sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #000000;
}
.AB-MMI20--v2 .ab-accordion__chevron {
  margin-top: 20px;
  will-change: margin-top;
  transition: margin-top 0.3s ease-in-out;
}
.AB-MMI20--v2 .ab-accordion__chevron:after {
  content: "";
  display: block;
  width: 22px;
  height: 9px;
  background: url("https://magicmind.com/cdn/shop/files/arrow-down.svg?v=1770640687&width=66") center/contain no-repeat;
  transition: all 0.3s ease-in-out;
}
.AB-MMI20--v2 .ab-accordion__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  will-change: height;
}
.AB-MMI20--v2 .ab-accordion__info-title {
  font-family: Akkurat Mono, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 2%;
  color: #000000;
}
.AB-MMI20--v2 .ab-accordion__info-exclusive {
  height: 19px;
  border-radius: 2px;
  padding-top: 3px;
  background-color: #00a087;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Akkurat Mono, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.AB-MMI20--v2 .ab-accordion__info-sub-title {
  font-family: Circular, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0;
  color: #000000;
}
.AB-MMI20--v2 .ab-accordion__info-content {
  font-family: Circular, sans-serif;
  font-weight: 450;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0;
  color: #000000;
}
.AB-MMI20--v2 .ab-accordion.ab-accordion--expanded .ab-accordion__chevron {
  margin-top: 17px;
}
.AB-MMI20--v2 .ab-accordion.ab-accordion--expanded .ab-accordion__chevron:after {
  width: 14px;
  height: 14px;
  background: url('data:image/svg+xml,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.353516 14.3535L7.35352 7.35352L14.3535 0.353516" stroke="%2305060A"/><path d="M14.3535 14.3535L7.35352 7.35352L0.353516 0.353516" stroke="%2305060A"/></svg>') center/contain no-repeat;
  transform: rotate(-180deg);
}
.AB-MMI20--v2 .ab-accordion.ab-accordion--expanded .ab-accordion__middle {
  display: flex;
  flex-direction: column;
}
.AB-MMI20--v2 .ab-accordion.ab-accordion--expanded .ab-accordion__head {
  height: 50px;
}
.AB-MMI20--v2 .ab-accordion.ab-accordion--expanded .ab-accordion__info {
  height: 100%;
  max-height: 1200px;
}
@media screen and (min-width: 1200px) {
  .AB-MMI20--v2 .ab-accordion-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .AB-MMI20--v2 .ab-accordion__left img {
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    object-fit: contain;
  }
}