.AB-MMI20 #main, .AB-MMI20 .shopify-section.logos {
  background-color: #fff;
}
.AB-MMI20 main .shopify-section.ingredients-slider-v2 {
  padding-bottom: 0 !important;
}
.AB-MMI20 .shopify-section.logos {
  padding-top: 24px;
  padding-bottom: 40px;
}
.AB-MMI20 .shopify-section.product-benefits {
  margin-top: 0;
  margin-bottom: 87px;
}
.AB-MMI20 .shopify-section.product-benefits .product-benefits__wrapper::before,
.AB-MMI20 .shopify-section.product-benefits .product-benefits__wrapper::after {
  z-index: 1;
}
@media screen and (min-width: 1200px) {
  .AB-MMI20 .shopify-section.product-benefits {
    margin-top: 120px;
    margin-bottom: 80px;
  }
}