.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-STICKY-ADD-TO-CART {
    #add-to-cart-area input.add-to-cart {
        display: none;
    }
    #add-to-cart-area .ab-add-to-cart {
        &:active,
        &:focus {
            border: none !important;
            outline: none !important;
        }
    }

    .ab-sticky-cart-container {
        position: fixed;
        bottom: -100px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 99999;
        padding: 10px 15px 15px;
        border-top: 1px solid #ebebeb;
        background-color: #fff;
        transition: all 0.3s;
    }

    .ab-sticky-cart-container button {
        font-family:
            "Open Sans",
            Helvetica,
            Arial,
            -apple-system,
            BlinkMacSyste;
        border-radius: 5px;

        &:active,
        &:focus {
            border: none !important;
            outline: none !important;
        }
    }

    &--show-sticky {

        #___ratingbadge_0 {
            z-index: 0 !important;
        }

        .ab-sticky-cart-container {
            bottom: 0;
        }
    }
}
