.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-LME87 {
    #gorgias-chat-container,
    .frame-content {
        display: none !important;
    }

    .bundle-builder__form {
        padding-top: 30px;
        overflow: visible;

        & > .heading-4.text-center {
            display: none;
        }

        &.active {
            button.bundle-builder__form-toggle {
                &:after {
                    margin-top: 2px;
                    transform: rotate(-135deg);
                }
            }
        }

        button.bundle-builder__form-toggle {
            // background: red;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 1);
            border-radius: 50%;
            position: absolute !important;
            top: -15px;
            left: 85%;
            z-index: 100000;

            &:after {
                content: "";
                width: 10px;
                height: 10px;
                border-right: 3px solid #fff;
                border-bottom: 3px solid #fff;
                transform: rotate(45deg);
                margin-top: -4px;
            }
        }

        .bundle-builder__items {
            width: auto;
            min-width: 100%;
            overflow-x: scroll;
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .ab-border {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    .ab-step-heading {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        line-height: 100%;

        &__step-no {
            background-color: rgba(0, 0, 0, 1);
            width: 24px;
            height: 24px;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            font-family: "Mier A";
            font-weight: 700;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0px;
            color: rgba(255, 255, 255, 1);
        }

        &__label {
            font-family: "Recoleta";
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0px;
            color: rgba(0, 0, 0, 1);
        }
    }

    .ab-step-heading--1 {
        margin-bottom: 34px;
    }

    .ab-step-heading--2 {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .ab-step-heading--3 {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .bundle-builder__form {
        .bundle-builder__pack-size-options {
            margin-bottom: 30px;
        }
    }

    .ab-progress {
        width: 100%;
        height: 24px;
        margin-bottom: 26px;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ab-progress__bar {
        width: 100%;
        height: 12px;
        background: rgba(255, 255, 255, 1);
        border-radius: 10px;
        border: 2px solid rgba(59, 59, 206, 1);
        position: relative;
        overflow: hidden;
    }

    .ab-progress__progress {
        // width: 30%;
        width: 0;
        height: 12px;
        background: rgba(59, 59, 206, 1);
    }

    .ab-progress-step {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;
        background-image: url('data:image/svg+xml,<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0986 1.92969C13.063 0.689984 14.937 0.689982 15.9014 1.92969L16.7031 2.95996C16.8155 3.10438 17.0101 3.15683 17.1797 3.08789L18.3887 2.59668C19.8438 2.00516 21.4665 2.94207 21.6816 4.49805L21.8604 5.79102C21.8856 5.97202 22.028 6.11444 22.209 6.13965L23.502 6.31836C25.0579 6.53353 25.9948 8.15625 25.4033 9.61133L24.9121 10.8203C24.8432 10.9899 24.8956 11.1845 25.04 11.2969L26.0703 12.0986C27.31 13.063 27.31 14.937 26.0703 15.9014L25.04 16.7031C24.8956 16.8155 24.8432 17.0101 24.9121 17.1797L25.4033 18.3887C25.9948 19.8438 25.0579 21.4665 23.502 21.6816L22.209 21.8604C22.028 21.8856 21.8856 22.028 21.8604 22.209L21.6816 23.502C21.4665 25.0579 19.8438 25.9948 18.3887 25.4033L17.1797 24.9121C17.0101 24.8432 16.8155 24.8956 16.7031 25.04L15.9014 26.0703C14.937 27.31 13.063 27.31 12.0986 26.0703L11.2969 25.04C11.1845 24.8956 10.9899 24.8432 10.8203 24.9121L9.61133 25.4033C8.15625 25.9948 6.53353 25.0579 6.31836 23.502L6.13965 22.209C6.11444 22.028 5.97202 21.8856 5.79102 21.8604L4.49805 21.6816C2.94207 21.4665 2.00516 19.8438 2.59668 18.3887L3.08789 17.1797C3.15683 17.0101 3.10438 16.8155 2.95996 16.7031L1.92969 15.9014C0.689981 14.937 0.689985 13.063 1.92969 12.0986L2.95996 11.2969C3.10438 11.1845 3.15683 10.9899 3.08789 10.8203L2.59668 9.61133C2.00515 8.15624 2.94207 6.53353 4.49805 6.31836L5.79102 6.13965C5.97202 6.11443 6.11443 5.97202 6.13965 5.79102L6.31836 4.49805C6.53353 2.94207 8.15624 2.00515 9.61133 2.59668L10.8203 3.08789C10.9899 3.15683 11.1845 3.10438 11.2969 2.95996L12.0986 1.92969Z" fill="%233B3BCE" stroke="white" stroke-width="2"/></svg>');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 26px;
        height: 26px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: "Mier A";
        font-weight: 700;
        font-size: 10px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 1);

        &--start {
            left: -5px;
        }

        &--end {
            right: -5px;
        }
    }
}

.AB-LME87.AB-LME87--v1,
.AB-LME87.AB-LME87--v2 {
    .bundle-builder__form {
        .bundle-builder__items {
            height: 87px;
            padding-bottom: 0;
            margin-bottom: 30px;
        }

        .bundle-builder__item {
            width: 77px;
            height: 77px;
            max-height: 77px;
            margin-right: 14px;

            // display: flex;
            // justify-content: center;
            // align-items: center;

            margin-bottom: 0;

            &.active {
                .bundle-builder__item-remove {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 5px;
                    right: 15px;
                    width: 21px;
                    height: 21px;
                }

                .bundle-builder__item-bg {
                    display: none;
                }
            }

            .bundle-builder__item-bg {
                position: relative;
                z-index: 0;
                margin-top: auto;
                width: 77px;
                height: 77px;

                svg {
                    display: none;
                }

                display: flex;
                justify-content: center;
                align-items: center;
                &:after {
                    content: url('data:image/svg+xml,<svg width="77" height="77" viewBox="0 0 77 77" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="76" height="76" rx="14.5" fill="%23EDE1F1" fill-opacity="0.35" stroke="%23DFC8E7" stroke-dasharray="4 4" /><path fill-rule="evenodd" clip-rule="evenodd" d="M35.1966 13.6109C38.2305 13.3459 45.568 12.9459 46.5305 14.6245C46.9322 15.3234 46.8132 17.9377 46.8885 19.0242L47.113 22.2604C46.83 22.5107 46.5493 22.7629 46.2662 23.0132C46.4009 23.4302 46.5356 23.8472 46.6703 24.2642C48.2652 24.4482 47.7201 25.6147 48.3852 26.1159C48.798 26.4258 49.3319 26.4692 49.6544 26.8794C49.8888 27.1785 49.8553 27.763 50.1074 28.0736C50.5051 28.5616 51.3608 28.5781 51.6165 29.2467L53.048 49.8844C53.1978 52.0447 53.9879 57.3969 53.4667 58.9713C52.5397 61.7682 46.7259 63.125 42.6108 63.4149C41.6025 63.4861 39.9973 63.6121 38.8815 63.6268C35.1727 63.677 28.5027 63.2709 26.8015 61.0663C26.067 60.1137 25.9348 53.1457 25.7902 51.0619C25.3171 44.4843 24.8419 37.9071 24.3687 31.3297C24.5342 30.4224 25.5791 30.3296 25.837 29.6268C26.0008 29.1824 25.8287 28.896 26.0266 28.5472C26.2658 28.123 27.0943 27.9004 27.2759 27.4995C27.2933 27.2317 27.3086 26.9641 27.326 26.6963C27.5631 25.9674 28.2236 25.9144 28.7185 25.4253C28.7597 25.0129 28.8031 24.6026 28.8443 24.1902C28.5282 23.963 28.2143 23.7377 27.8982 23.5106C27.8069 22.2545 27.2629 16.211 27.5715 15.75C28.4434 14.4453 31.5987 14.2847 33.4149 13.8453C34.0081 13.7672 34.6035 13.6911 35.1967 13.613L35.1966 13.6109Z" fill="%23EDE1F2" /><path d="M39.8317 63.9653C39.4984 63.981 39.177 63.9921 38.8864 63.996C38.6344 63.9994 38.3689 64.0008 38.0925 63.9996L38.0953 63.2611C38.3675 63.2623 38.6287 63.2609 38.8764 63.2575C39.1562 63.2538 39.4693 63.243 39.7977 63.2276L39.8317 63.9653ZM34.9684 63.1432C35.4996 63.1818 36.024 63.2094 36.5303 63.2283L36.5031 63.9664C35.9891 63.9472 35.4562 63.9187 34.9158 63.8795L34.9684 63.1432ZM43.4057 63.7183C43.1442 63.7439 42.8872 63.7656 42.6364 63.7832C42.3574 63.803 42.0517 63.8254 41.7051 63.8499L41.6536 63.1133C41.9869 63.0897 42.3168 63.0656 42.5853 63.0466C42.8294 63.0294 43.0798 63.0084 43.3349 62.9835L43.4057 63.7183ZM31.8697 62.7823C32.3726 62.8676 32.8904 62.9392 33.4126 62.999L33.3711 63.3657L33.33 63.7328C32.7967 63.6717 32.2657 63.598 31.7481 63.5103L31.8697 62.7823ZM46.386 62.8995L46.459 63.2611C45.9507 63.3648 45.4402 63.4539 44.9372 63.529L44.8299 62.7985C45.321 62.7252 45.8184 62.6384 46.3134 62.5375L46.386 62.8995ZM28.8916 62.0107C29.3316 62.1837 29.8233 62.3357 30.3522 62.4683L30.1755 63.1851C29.6238 63.0468 29.1012 62.8857 28.6255 62.6987L28.8916 62.0107ZM49.4511 62.4481C48.9728 62.6177 48.4744 62.7704 47.9657 62.9071L47.7773 62.1935C48.2699 62.0612 48.7498 61.9139 49.2079 61.7514L49.4511 62.4481ZM26.8701 60.2014C26.9548 60.572 27.0368 60.7699 27.0904 60.8396L27.1402 60.9012C27.2602 61.0447 27.4095 61.1838 27.5879 61.3177L27.1502 61.9097C26.9043 61.7251 26.688 61.5203 26.5125 61.2928C26.3489 61.0807 26.24 60.7337 26.1563 60.3672L26.8701 60.2014ZM52.0526 60.7364L52.2686 61.0346C51.8626 61.3339 51.3996 61.6042 50.8981 61.8481L50.5798 61.1832C51.0505 60.9543 51.4736 60.7059 51.8362 60.4386L52.0526 60.7364ZM53.6037 58.2251L53.9685 58.2597C53.9429 58.5318 53.9028 58.7837 53.8416 58.9985L53.814 59.0883C53.7233 59.3619 53.5929 59.6202 53.4299 59.8632L52.8233 59.4492C52.9528 59.2562 53.0519 59.058 53.1195 58.8543L53.1563 58.7245C53.1911 58.5823 53.2192 58.404 53.2393 58.1901L53.6037 58.2251ZM26.4721 56.9166C26.5151 57.5018 26.5641 58.0664 26.6209 58.5806L25.8927 58.6621C25.8346 58.1362 25.7848 57.5623 25.7414 56.9714L26.4721 56.9166ZM53.9167 55.1581C53.956 55.69 53.9861 56.2102 54 56.6948L53.6338 56.7053L53.2679 56.7161C53.2544 56.2461 53.2252 55.7379 53.1863 55.2133L53.9167 55.1581ZM26.2814 53.5644C26.3062 54.0974 26.334 54.6661 26.3659 55.2432L25.6345 55.2843C25.6024 54.704 25.5749 54.133 25.5501 53.599L26.2814 53.5644ZM53.6309 52.116C53.6816 52.6001 53.735 53.1133 53.7851 53.6336L53.0558 53.705C53.0061 53.188 52.9531 52.6775 52.9024 52.1935L53.2668 52.1549L53.6309 52.116ZM26.1556 51.035V51.0361C26.1715 51.2661 26.1873 51.5529 26.2035 51.8809L25.4717 51.9177C25.4556 51.5913 25.4403 51.3107 25.4249 51.0884C25.408 50.8535 25.3913 50.6187 25.3744 50.3838L26.1048 50.3305L26.1556 51.035ZM53.4135 49.8585C53.4285 50.0752 53.4502 50.3265 53.4768 50.6056L52.7475 50.6762C52.7207 50.3941 52.6984 50.1357 52.6828 49.91L52.6316 49.173L53.3623 49.1215L53.4135 49.8585ZM26.0032 48.921L25.2729 48.9744C25.2391 48.5046 25.2051 48.0347 25.1713 47.5649L25.902 47.5115C25.9358 47.9813 25.9694 48.4512 26.0032 48.921ZM53.26 47.6475L52.8945 47.6731L52.5293 47.699L52.4271 46.2247L53.1577 46.1735L53.26 47.6475ZM25.8004 46.1021L25.0697 46.1554C25.0359 45.6857 25.002 45.2158 24.9682 44.746L25.6988 44.6926C25.7327 45.1624 25.7666 45.6323 25.8004 46.1021ZM53.0554 44.6991L52.3248 44.7507L52.2225 43.2767L52.9532 43.2251L53.0554 44.6991ZM25.5973 43.2832L24.8666 43.3365C24.8327 42.8668 24.7989 42.3968 24.765 41.9271L25.4957 41.8737C25.5296 42.3435 25.5634 42.8134 25.5973 43.2832ZM52.8509 41.7511L52.1202 41.8023L52.0179 40.3283L52.3834 40.3027L52.7486 40.2768L52.8509 41.7511ZM25.3941 40.4642L25.0286 40.4909L24.6634 40.518C24.6296 40.0482 24.5957 39.5783 24.5619 39.1085L25.2922 39.0548C25.3261 39.5246 25.3602 39.9944 25.3941 40.4642ZM52.6463 38.8027L51.9156 38.8543L51.8137 37.3799L52.5444 37.3287L52.6463 38.8027ZM25.1906 37.6453L24.4603 37.6991C24.4264 37.2293 24.3926 36.7594 24.3587 36.2896L25.089 36.2359C25.1229 36.7056 25.1568 37.1755 25.1906 37.6453ZM52.4421 35.8544L51.7114 35.9059L51.6091 34.4319L51.9743 34.406L52.3398 34.3804L52.4421 35.8544ZM24.9878 34.8264L24.2571 34.8801C24.2233 34.4103 24.1894 33.9405 24.1556 33.4707L24.8863 33.417C24.9201 33.8867 24.954 34.3566 24.9878 34.8264ZM52.2375 32.9064L51.872 32.932L51.5068 32.9579L51.4045 31.4836L51.7701 31.458L52.1352 31.432L52.2375 32.9064ZM24.6066 30.81L24.8916 31.0419C24.8202 31.131 24.7666 31.2307 24.7375 31.3556C24.7531 31.573 24.769 31.7905 24.7847 32.0079L24.054 32.0612C24.0371 31.8263 24.0205 31.5912 24.0036 31.3563L24 31.3094L24.0086 31.2629C24.0594 30.9843 24.1748 30.7613 24.3219 30.5778L24.6066 30.81ZM26.2661 29.4082C26.2518 29.5152 26.226 29.6304 26.1802 29.7547C26.0818 30.0229 25.9079 30.2161 25.7339 30.3655L25.2589 29.803C25.3814 29.6979 25.455 29.6035 25.4935 29.4987L25.4939 29.4983C25.5187 29.4309 25.5324 29.369 25.5404 29.3094L26.2661 29.4082ZM51.5701 28.5724C51.7088 28.6906 51.8338 28.8386 51.9224 29.0296L51.9582 29.1139L51.9782 29.1655L51.9818 29.221L52.0329 29.958L51.3022 30.0096L51.2554 29.3382C51.2183 29.2604 51.1669 29.1956 51.0973 29.1363L51.5701 28.5724ZM26.5282 28.5478C26.4245 28.6254 26.3702 28.6852 26.3451 28.7296L26.3444 28.7306C26.318 28.7773 26.3046 28.82 26.2968 28.8673L25.574 28.7462C25.5942 28.624 25.6335 28.4964 25.7081 28.3647C25.8072 28.1891 25.9563 28.0561 26.0919 27.9547L26.5282 28.5478ZM50.3066 27.6691C50.3356 27.7541 50.3642 27.8067 50.391 27.8397C50.4524 27.9149 50.5407 27.9823 50.6667 28.0539L50.3073 28.6975C50.1439 28.6047 49.9675 28.4836 49.8244 28.3081L49.8237 28.3073C49.721 28.1808 49.6579 28.0378 49.6141 27.91L50.3066 27.6691ZM27.6541 27.3216C27.6499 27.3887 27.6456 27.4561 27.6412 27.5235L27.6369 27.5913L27.609 27.6529C27.5188 27.8521 27.3558 27.9959 27.2174 28.0986L26.7832 27.504C26.8522 27.4528 26.8923 27.4126 26.9159 27.3843C26.9182 27.3481 26.9208 27.312 26.9231 27.2758L27.6541 27.3216ZM49.5766 26.3203C49.6889 26.3936 49.7994 26.4837 49.8992 26.599L49.9414 26.6502L49.9417 26.6505C50.0429 26.7796 50.1024 26.9265 50.1431 27.054L49.446 27.2801C49.4172 27.1897 49.3901 27.138 49.367 27.1085C49.3159 27.0436 49.254 26.9894 49.1785 26.9401L49.5766 26.3203ZM27.8351 26.5186C27.777 26.5861 27.7271 26.6675 27.6877 26.7746C27.6846 26.823 27.6818 26.8717 27.6788 26.9202L26.9477 26.8741C26.9519 26.8069 26.9562 26.7396 26.9606 26.6722L26.9635 26.6257L26.9781 26.5813C27.0498 26.3611 27.1542 26.1831 27.2818 26.0347L27.8351 26.5186ZM48.3767 25.4329C48.4416 25.6321 48.5034 25.7439 48.6045 25.8201C48.6796 25.8765 48.7648 25.9244 48.8638 25.9719L48.7064 26.3055L48.5487 26.6386C48.4258 26.5796 48.2939 26.5076 48.1664 26.4118L48.166 26.4115C47.879 26.1952 47.7586 25.9013 47.681 25.6633L48.0287 25.5479L48.3767 25.4329ZM29.114 25.1542C29.1035 25.2568 29.0932 25.3595 29.0829 25.4621L29.0697 25.5952L28.9749 25.6889C28.8293 25.8328 28.6759 25.9415 28.5336 26.0318L28.3383 25.7195L28.1434 25.4069C28.2247 25.3553 28.2991 25.3024 28.3683 25.245C28.3739 25.1895 28.3798 25.1339 28.3855 25.0785L29.114 25.1542ZM46.9486 23.9337C47.1526 23.9732 47.3304 24.0313 47.4851 24.1082L47.161 24.7705C47.0425 24.7117 46.8738 24.6593 46.6288 24.631L46.3949 24.604L46.322 24.3786C46.2883 24.2743 46.2548 24.1699 46.2211 24.0656L46.5691 23.9513L46.7107 23.9045L46.7118 23.8972C46.7169 23.8978 46.7221 23.8984 46.7272 23.899L46.9175 23.837C46.9279 23.8692 46.9382 23.9015 46.9486 23.9337ZM29.0568 23.8897L29.2299 24.0141L29.2088 24.2272C29.1985 24.3305 29.1879 24.4339 29.1773 24.5369L28.8132 24.499L28.6387 24.4806L28.6319 24.4907C28.6261 24.4865 28.6202 24.4823 28.6144 24.4781L28.4488 24.4612C28.452 24.4295 28.4549 24.3977 28.4581 24.366C28.4372 24.3509 28.4161 24.3359 28.3952 24.3209L28.4742 24.2088C28.4761 24.1903 28.4781 24.1718 28.4799 24.1532L28.5114 24.1561L28.608 24.0202L28.8204 23.7195C28.8991 23.776 28.9778 23.8329 29.0568 23.8897ZM28.2496 23.3099C28.2821 23.3332 28.3147 23.3565 28.3472 23.3798L27.9223 23.9813C27.8436 23.9247 27.7646 23.8678 27.6856 23.8111L27.5454 23.7105L27.5329 23.5374C27.522 23.3875 27.5047 23.1679 27.4828 22.8949L27.8476 22.8649L28.2128 22.8354C28.2274 23.0178 28.2394 23.178 28.2496 23.3099ZM46.5584 22.9169L46.6145 22.8988C46.6285 22.9422 46.6424 22.9856 46.6564 23.029L46.7204 23.1022C46.71 23.1114 46.6993 23.1203 46.6889 23.1296C46.6977 23.1569 46.7066 23.1842 46.7154 23.2114L46.5273 23.2731C46.5207 23.2789 46.5142 23.285 46.5076 23.2908L46.5001 23.2821L46.0191 23.4404C45.9854 23.3362 45.9515 23.2317 45.9178 23.1274L45.8431 22.8959L46.0248 22.7355C46.0951 22.6733 46.1655 22.6109 46.2358 22.5484L46.5584 22.9169ZM47.4783 22.2347L47.4911 22.4171L47.3545 22.5379C47.2841 22.6001 47.2139 22.6628 47.1435 22.7254L46.901 22.4485L46.7583 22.2851L46.7476 22.2862L46.7465 22.2718L46.6589 22.1716C46.6842 22.149 46.7093 22.1263 46.7347 22.1038L46.6914 21.4771L47.0569 21.4515L47.4221 21.4255L47.4783 22.2347ZM28.1098 21.542L27.3798 21.5997C27.3481 21.1923 27.3147 20.7522 27.2829 20.3027L28.0135 20.2501C28.0452 20.6974 28.0782 21.1358 28.1098 21.542ZM47.2322 18.462C47.2371 18.6694 47.2438 18.8508 47.254 18.9986L47.3102 19.8073L46.5795 19.8589L46.5233 19.0501C46.5119 18.8854 46.5047 18.6907 46.4997 18.4797L47.2322 18.462ZM27.8644 17.6702C27.8795 18.0696 27.9019 18.5073 27.9288 18.9593L27.1977 19.0033C27.1707 18.5478 27.148 18.1046 27.1327 17.6984L27.8644 17.6702ZM47.1793 16.2323C47.199 16.5984 47.2084 16.9844 47.2147 17.3551L46.4822 17.3677C46.476 16.9999 46.4668 16.6246 46.4479 16.2723L47.1793 16.2323ZM28.3372 15.5238C28.1405 15.6523 27.9923 15.7892 27.8902 15.9345C27.8858 15.9518 27.8804 15.9802 27.8748 16.0217C27.8627 16.1115 27.8537 16.2372 27.8487 16.3978L27.4824 16.3863L27.1166 16.3744C27.1219 16.2025 27.1321 16.048 27.1491 15.9218C27.1576 15.859 27.1685 15.7965 27.1838 15.739C27.1976 15.6872 27.2217 15.6127 27.2678 15.5436L27.3351 15.4495C27.4986 15.2349 27.707 15.0556 27.9392 14.904L28.3372 15.5238ZM46.1739 13.8205C46.4527 13.9762 46.697 14.1766 46.8477 14.4395C46.9495 14.6166 47.0129 14.847 47.0573 15.0799L46.3377 15.2195C46.2977 15.0095 46.2526 14.8773 46.2136 14.8095C46.1529 14.7036 46.0312 14.5851 45.8191 14.4666L46.1739 13.8205ZM31.173 14.64C30.6554 14.7347 30.1449 14.8395 29.6773 14.9703L29.4813 14.2589C29.981 14.1191 30.5171 14.0095 31.0421 13.9135L31.173 14.64ZM33.9072 14.1533C33.7651 14.1718 33.6231 14.1901 33.4813 14.2088C33.2423 14.2661 32.9839 14.3182 32.7156 14.3682L32.5829 13.642C32.8522 13.5919 33.1029 13.541 33.3293 13.4862L33.3482 13.4815L33.3676 13.479C33.5161 13.4594 33.6649 13.4403 33.8135 13.4209L33.9072 14.1533ZM43.2151 13.1148C43.7431 13.1645 44.2428 13.2328 44.6932 13.3247L44.548 14.0487C44.1299 13.9634 43.6573 13.898 43.1471 13.85L43.2151 13.1148ZM35.9462 13.9203C35.7063 13.9385 35.4821 13.9567 35.277 13.9744L35.2441 13.9791C35.0956 13.9987 34.9468 14.0182 34.7982 14.0375L34.7045 13.3052C34.7388 13.3007 34.7731 13.2963 34.8075 13.2919L34.8064 13.2746L35.1651 13.2432C35.3859 13.2239 35.6293 13.2039 35.8911 13.184L35.9462 13.9203ZM38.8339 13.7642C38.336 13.7797 37.8502 13.8012 37.39 13.8262L37.37 13.4577L37.3503 13.0889C37.8155 13.0635 38.3069 13.0418 38.811 13.0261L38.8339 13.7642ZM40.2752 13.0002C40.7675 12.9988 41.2608 13.0057 41.743 13.0229L41.7298 13.3917L41.7169 13.761C41.2455 13.7442 40.7619 13.7373 40.2773 13.7386L40.2752 13.0002ZM35.1966 13.6113L35.1962 13.6124L35.1966 13.612V13.6113Z" fill="%23DFC8E7" /></svg>');

                    width: 77px;
                    height: 77px;
                }
            }

            .bundle-builder__preview.active {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: auto;
                    height: 58px;
                    object-fit: contain;
                    margin-top: 19px;
                }
            }

            .bundle-builder__preview p {
                text-align: center;
                text-transform: uppercase;
                width: 100%;
                height: auto;
                margin: 0;
                font-family: Recoleta, helvetica, arial, sans-serif;
                font-size: 0.9rem;
                line-height: 1;
                position: absolute;
                bottom: 0px;
                left: 0;
            }
        }
    }
}

.AB-LME87.AB-LME87--v2,
.AB-LME87.AB-LME87--v3 {
    .ab-progress {
        display: none;
    }
}

.AB-LME87.AB-LME87--v3 {
    .ab-step-heading--2 {
        margin-bottom: 24px;
    }

    .bundle-builder__form {
        .bundle-builder__items {
            height: 100px;
            padding-bottom: 0;
            margin-bottom: 10px;
            gap: 44px;
            justify-content: flex-start;
        }

        .bundle-builder__item {
            width: 47px;
            min-width: max-content;
            height: 80px;
            max-height: 80px;
            // margin-right: 44px;
            margin-bottom: 0;

            &.active {

                display: flex;
                justify-content: center;
                align-items: center;

                .bundle-builder__item-remove {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 3px;
                    right: 0px;
                    width: 21px;
                    height: 21px;
                }

                .bundle-builder__item-bg {
                    display: none;
                }
            }

            .bundle-builder__item-bg {
                position: relative;
                z-index: 0;
                margin-top: auto;
                width: 47px;
                height: 80px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            .bundle-builder__preview.active {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: auto;
                    height: 82px;
                    object-fit: contain;
                    margin-top: 11px;
                }
            }

            .bundle-builder__preview p {
                text-align: center;
                text-transform: uppercase;
                width: 100%;
                height: auto;
                margin: 0;
                font-family: Recoleta, helvetica, arial, sans-serif;
                font-size: 1rem;
                line-height: 1rem;
                position: absolute;
                bottom: -20px;
                left: 0;
                right: 0;
            }
        }
    }
}
