.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-TTP27 {
    .ab-hidden {
        display: none;
    }

    .ab-mobile {
        display: block;
    }

    .ab-desktop {
        display: none;
    }

    .ab-desktop img {
        min-width: 100%;
        min-height: 350px;
        padding: 0;
        aspect-ratio: unset !important;
        border-radius: 15px;
    }

    .ab-desktop img[alt="Property Taxes Too High"] {
        min-width: 100%;
        min-height: 400px;
        padding: 0;
        aspect-ratio: unset !important;
        border-radius: 15px;
    }

    .ab-mobile a {
        display: flex;
        width: max-content;
        margin: auto;
    }

    .ab-mobile img {
        width: auto;
        margin: auto;
        height: 473px;
        min-height: 473px;
        aspect-ratio: unset !important;
        object-fit: contain;
    }

    @media screen and (min-width: 768px) {
        .ab-mobile {
            display: none;
        }

        .ab-desktop {
            display: block;
        }
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}
