.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-TTP27 {
    .ab-hidden {
        display: none;
    }

    .ab-mobile {
        display: block;
    }

    .ab-desktop {
        display: none;
    }

    .ab-mobile a {
        display: flex;
        width: max-content;
        margin: auto;
    }

    .ab-mobile img {
        width: auto;
        margin: auto;
        height: 510px;
        aspect-ratio: unset;
    }

    @media screen and (min-width: 768px) {
        .ab-mobile {
            display: none;
        }

        .ab-desktop {
            display: block;
        }
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}
