/* 
sm: 640px
md: 768px
lg: 1024px

*/
.AB-HOMEPAGE-REDESIGN .hook-loop-products {
  display: none;
}
.AB-HOMEPAGE-REDESIGN .ab-hero-section {
  background-image: url("https://www.hookandloop.com/media/wysiwyg/AB-TEST/Hero_Banner_Mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.AB-HOMEPAGE-REDESIGN .ab-hero-section:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.AB-HOMEPAGE-REDESIGN .ab-hero-section__container {
  position: relative;
  z-index: 2;
  padding: 16px 24px 30px;
}
.AB-HOMEPAGE-REDESIGN .ab-hero-section__container h2 {
  margin-bottom: 16px;
}
.AB-HOMEPAGE-REDESIGN .ab-hero-section__brands,
.AB-HOMEPAGE-REDESIGN .ab-hero-section__all-products-row {
  gap: 8px;
}
.AB-HOMEPAGE-REDESIGN .ab-sup {
  top: -0.6rem;
}
.AB-HOMEPAGE-REDESIGN .ab-hero-section__brands,
.AB-HOMEPAGE-REDESIGN .ab-hero-section__all-products {
  width: 100%;
}
.AB-HOMEPAGE-REDESIGN .ab-hero-section__brands {
  margin-bottom: 24px;
}
.AB-HOMEPAGE-REDESIGN .ab-hero-section__brands-item {
  width: 100%;
  height: 60px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.AB-HOMEPAGE-REDESIGN .ab-hero-section__brands-item img {
  width: auto;
  height: 144px;
  object-fit: contain;
  object-position: center;
}
.AB-HOMEPAGE-REDESIGN .ab-hero-section__all-products-row {
  width: 100%;
}
.AB-HOMEPAGE-REDESIGN .ab-hero-section__all-products-row:not(:last-child) {
  margin-bottom: 8px;
}
.AB-HOMEPAGE-REDESIGN .ab-hero-section__all-products-item {
  width: 100%;
  height: 48px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #fff;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: rgb(29, 29, 29);
}
.AB-HOMEPAGE-REDESIGN .ab-see-all-customization-cta {
  background: none;
  border: 2px solid rgb(29, 29, 29);
  border-radius: 4px;
}
.AB-HOMEPAGE-REDESIGN .ab-see-all-customization-cta:hover {
  background: none;
}
.AB-HOMEPAGE-REDESIGN .ab-customer-service {
  padding-top: 60px;
  padding-bottom: 91px;
}
.AB-HOMEPAGE-REDESIGN .ab-customer-service__review-grid {
  width: max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.AB-HOMEPAGE-REDESIGN .ab-customer-service__review-column {
  gap: 20px;
}
.AB-HOMEPAGE-REDESIGN .ab-customer-service .ab-customer-service__review-card {
  width: 320px;
  padding: 20px;
}
.AB-HOMEPAGE-REDESIGN .ab-customer-service .customer-service-name,
.AB-HOMEPAGE-REDESIGN .ab-customer-service .customer-service-text {
  color: rgb(55, 65, 81);
}
.AB-HOMEPAGE-REDESIGN .ab-customer-service .customer-service-quotation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.AB-HOMEPAGE-REDESIGN .ab-customer-service .customer-service-quotation img {
  width: 29px;
  height: 24px;
  object-fit: contain;
}
.AB-HOMEPAGE-REDESIGN .ab-rotate-2deg {
  transform: rotate(2deg);
}
.AB-HOMEPAGE-REDESIGN .ab-rotate-neg-2deg {
  transform: rotate(-2deg);
}
@media screen and (min-width: 1024px) {
  .AB-HOMEPAGE-REDESIGN .ab-hero-section {
    background-image: url("https://hookandloop.com/media/wysiwyg/AB-TEST/Hero_Banner.png");
  }
  .AB-HOMEPAGE-REDESIGN .ab-hero-section__container {
    padding: 80px 24px 185px;
  }
  .AB-HOMEPAGE-REDESIGN .ab-hero-section__brands,
  .AB-HOMEPAGE-REDESIGN .ab-hero-section__all-products-row {
    gap: 24px;
  }
  .AB-HOMEPAGE-REDESIGN .ab-hero-section__container h2 {
    margin-bottom: 24px;
  }
  .AB-HOMEPAGE-REDESIGN .ab-hero-section__brands {
    width: 920px;
    max-width: 920px;
    margin-bottom: 40px;
  }
  .AB-HOMEPAGE-REDESIGN .ab-hero-section__brands-item {
    height: 80px;
  }
  .AB-HOMEPAGE-REDESIGN .ab-hero-section__brands-item img {
    height: 164px;
  }
  .AB-HOMEPAGE-REDESIGN .ab-hero-section__all-products-row:not(:last-child) {
    margin-bottom: 24px;
  }
  .AB-HOMEPAGE-REDESIGN .ab-hero-section__all-products {
    width: 680px;
    max-width: 680px;
  }
  .AB-HOMEPAGE-REDESIGN .ab-hero-section__all-products-item {
    max-width: 360px;
  }
}