.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-TEST-019 {
    .ab-celebration-message-container:empty {
        display: none !important;
    }

    .ab-celebration-message-container {
        display: block;
        padding: 13px 0px 14px;
        font-family: Inter, sans-serif;
        font-weight: 600;
        font-size: 12px;
        // font-size: 11px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #03a616;
        text-align: left;
        // white-space: nowrap;
    }

    .line-item-total-price.ab-added-reduced-total {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .line-item-total-price.ab-added-reduced-total .line-item-total-price-value {
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: right;
        vertical-align: middle;
        color: #4a545b;
    }

    .ab-total-price {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 5px;

        font-family: Inter, sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: right;
        vertical-align: middle;
        color: #4a545b;
        text-decoration: line-through;
    }

    .is-offcanvas .line-item-quantity-select-wrapper {
        // min-width: 139px;
        min-width: 145px;
    }

    .line-item-quantity {
        display: flex;
        justify-content: flex-start;
        align-items: end;
    }

    @media screen and (min-width: 991px) {
        .ab-celebration-message-container {
            display: block;
            // padding: 13px 4px 14px;
            padding: 13px 0px 14px;
            // white-space: nowrap;
        }
    }
}

.AB-TEST-019--v1.AB-TEST-019--has-volume-discount-table {
    // ======= Product Volume Discount Table Start =====
    &.AB-TEST-019--show-volume-discount-table {
        .product-detail-price-container .product-block-prices {
            display: block;
        }

        .product-block-prices {
            width: 100%;
            max-width: 488px;
        }
    }

    // ======= Product Volume Discount Table End =====
}
.AB-TEST-019--v1 {
    .product-detail-tax-container {
        display: flex;
        flex-direction: column;
    }

    .ab-quantity-dropdown-layout {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;
    }

    ul.ab-quantity-dropdown-options {
        width: 100%;
        // max-width: 192px;
        max-width: 220px;
        list-style: none;
        margin: 0;
        padding: 0;
        user-select: none;
        border: 1px solid #47b4eb;
        border-radius: 4px;
        transition: all 0.3s;
    }

    li.ab-quantity-dropdown-option {
        user-select: none;
        padding: 6px 9px 5px 30px;
        margin-left: 0;
        display: flex;
        justify-content: space-between;
        // cursor: pointer;
    }

    li.ab-quantity-dropdown-option:not(:last-child) {
        border-bottom: 0.5px solid #d8d8d8;
    }

    .ab-quantity-dropdown-option__value {
        font-family: Inter, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0px;

        vertical-align: middle;
        color: #4a545b;
    }

    li.ab-quantity-dropdown-option:first-child .ab-quantity-dropdown-option__green-badge {
        display: none;
    }

    .ab-quantity-dropdown-option__green-badge {
        // width: 64px;
        width: 68px;
        // height: 20px;
        height: 22px;
        background: #3cc261;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: Inter, sans-serif;
        font-weight: 500;
        // font-size: 10px;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
    }

    .ab-quantity-dropdown-option__ten-plus-badge {
        font-family: Inter, sans-serif;
        font-weight: 300;
        font-style: Italic;
        // font-size: 6px;
        font-size: 8px;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        color: #4a545b;
    }
    
    .ab-free-delivery-txt-cta-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }

    .ab-free-delivery-txt-cta {
        display: none !important;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }

    .ab-free-delivery-txt-cta .high-availability {
        text-decoration: underline;
        text-decoration-color: #3cc261;
        text-underline-offset: 3px;
    }

    .ab-volume-discount-modal-cta {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        user-select: none;
        margin-bottom: 10px;
    }

    .ab-volume-discount-modal-cta__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 1.5rem;

        svg {
            width: 10px;
            height: 10px;
        }
    }

    .ab-volume-discount-modal-cta__down-arrow-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        // min-width: 1.5rem;
        // margin-right: -3px;

        svg {
            width: 12px;
            height: 12px;
        }
    }

    .ab-volume-discount-modal-cta__txt {
        font-family: Inter, sans-serif;
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 12.3px;
        line-height: 18.38px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #47b4eb;
        text-decoration: underline;
        text-underline-offset: 2px;

        display: flex;
        align-items: center;
        gap: 5px;
    }

    @media screen and (min-width: 768px) {
        .ab-quantity-dropdown-select:after {
            right: 29px;
        }

        .ab-free-delivery-txt-cta-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 6px;
        }
    }
}
