.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-PDP-ATC-MODAL {
    &--overflow-hidden {
        overflow: hidden;
    }

    #modal-window-added-product .rfk-rw ul li .rfk_name {
        -webkit-line-clamp: 1;
        margin-bottom: 4px;
    }

    #modal-window-added-product .modal-content {
        position: absolute;
        right: -100%;
        top: 0;
        min-height: 100%;
        overflow: hidden;
    }

    #modal-window-added-product .modal-content-body {
        overflow-x: hidden;
        overflow-y: auto;
        padding-top: 0px;
        // padding-bottom: 20px;
    }
    #modal-window-added-product .rfk_pimage,
    #modal-window-added-product .rfk_pimage img {
        height: 103px;
        max-height: 103px;
    }

    #modal-window-added-product .modal-content #braintree-loading-container,
    #modal-window-added-product .modal-content .text-center.text-sm.text-grey-darker {
        display: none;
    }

    #modal-window-added-product .modal-content .text-sm.mt-2 .mt-8 {
        margin-top: 15px;
    }

    // #modal-window-added-product .modal-content-body .border-l {
    //     border: 0;
    // }

    #modal-window-added-product .modal-content .modal-content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #modal-window-added-product .modal-content .modal-content-header h3 span {
        display: none;
    }

    #modal-window-added-product .modal-content .modal-content-header h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }

    #modal-window-added-product .modal-content .modal-content-header h3:before {
        content: "";
        width: 18px;
        height: 11px;
        border-bottom: 4px solid #0a7806;
        border-left: 4px solid #0a7806;
        display: inline-block;
        transform: rotate(-45deg);
        margin-top: -3px;
    }

    #modal-window-added-product .modal-content .close-x {
        position: static;
        order: 1;
    }

    #modal-window-added-product #braintree-asset-container,
    #modal-window-added-product #braintree-loading-container {
        display: none;
    }

    #modal-window-added-product h3.heading.font-bold.text-xl.md\:text-2xl.mt-4 {
        margin-top: 6px;
    }

    #modal-window-added-product .quick-view-addons {
        // margin-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 0;
        padding-top: 5px;
    }

    #modal-window-added-product .list-reset {
        // margin-bottom: 20px;
        margin-bottom: 0;
    }

    #modal-window-added-product a.button-primary[href="https://www.domyown.com/checkout/payment"]
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }

    a.close-modal:not(.no-margin) {
        display: none;
    }

    .ab-close-modal {
        order: 1;
        color: #333;
        font-size: 2.25rem;
    }

    .modal-content {
        padding-left: 0;
        padding-right: 0;
    }

    .modal-content-header,
    .modal-content-body > div {
        padding-left: 15px;
        padding-right: 15px;
    }

    .modal-content-body > div.flex.flex-wrap.md\:flex-no-wrap > .w-full.md\:w-2\/3 {
        margin-top: 15px;
    }

    .modal-content-body > div.flex.flex-wrap.md\:flex-no-wrap > .w-full.md\:w-2\/3 .text-lg + p {
        font-size: 14px;
        font-weight: 600;
        line-height: 100%;
        margin: 3px 0 10px;

        span {
            color: #315caa;
        }
    }

    .ab-price-content {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .ab-price-content span {
        margin-bottom: 0;
    }

    .ab-price-content span.text-red {
        font-size: 15px;
        line-height: 100%;
        font-weight: 600;
    }

    .ab-price-content span.line-through {
        font-size: 13px;
        line-height: 100%;
    }

    .modal-content-body > div.flex.flex-wrap.md\:flex-no-wrap .w-1\/3 {
        margin-right: 20px;
    }

    .modal-content-body > div.flex.flex-wrap.md\:flex-no-wrap .w-1\/3 img {
        border: 1px solid #ebebeb;
    }

    // MODAL OPEN CLOSE
    // ...existing code...

    #modal-window-added-product {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 9999;

        &.is-active {
            display: block;
        }

        .modal-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;

            &.is-active {
                opacity: 1;
            }
        }

        .modal-content {
            position: absolute;
            top: 0;
            right: -110%;
            height: 100%;
            // width: 100%;
            // max-width: 500px;
            background: #fff;
            transition: right 0.3s ease-in-out;

            &.is-active {
                right: 0;
            }
        }
    }
}
