.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-SKIP-CART-PAGE {
    .quick-cart a.quick-cart__submit[href="/cart"] {
        display: none;
    }

    .ab-side-cart-checkout-btn {
        margin-top: 12px;
        padding: 8px 16px;
        background: #7f2841;
        font-family: "Libre Baskerville", serif;
        font-size: 22.4px;
        font-style: normal;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;

        &:hover {
            background: #7f2841 !important;
        }
    }
}

.AB-SKIP-CART-PAGE--v1 {
    .ab-cta-btn {
        display: inline-block;
        width: 100%;
        margin-top: 15px;
        color: rgba(0, 0, 0, 1);
        font-family: "Libre Baskerville", serif;
        text-align: center;
        text-decoration: underline;
        text-decoration-style: solid;
        font-weight: 400;
        font-size: 20px;
        line-height: 18px;
        letter-spacing: 0px;
    }
}

.AB-SKIP-CART-PAGE--v2 {
    .ab-cta-btn {
        display: inline-block;
        width: 100%;
        margin-top: 15px;
        color: rgba(0, 0, 0, 1);
        font-family: "Libre Baskerville", serif;
        text-align: center;
        text-decoration: underline;
        text-decoration-style: solid;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0px;
    }
}
