.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-TEST030 {
    .product-detail-upselling .upselling-title {
        display: none !important;
    }

    .ab-up-selling-title {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: rgba(71, 180, 235, 1);
        height: 27px;
    }

    .ab-up-selling-subtitle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3px;
        margin-bottom: 7px;
    }

    .ab-up-selling-subtitle__icon  {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .ab-up-selling-subtitle__icon svg {
        width: 14px;
        height: 14px;
    }
    .ab-up-selling-subtitle__title {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: rgba(71, 180, 235, 1);
    }
}
