.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-OPT-CART-ITERATION {
    .quick-cart__item-image {
        width: 120px;
    }

    .ab-total-saved {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        &__label {
            font-family: "Libre Baskerville";
            font-size: 14.5px;
            font-weight: 400;
            color: #ca5e5c;
            display: block;
            margin: 0;
            unicode-bidi: isolate;
        }

        &__value {
            font-family: "Libre Baskerville", serif;
            font-size: 14.5px;
            font-weight: 700;
            color: #ca5e5c;
        }
    }

    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}
