.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

/* 
Array.from($0.classList).join('.')
*/

.AB-CS104 {
    .flex.w-full.items-center.justify-start h3.text-h3 {
        font-family: Poppins, sans-serif;
        font-weight: 700;
        font-size: 20.5px;
        line-height: 28.24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: rgba(0, 35, 52, 1);
    }

    .mx-auto.mb-cove-15.mt-cove-15.grid.w-full.grid-cols-2.gap-cove-10.sm\:gap-cove-25.md\:grid-cols-3.lg\:grid-cols-4 {
        margin-top: 15px;
    }

    .relative.flex.h-full.w-full.flex-col.items-center.justify-between.rounded.border.border-cove-dove.bg-white.p-cove-5.sm\:p-cove-10 {
        padding: 6px 6px 8px;
    }

    .flex.h-full.max-h-\[160px\].w-full.max-w-\[250px\].items-center.justify-center.rounded-\[10px\].bg-cove-dove.px-\[30px\].py-cove-5.sm\:py-cove-25 {
        background-color: rgba(228, 222, 214, 1);
        width: 100%;
        height: 83px;
        border-radius: 10px;

        img {
            width: auto;
            height: 100%;
            object-fit: contain;
        }
    }

    .m-0.flex.text-\[12px\].font-bold.leading-4.text-cove-navy-blue.sm\:text-sm.sm\:font-bold,
    .text-cove-dark-grey.mb-cove-5.m-0.flex.text-\[12px\].font-bold.leading-4.sm\:text-sm.sm\:font-bold {
        font-family: Poppins, sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: rgba(0, 35, 52, 1);

        .ml-cove-10.flex.items-center.justify-center,
        .ml-cove-30.flex.items-center.justify-center {
            margin-left: 1px;
        }

        button {
            width: 14px;
            height: 14px;
            padding: 2px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                margin-top: 0;
                width: 9px;
                height: 9px;
            }
        }
    }

    .mt-cove-10.flex.w-full.flex-col.items-center.justify-center.gap-cove-2.xs\:flex-row.xs\:gap-cove-5,
    .text-cove-dark-grey.ml-cove-5.mb-0.text-base.font-medium.leading-4 + .text-cove-dark-grey.text-xs.font-light,
    .text-cove-dark-grey.ml-cove-5.mb-0.text-base.font-medium.leading-4 {
        font-family: Poppins, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 21.01px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: rgba(0, 35, 52, 1);
    }

    .relative.text-sm.text-cove-dark-grey.after\:absolute.after\:left-0.after\:right-0.after\:top-\[calc\(50\%-1px\)\].after\:-translate-y-1\/2.after\:border-t.after\:border-t-cove-dark-grey,
    .mr-cove-5.relative.m-0.text-sm.font-light.leading-\[14px\].text-inherit.before\:absolute.before\:top-\[42\%\].before\:h-\[1px\].before\:w-full.before\:translate-y-\[50\%\].before\:bg-black.before\:content-\[\'\'\].md\:mr-0 {
        font-family: Poppins, sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 21.01px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: rgba(81, 81, 81, 1);

        > span.text-cove-dark-grey.text-xs.font-light {
            display: none;
        }
    }

    .border-cove-dark-grey.text-cove-dark-grey.px-cove-5.ml-\[10px\].hidden.h-\[14px\].whitespace-nowrap.border.pt-\[1px\].text-xs.font-light.sm\:inline-block {
        border: 1px solid rgba(62, 190, 176, 1);
        height: 14px;
        font-family: Poppins, sans-serif;
        font-weight: 300;
        font-style: Light;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: rgba(0, 35, 52, 1);
    }

    .flex.w-full.max-w-\[160px\].items-center.justify-center.gap-cove-10.rounded-full.border.px-cove-15.py-cove-5.border-cove-green.bg-cove-green\/10.text-cove-green {
        background: rgba(62, 190, 176, 0.1);
        border: 1px solid rgba(62, 190, 176, 1);
        height: 22px;
        padding: 6px 22px;

        font-family: Poppins, sans-serif;
        font-weight: 300;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: rgba(0, 35, 52, 1);

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        svg {
            width: 10px;
            color: rgba(62, 190, 176, 1);
            path {
                fill: rgba(62, 190, 176, 1);
            }
        }
    }

    .flex.w-full.max-w-\[160px\].items-center.justify-center.gap-cove-10.rounded-full.border.px-cove-15.py-cove-5.border-cove-dark-grey.bg-cove-baby-dove {
        background: rgba(242, 239, 235, 1);
        border: 1px solid rgba(81, 81, 81, 1);
        height: 22px;
        padding: 6px 22px;

        font-family: Poppins, sans-serif;
        font-weight: 300;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: rgba(0, 35, 52, 1);

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        svg {
            width: 10px;
            color: rgba(0, 35, 52, 1);
            path {
                fill: rgba(0, 35, 52, 1);
            }
        }
    }

    .mb-cove-10.mt-cove-15.flex.w-full.max-w-\[160px\].items-center.rounded-full.border.border-cove-blue.px-cove-5.shadow,
    .border-cove-blue.px-cove-5.flex.w-full.max-w-\[160px\].items-center.rounded-full.border.shadow {
        // background-color: red;
    }

    .py-cove-10.absolute.flex.w-full.items-center.justify-center .select-none {
        background: rgba(62, 190, 176, 0.1);
        border: 1px solid rgba(62, 190, 176, 1);
        height: 34px;
        padding: 5px 22px;

        font-family: Poppins, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 21.01px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;

        color: rgba(0, 35, 52, 1);

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        svg {
            width: 14px;
        }
    }

    @media screen and (min-width: 768px) {
        .flex.w-full.items-center.justify-start h3.text-h3 {
            font-family: Poppins, sans-serif;
            font-weight: 500;
            font-size: 32px;
            line-height: 39.01px;
            letter-spacing: 0px;
            vertical-align: middle;
            color: rgba(0, 35, 52, 1);
        }

        .mx-auto.mb-cove-15.mt-cove-15.grid.w-full.grid-cols-2.gap-cove-10.sm\:gap-cove-25.md\:grid-cols-3.lg\:grid-cols-4 {
            margin-top: 12px;
        }

        .relative.flex.h-full.w-full.flex-col.items-center.justify-between.rounded.border.border-cove-dove.bg-white.p-cove-5.sm\:p-cove-10 {
            padding: 11px;
        }

        .flex.h-full.max-h-\[160px\].w-full.max-w-\[250px\].items-center.justify-center.rounded-\[10px\].bg-cove-dove.px-\[30px\].py-cove-5.sm\:py-cove-25 {
            background-color: rgba(228, 222, 214, 1);
            height: 160px;

            img {
                width: auto;
                height: 100%;
                object-fit: contain;
            }
        }

        .m-0.flex.text-\[12px\].font-bold.leading-4.text-cove-navy-blue.sm\:text-sm.sm\:font-bold,
        .text-cove-dark-grey.mb-cove-5.m-0.flex.text-\[12px\].font-bold.leading-4.sm\:text-sm.sm\:font-bold {
            font-family: Poppins, sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 21.01px;
            letter-spacing: 0px;
            vertical-align: middle;
            color: rgba(0, 35, 52, 1);
        }

        .mt-cove-10.flex.w-full.flex-col.items-center.justify-center.gap-cove-2.xs\:flex-row.xs\:gap-cove-5,
        .text-cove-dark-grey.ml-cove-5.mb-0.text-base.font-medium.leading-4 + .text-cove-dark-grey.text-xs.font-light,
        .text-cove-dark-grey.ml-cove-5.mb-0.text-base.font-medium.leading-4 {
            font-family: Poppins, sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 21.01px;
            letter-spacing: 0px;
            vertical-align: middle;
            color: rgba(0, 35, 52, 1);
        }

        .relative.text-sm.text-cove-dark-grey.after\:absolute.after\:left-0.after\:right-0.after\:top-\[calc\(50\%-1px\)\].after\:-translate-y-1\/2.after\:border-t.after\:border-t-cove-dark-grey,
        .mr-cove-5.relative.m-0.text-sm.font-light.leading-\[14px\].text-inherit.before\:absolute.before\:top-\[42\%\].before\:h-\[1px\].before\:w-full.before\:translate-y-\[50\%\].before\:bg-black.before\:content-\[\'\'\].md\:mr-0 {
            font-weight: 300;
            font-size: 14px;
            line-height: 21.01px;
            letter-spacing: 0px;
            vertical-align: middle;
            color: rgba(81, 81, 81, 1);
        }

        .border-cove-dark-grey.text-cove-dark-grey.px-cove-5.ml-\[10px\].hidden.h-\[14px\].whitespace-nowrap.border.pt-\[1px\].text-xs.font-light.sm\:inline-block {
            border: 1px solid rgba(62, 190, 176, 1);
            height: 15px;
            font-family: Poppins, sans-serif;
            font-weight: 300;
            font-size: 10px;
            line-height: 10px;
            letter-spacing: 0px;
            vertical-align: middle;
            color: rgba(0, 35, 52, 1);
        }

        .flex.w-full.max-w-\[160px\].items-center.justify-center.gap-cove-10.rounded-full.border.px-cove-15.py-cove-5.border-cove-green.bg-cove-green\/10.text-cove-green {
            background: rgba(62, 190, 176, 0.1);
            border: 1px solid rgba(62, 190, 176, 1);
            height: 33px;
            padding: 6px 22px;

            font-family: Poppins;
            font-weight: 300;
            font-size: 14px;
            line-height: 21.01px;
            letter-spacing: 0px;
            vertical-align: middle;

            color: rgba(0, 35, 52, 1);

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;

            svg {
                width: 15px;
            }
        }

        .flex.w-full.max-w-\[160px\].items-center.justify-center.gap-cove-10.rounded-full.border.px-cove-15.py-cove-5.border-cove-dark-grey.bg-cove-baby-dove {
            background: rgba(242, 239, 235, 1);
            border: 1px solid rgba(81, 81, 81, 1);
            height: 33px;
            padding: 6px 22px;

            font-family: Poppins;
            font-weight: 300;
            font-size: 14px;
            line-height: 21.01px;
            letter-spacing: 0px;
            vertical-align: middle;

            color: rgba(0, 35, 52, 1);

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;

            svg {
                width: 10px;
                color: rgba(0, 35, 52, 1);
                path {
                    fill: rgba(0, 35, 52, 1);
                }
            }
        }

        .py-cove-10.absolute.flex.w-full.items-center.justify-center .select-none {
            background: rgba(62, 190, 176, 0.1);
            border: 1px solid rgba(62, 190, 176, 1);
            height: 34px;
            padding: 4px 22px;

            font-family: Poppins, sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 21.01px;
            letter-spacing: 0px;
            text-align: center;
            vertical-align: middle;

            color: rgba(0, 35, 52, 1);

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;

            svg {
                width: 30px;
            }
        }
    }
}
