.AB-TEST-019 .ab-celebration-message-container:empty {
  display: none !important;
}
.AB-TEST-019 .ab-celebration-message-container {
  display: block;
  padding: 13px 4px 14px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #03a616;
  text-align: left;
  white-space: nowrap;
}
.AB-TEST-019 .line-item-total-price.ab-added-reduced-total {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.AB-TEST-019 .line-item-total-price.ab-added-reduced-total .line-item-total-price-value {
  text-decoration: line-through;
}
.AB-TEST-019 .ab-reduced-total-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: right;
  vertical-align: middle;
  color: #4a545b;
}
.AB-TEST-019 .is-offcanvas .line-item-quantity-select-wrapper {
  min-width: 139px;
}
.AB-TEST-019 .line-item-quantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.AB-TEST-019--v1 .product-detail-tax-link {
  display: none;
}
.AB-TEST-019--v1.AB-TEST-019--show-volume-discount-modal {
  overflow: hidden;
  padding-right: 15px;
}
.AB-TEST-019--v1.AB-TEST-019--show-volume-discount-modal .ab-quantity-modal-layout {
  opacity: 1;
  z-index: 1000;
}
.AB-TEST-019--v1 .ab-quantity-modal-layout {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.AB-TEST-019--v1 .ab-quantity-modal-backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5882352941);
}
.AB-TEST-019--v1 .ab-quantity-modal {
  width: 100%;
  max-width: 456px;
  height: max-content;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.AB-TEST-019--v1 .ab-quantity-modal__container {
  position: relative;
  background: #fff;
  border-radius: 7px;
  padding: 40px 20px 20px;
}
.AB-TEST-019--v1 .ab-quantity-modal__close-cta {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: #4a545b;
}
.AB-TEST-019--v1 .ab-quantity-modal__heading {
  min-height: 33px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: center;
  vertical-align: middle;
  color: #47b4eb;
}
.AB-TEST-019--v1 .ab-quantity-modal__sub-heading {
  min-height: 21px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: #4a545b;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .AB-TEST-019--v1 .ab-quantity-modal {
    top: 100px;
    padding-left: 0;
    padding-right: 0;
  }
  .AB-TEST-019--v1 .ab-quantity-modal__container {
    padding: 20px 30px 28px;
  }
  .AB-TEST-019--v1 .ab-quantity-modal__heading {
    line-height: 33px;
  }
}
.AB-TEST-019--v1 .ab-quantity-dropdown-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.AB-TEST-019--v1 ul.ab-quantity-dropdown-options {
  width: 100%;
  max-width: 220px;
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
  border: 1px solid #47b4eb;
  border-radius: 2px;
  transition: all 0.3s;
}
.AB-TEST-019--v1 li.ab-quantity-dropdown-option {
  user-select: none;
  padding: 6px 9px 5px 30px;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.AB-TEST-019--v1 li.ab-quantity-dropdown-option:not(:last-child) {
  border-bottom: 0.5px solid #d8d8d8;
}
.AB-TEST-019--v1 .ab-quantity-dropdown-option__value {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #4a545b;
}
.AB-TEST-019--v1 li.ab-quantity-dropdown-option:first-child .ab-quantity-dropdown-option__green-badge {
  display: none;
}
.AB-TEST-019--v1 .ab-quantity-dropdown-option__green-badge {
  width: 68px;
  height: 22px;
  background: #3cc261;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
.AB-TEST-019--v1 .ab-quantity-dropdown-option__ten-plus-badge {
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-style: Italic;
  font-size: 8px;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: #4a545b;
}
.AB-TEST-019--v1 .product-detail-delivery-information > .product-delivery-available {
  display: none;
}
.AB-TEST-019--v1 .ab-free-delivery-txt-cta-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.AB-TEST-019--v1 .ab-free-delivery-txt-cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.AB-TEST-019--v1 .ab-free-delivery-txt-cta .high-availability {
  text-decoration: underline;
  text-decoration-color: #3cc261;
  text-underline-offset: 3px;
}
.AB-TEST-019--v1 .ab-volume-discount-modal-cta {
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 12.3px;
  line-height: 18.38px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #47b4eb;
  text-decoration: underline;
  text-underline-offset: 2px;
}
@media screen and (min-width: 768px) {
  .AB-TEST-019--v1 .ab-quantity-dropdown-select:after {
    right: 29px;
  }
  .AB-TEST-019--v1 .ab-free-delivery-txt-cta-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
}

.AB-TEST-019--v2 .ab-celebration-message-container.ab-celebration-message-container--viewing-for-single {
  position: relative;
  margin-top: 18px;
  margin-bottom: 8px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 5px 5px 3px;
  background: #3cc261;
  border-radius: 2px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-align: center;
}
.AB-TEST-019--v2 .ab-celebration-message-container.ab-celebration-message-container--viewing-for-single::before {
  position: absolute;
  content: "";
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none"><path d="M7.16802 2.18271C7.8674 0.585897 10.1326 0.585899 10.832 2.18271L17.2989 16.9476C17.8776 18.2691 16.9095 19.75 15.4669 19.75H2.53313C1.09047 19.75 0.122352 18.2691 0.701139 16.9476L7.16802 2.18271Z" fill="%233CC261"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 22px;
  height: 29px;
  top: -19px;
  left: 40.5%;
  opacity: 1;
  border-radius: 2px;
}