.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-BW115 {
    .product__optionWrapper ~ .ab-sold-out-message {
        margin-top: 12px;
    }

    .ab-show-sold-out-message .ab-sold-out-message {
        display: flex;
    }

    .ab-sold-out-message {
        background-color: #f2f2f2;
        width: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding: 13px 10px 10px;
    }

    .ab-sold-out-message__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 22px;
            height: 22px;
        }
    }

    .ab-sold-out-message__message {
        font-family: "Interstate Regular", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #121212;
        display: inline-block;

        a {
            border: none;
            outline: none;
            text-decoration: underline;
            text-decoration-style: solid;
        }
    }

    @media screen and (min-width: 991px) {
        .product__optionWrapper ~ .ab-sold-out-message {
            margin-top: 14px;
        }

        .ab-sold-out-message {
            padding: 10px 10px 8px;
            gap: 21px;
        }

        .ab-sold-out-message__icon {
            svg {
                width: 27px;
                height: 27px;
            }
        }
    }
}
