.BODY-WRAPPER-CLASS {
	@media screen and (min-width: 768px) {
		//
	}

	@media screen and (min-width: 991px) {
		//
	}

	@media screen and (min-width: 1200px) {
		//
	}
}

.TEST019-SEARCH-BAR {
	@media screen and (min-width: 768px) {
		//
	}

	@media screen and (min-width: 991px) {
		//
	}

	@media screen and (min-width: 1200px) {
		//
	}
}