.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-HOME-BRAND-DRAWER {
    .ab-brands-section {
        background: white;
        margin-top: 20px !important;
        margin-bottom: 20px !important;

        h2 {
            color: #000;
        }

        p.brands-subtitle {
            font-weight: 600;
        }

        .brands-card {
            // padding: 20px;
            cursor: default;
        }

        .brands-card a {
            display: block;
        }

        .brands-card a,
        .brands-card a:hover,
        .brands-card a:focus {
            text-decoration: none;
            border: none;
        }

        @media (max-width: 420px) {
            .left_espot > .p-40:has(> h2) {
                padding: 20px 10px !important;
            }
        }

        @media (min-width: 1281px) {
            &.background-true.border-true {
                padding: 42px 30px 48px;
            }

            .brands-card {
                // padding: 20px;
            }
        }

        .brands {
            overflow: hidden;
            transition: all 0.6s ease-in-out;
            align-items: flex-start;
        }

        .brands > div:nth-child(n + 7) {
            opacity: 0;
            transform: translateY(-10px);
            transition:
                opacity 0.4s ease-in-out,
                transform 0.4s ease-in-out;
            transition-delay: 0s;
            max-height: 0;
            // padding: 0 !important;
            pointer-events: none;
            display: none;
        }

        .brands.brands-expanded > div:nth-child(n + 7) {
            opacity: 1;
            transform: translateY(0);
            transition-delay: 0.2s;
            max-height: unset;
            // padding: 20px !important;
            pointer-events: all;
            display: block;
            display: block;
        }

        @media (max-width: 1280px) {
            .brands > div:nth-child(n + 5) {
                opacity: 0;
                transform: translateY(-10px);
                transition:
                    opacity 0.4s ease-in-out,
                    transform 0.4s ease-in-out;
                transition-delay: 0s;
                max-height: 0;
                // padding: 0 !important;
                pointer-events: none;
                display: none;
            }

            .brands.brands-expanded > div:nth-child(n + 5) {
                opacity: 1;
                transform: translateY(0);
                transition-delay: 0.2s;
                max-height: unset;
                // padding: 20px !important;
                pointer-events: all;
                display: block;
            }
        }

        @media (max-width: 900px) {
            .brands > div:nth-child(n + 6) {
                opacity: 0;
                transform: translateY(-10px);
                transition:
                    opacity 0.4s ease-in-out,
                    transform 0.4s ease-in-out;
                transition-delay: 0s;
                max-height: 0;
                // padding: 0 !important;
                display: none;
            }

            .brands.brands-expanded > div:nth-child(n + 6) {
                opacity: 1;
                transform: translateY(0);
                transition-delay: 0.2s;
                max-height: unset;
                // padding: 20px !important;
                pointer-events: all;
                display: block;
            }
        }

        @media (max-width: 600px) {
            .brands > div:nth-child(n + 5) {
                opacity: 0;
                transform: translateY(-10px);
                transition:
                    opacity 0.4s ease-in-out,
                    transform 0.4s ease-in-out;
                transition-delay: 0s;
                max-height: 0;
                // padding: 0 !important;
                pointer-events: none;
                display: none;
            }

            .brands.brands-expanded > div:nth-child(n + 5) {
                opacity: 1;
                transform: translateY(0);
                transition-delay: 0.2s;
                max-height: unset;
                // padding: 20px !important;
                pointer-events: all;
                display: block;
            }
        }

        .more-brands {
            margin: auto;
            width: max-content;
            display: flex !important;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            // padding: 0 0 30px;
            opacity: 1;
        }

        .more-brands:hover .brands-text {
            text-decoration: none;
        }

        .more-brands .brands-icon {
            width: 15px;
            height: 15px;
            border-right: 3px solid #2b94e6;
            border-bottom: 3px solid #2b94e6;
            transform: rotate(45deg);
            transition: transform 0.3s;
        }

        .more-brands .brands-text {
            color: #0f6cb6;
            font-family: MuseoSans-700;
            // font-weight: bold;
            font-weight: 500;
            font-size: 16px;
            text-decoration: underline;
            // margin-top: 16px;
            margin-top: 10px;
            transition: color 0.3s ease-in-out;
        }

        .brands .cat-circle {
            border-radius: 8px;
            background: #fff;
            border: 1px solid #2b94e6;

            &:hover {
                transform: translate(0);
            }
        }

        .brands .cat-circle.cat-last {
            background: #e9d11f;
        }

        .more-brands .icon-inverted {
            transform: rotate(225deg);
        }

        // ==== NEW ====
        // fx-row fx-start fx-middle
        // fx-col-6 fx-col-sm-3 fx-col-md-3 fx-col-lg-2

        .brands {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            // sm
            @media screen and (min-width: 601px) {
                grid-template-columns: repeat(4, 1fr);
            }
            // md
            @media screen and (min-width: 901px) {
                grid-template-columns: repeat(4, 1fr);
            }
            // lg
            @media screen and (min-width: 1281px) {
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }
}
