.AB-TEST008 .container-md:has(.quick-info.row) {
  margin-bottom: 26px;
}
.AB-TEST008 .ab-heading {
  font-family: "Onest Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(26, 43, 73);
  margin-bottom: 17px;
}
.AB-TEST008 .ab-content-row {
  margin-left: -20px;
  margin-right: -20px;
  padding: 12px 20px;
  margin-bottom: 24px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}
.AB-TEST008 .slick-list {
  padding-top: 0;
  padding-bottom: 0;
}
.AB-TEST008 .ab-content-row .slick-arrow.slick-disabled {
  display: none !important;
}
.AB-TEST008 .slick-slider .slick-arrow {
  top: 0;
  bottom: 0;
  margin: auto;
}
.AB-TEST008 .slick-slider .slick-arrow:before {
  content: "";
  background: url('data:image/svg+xml,<svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.7009 10.5599L0.16037 21.4119L6.86959e-05 5.56138e-05L17.7009 10.5599Z" fill="%23278B2E"/></svg>');
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.AB-TEST008 .slick-slider .slick-prev.slick-arrow:before {
  transform: rotate(-180deg);
}
.AB-TEST008 .ab-content-col {
  display: flex !important;
  flex-direction: column;
  height: auto;
  gap: 18px;
}
.AB-TEST008 .ab-content {
  flex-grow: 1;
  display: flex;
  gap: 5px;
}
.AB-TEST008 .ab-content-icon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 5px;
}
.AB-TEST008 .ab-content-icon svg {
  margin-top: 15px;
  width: 50px;
  height: 50px;
  min-height: 50px;
  object-fit: contain;
}
.AB-TEST008 .ab-content-serial,
.AB-TEST008 .ab-content-heading {
  font-family: "Onest Bold";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(26, 43, 73);
}
.AB-TEST008 .ab-content-heading {
  text-align: left;
  text-wrap: pretty;
  margin-bottom: 2px;
}
.AB-TEST008 .ab-content-description {
  font-family: "Onest Regular";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(26, 43, 73);
  text-align: left;
  text-wrap: pretty;
}
.AB-TEST008 .ab-content-cta {
  width: 143px;
  height: 19px;
  border-radius: 5px;
  background-color: rgb(192, 255, 197);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Onest Regular";
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: rgb(69, 69, 69);
  margin-top: 9.5px;
}
.AB-TEST008 .ab-button-container {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 21px;
}
.AB-TEST008 .ab-button-divider {
  font-family: "Onest Regular";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: rgba(117, 117, 117, 0.5);
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AB-TEST008 .ab-button-container .link-modal-info-package {
  background-color: rgb(38, 139, 46);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 29px;
  border-radius: 30px;
  border: 1px solid rgb(38, 139, 46);
  font-family: "Onest Regular";
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
}
.AB-TEST008 .ab-button-container .track-fb-init-free-month {
  background-color: rgb(102, 204, 0);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 29px;
  border-radius: 30px;
  border: 1px solid rgb(102, 204, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Onest Regular";
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
@media screen and (min-width: 991px) {
  .AB-TEST008 .container-md:has(.quick-info.row) {
    margin-bottom: 20px;
  }
  .AB-TEST008 .ab-content-row {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    margin-bottom: 0;
    box-shadow: none;
    gap: 68px;
    padding: 12px 20px 20px;
  }
  .AB-TEST008 .ab-content-col {
    width: 33.33%;
    gap: 0;
  }
  .AB-TEST008 .ab-content-col--arrow {
    position: relative;
  }
  .AB-TEST008 .ab-content-col--arrow::after {
    content: "";
    position: absolute;
    right: -40px;
    top: 38%;
    background: url('data:image/svg+xml,<svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.7009 10.5599L0.16037 21.4119L6.86959e-05 5.56138e-05L17.7009 10.5599Z" fill="%23278B2E"/></svg>');
    width: 23px;
    height: 23px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .AB-TEST008 .ab-content {
    min-height: 185px;
  }
  .AB-TEST008 .ab-heading {
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 25px;
  }
  .AB-TEST008 .ab-content-icon {
    padding-right: 0;
  }
  .AB-TEST008 .ab-content-icon svg {
    margin-top: 16px;
    width: 55px;
    height: 55px;
    min-height: 55px;
    object-fit: contain;
  }
  .AB-TEST008 .ab-content-serial,
  .AB-TEST008 .ab-content-heading {
    font-size: 16px;
    line-height: 24px;
  }
  .AB-TEST008 .ab-content-heading {
    margin-bottom: 5px;
  }
  .AB-TEST008 .ab-content-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    margin-bottom: 11px;
  }
  .AB-TEST008 .ab-content-cta {
    width: 163px;
    height: 22.5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .AB-TEST008 .ab-button-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 17px;
  }
  .AB-TEST008 .ab-button-divider {
    font-size: 14px;
    line-height: 20px;
    color: rgba(117, 117, 117, 0.5);
  }
  .AB-TEST008 .ab-button-container .link-modal-info-package {
    background-color: rgb(38, 139, 46);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 52px;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
  }
  .AB-TEST008 .ab-button-container .track-fb-init-free-month {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 204, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 52px;
    border: 1px solid rgb(102, 204, 0);
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
  }
  .AB-TEST008 .container-md:has(#azav-banner) > hr:first-child {
    margin-top: 0 !important;
    margin-bottom: 39px !important;
  }
}