.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1600px) {
        //
    }
}

// --font-body: monospace, Helvetica, Arial, sans-serif;
// --font-bold: "forma_djr_bannerbold", var(--font-body);
// --font-bold-italic: "forma_djr_bannerbold_italic", var(--font-body);
// --font-black: "forma_djr_bannerblack", var(--font-body);
// --font-black-italic: "forma_djr_bannerblack_italic", var(--font-body);
// --font-italic: "forma_djr_bannerregular_italic", var(--font-body);
// --font-medium: "forma_djr_bannermedium", var(--font-body);
// --font-primary: "forma_djr_bannerregular", var(--font-body);

.AB-PP27US {
    .quick-shop-carousel-size,
    .quick-shop-size,
    .product-tile-size {
        display: none;
    }

    .ab-product-title:empty,
    .ab-product-price-container:empty,
    .ab-afterpay-container:empty,
    .ab-color-swatch-container:has(.product__swatches:empty)::after,
    .ab-color-swatch-container:has(.product__swatches:empty)::before,
    .ab-product-sizes-skeleton-loader__item {
        background-color: rgba(229, 229, 229, 1);
        animation: pulse 0.5s infinite linear;
        border-radius: 2px;
    }

    .ab-product-title:empty {
        height: 20px;
        width: 60%;
    }

    .ab-product-price-container:empty {
        height: 21px;
        width: 30%;
    }

    .ab-afterpay-container:empty {
        height: 20px;
        width: 50%;
    }

    .ab-color-swatch-container:has(.product__swatches:empty) {
        display: flex;
        flex-wrap: wrap;

        .product__active-color {
            order: -1;
            width: 100%;
        }

        &::before {
            margin-right: 15px;
        }

        &::after,
        &::before {
            content: "";
            display: block;
            height: 28px;
            width: 28px;
            border-radius: 50%;
        }
    }

    .ab-product-size-selector-container:not(.ab-product-size-selector-container--initialized) .ab-product-sizes-skeleton-loader {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;

        &__item {
            display: block;
            height: 30px;
        }
    }

    // Main Designs
    .ab-carousel-container {
        margin-bottom: 14px;
        margin-left: -13px;
        margin-right: -13px;

        // Carousel Skeleton Loader
        .ab-swiper.swiper-initialized ~ .ab-carousel-skeleton-loader {
            display: none;
        }

        .ab-carousel-skeleton-loader {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            margin-bottom: 14px;
            overflow: hidden;

            &__item {
                width: 163px;
                min-width: 163px;
                height: 222px;
                background-color: rgba(229, 229, 229, 1);
                animation: pulse 0.5s infinite linear;
            }
        }

        .ab-swiper:not(.swiper-initialized) {
            display: none;
        }

        //  Swiper Design
        .ab-swiper .ab-swiper-slide {
            width: 163px !important;
        }

        .ab-swiper-slide img {
            width: 163px;
            height: 222px;
            object-fit: cover; /* or contain, depending on your need */
        }

        .ab-swiper .swiper-pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }
        .ab-swiper .swiper-pagination-bullet {
            width: 6px !important;
            height: 6px !important;
            border: 1px solid rgba(255, 255, 255, 1) !important;
            background-color: transparent !important;
            margin: 0 !important;
        }

        .ab-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
            border: 1px solid rgba(255, 255, 255, 1) !important;
            background-color: rgba(255, 255, 255, 1) !important;
        }
    }

    .ab-product-title {
        font-family: "forma_djr_bannermedium", monospace, Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.8px;
        vertical-align: middle;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 10px;
    }

    .ab-product-price-container {
        font-family: "forma_djr_bannermedium", monospace, Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.8px;
        vertical-align: middle;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 14px;

        &:has(span.product__price-savings-percent:not(:empty)) {
            span[data-shop-currency],
            span[data-product-price] {
                color: #e80404;
            }
        }

        span:has(s:not(:empty)) {
            margin: 0 5px;
        }

        .product__price-savings-percent {
            font-size: 13px;
            line-height: 1;
        }
    }

    .ab-afterpay-container {
        display: flex;
        margin-bottom: 14px;

        #afterpay-placement-pdp {
            margin: 0;
        }
    }

    .ab-color-swatch-container {
        margin-bottom: 14px;

        h2.product__active-color {
            font-family: "forma_djr_bannermedium", monospace, Helvetica, Arial, sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.8px;
            vertical-align: middle;
            color: rgba(0, 0, 0, 1);
            margin-bottom: 11px;
        }

        .product__swatches {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;
        }

        .swatch {
            width: 22px;
            height: 22px;
            margin: 0;

            &:before {
                top: -3px;
                bottom: -3px;
                left: -3px;
                right: -3px;
            }
        }
    }

    .ab-product-size-selector-container {
        margin-bottom: 15px;

        // Skeleton Loader
        .ab-product-sizes-skeleton-loader {
            display: none;

            &__item {
                display: none;
            }
        }

        // Main
        .product__label.product__label--size {
            font-family: "forma_djr_bannermedium", monospace, Helvetica, Arial, sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.8px;
            vertical-align: middle;
            color: rgba(0, 0, 0, 1);
            margin-bottom: 13px;
        }

        .product__select-sizes-list {
            flex-grow: 1;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 5px;
        }

        .product__select-sizes-item:has(.product__select-sizes-button.disabled) {
            display: none;
        }

        .product__select-sizes-item.active .product__select-sizes-button {
            background-color: rgba(0, 0, 0, 1);
            color: rgba(255, 255, 255, 1);
        }

        .product__select-sizes-button {
            width: 100%;
            height: 30px;
            background-color: rgba(255, 255, 255, 1);
            border: 1px solid rgba(0, 0, 0, 1);

            display: flex;
            align-items: center;
            justify-content: center;

            font-family: "forma_djr_bannermedium", monospace, Helvetica, Arial, sans-serif;
            font-weight: 500;
            font-size: 10px;
            line-height: 100%;
            letter-spacing: 0.8px;
            text-align: center;
            vertical-align: middle;
            color: rgba(0, 0, 0, 1);
            cursor: pointer;
        }
    }

    .ab-add-to-cart-cta {
        width: 100%;
        height: 44px;
        background-color: rgba(0, 0, 0, 1);

        margin-bottom: 12px;

        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        &:disabled {
            pointer-events: none;
            opacity: 0.5;

            .ab-add-to-cart-cta__text--select-size {
                display: block;
            }
            .ab-add-to-cart-cta__text--add-to-bag {
                display: none;
            }
        }

        &__text {
            font-family: "forma_djr_bannerbold", monospace, Helvetica, Arial, sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0.8px;
            text-align: center;
            vertical-align: middle;
            color: rgba(255, 255, 255, 1);
            text-transform: uppercase;

            &--select-size {
                display: none;
            }

            &--add-to-bag {
                display: block;
            }
        }
    }

    a.ab-view-full-details {
        display: block;
        font-family: "forma_djr_bannermedium", monospace, Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.8px;
        text-align: center;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        width: max-content;
        margin: auto;
    }
}

.AB-PP27US--v1 {
    .ab-carousel-container {
        display: none;
    }

    .AB-PP27US {
        &__modal {
            min-height: 430px;

            &__head {
                margin-bottom: 29px;
            }
        }
    }
}

.AB-PP27US--v2 {
    .AB-PP27US {
        &__modal {
            min-height: 658px;

            &__head {
                margin-bottom: 32px;
            }
        }
    }
}

/**
 * ----------------------------------------
		 *			MODAL
 * ----------------------------------------
 */

body.AB-PP27US--modal-show {
    overflow: hidden;

    .AB-PP27US {
        &__modal-layout {
            display: block;
        }

        &__modal-backdrop {
            display: block;
        }

        &__modal {
            // ADD CSS
        }
    }
}

.AB-PP27US {
    &__modal-layout {
        display: none;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        height: 100dvh;
        background: transparent;
        z-index: 10000;
        overflow: hidden;

        display: none;
        justify-content: center;
        align-items: flex-end;
    }

    &__modal-backdrop {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
    }

    &__modal {
        opacity: 1;
        width: 100%;
        min-height: 422px;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        bottom: 0;
        z-index: 1;
        padding: 16px 13px 20px;
        border-radius: 13px 13px 0 0;

        &__head {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__close-cta {
            display: block;
            width: 56px;
            height: 6px;
            border-radius: 3px;
            background: rgba(229, 229, 229, 1);
        }

        &__body {
            //
        }
    }
}

// ANIMATION
.slide-in {
    -webkit-animation: slide-in 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out {
    -webkit-animation: slide-out 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-out 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
   * ----------------------------------------
   * animation slide-in
   * ----------------------------------------
   */
@-webkit-keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(600px);
        transform: translateY(600px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(600px);
        transform: translateY(600px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/**
   * ----------------------------------------
   * animation slide-out
   * ----------------------------------------
   */
@-webkit-keyframes slide-out {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(600px);
        transform: translateY(600px);
    }
}
@keyframes slide-out {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(600px);
        transform: translateY(600px);
    }
}

/**
   * ----------------------------------------
   * animation pulse
   * ----------------------------------------
   */

@-webkit-keyframes pulse {
    0% {
        background-color: rgba(229, 229, 229, 1);
    }
    50% {
        background-color: rgba(240, 240, 240, 1);
    }
    100% {
        background-color: rgba(229, 229, 229, 1);
    }
}

@keyframes pulse {
    0% {
        background-color: rgba(229, 229, 229, 1);
    }
    50% {
        background-color: rgba(240, 240, 240, 1);
    }
    100% {
        background-color: rgba(229, 229, 229, 1);
    }
}
