.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-VC120 {
    .collection-filters-modal__inner-content-wrapper {
        display: flex;
        flex-direction: column;
    }

    header.collection-filters-modal__header {
        min-height: 3.75rem;
        order: -7;
    }

    .collection-filters-modal__refinements-wrapper {
        order: -6;
    }

    // [ab-filter-type] .collection-filters__accordion-title {
    //     color: rgb(182, 16, 16) !important;
    // }
}

.AB-VC120--v1 {
    ul.vue-accordion[ab-filter-type="Size"] {
        order: -5;
    }
    ul.vue-accordion[ab-filter-type="Style"] {
        order: -4;
    }
    ul.vue-accordion[ab-filter-type="Color"] {
        order: -3;
    }
    ul.vue-accordion[ab-filter-type="By Price"] {
        order: -2;
    }
    ul.vue-accordion[ab-filter-type="Category"] {
        order: -1;
    }
}

.AB-VC120--v2 {
    ul.vue-accordion[ab-filter-type="Style"] {
        order: -5;
    }
    ul.vue-accordion[ab-filter-type="Color"] {
        order: -4;
    }
    ul.vue-accordion[ab-filter-type="Size"] {
        order: -3;
    }
    ul.vue-accordion[ab-filter-type="Category"] {
        order: -2;
    }
    ul.vue-accordion[ab-filter-type="By Price"] {
        order: -1;
    }
}
