.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-PMO23 {
    .ab-storyblok-modal > .wrapper-outer > .wrapper-inner button.wrapper-btn-close,
    .ab-storyblok-modal > .wrapper-outer > .wrapper-inner button.wrapper-btn-close:hover,
    .ab-storyblok-modal > .wrapper-outer > .wrapper-inner button.wrapper-btn-close:focus {
        border: none;
        outline: none;
    }

    .storyblok-modal > .wrapper-outer > .wrapper-inner {
        height: auto;
    }

    .ab-storyblok-modal > .wrapper-outer > .wrapper-inner > .wrapper-body {
        gap: 0;
    }

    .storyblok-modal > .wrapper-outer > .wrapper-inner > .wrapper-body {
        overflow: visible;
    }

    .ab-storyblok-modal .storyblok-text-blocks .wrapper-frames .wrapper-frame:nth-child(3):last-child {
        grid-column: span 1;
    }

    .ab-wrapper-body .wrapper-heading {
        font-family: Nunito Sans;
        font-weight: 600;
        font-size: 30px;
        line-height: normal;
        letter-spacing: 0px;
        text-transform: capitalize;
        color: #00053e;
    }

    .ab-modal-tabs-wrapper {
        //
    }

    .ab-modal-tab-item {
        width: 135px;
        height: 35px;
        background: #fff;
        border: 1px solid #0067c3;
        border-radius: 10px;
        cursor: pointer;

        font-family: Nunito Sans;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0;
        text-align: center;
        text-transform: capitalize;
        color: #0067c3;
    }

    .ab-modal-tab-item:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .ab-modal-tab-item:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .ab-wrapper-body--quantity-active .ab-modal-tab-item--quantity,
    .ab-wrapper-body--water-type-active .ab-modal-tab-item--type {
        background: #0067c3;
        color: #fdffff;
    }

    .ab-wrapper-body--quantity-active .ab-water-type-wrapper-block,
    .ab-wrapper-body--water-type-active .ab-quantity-wrapper-block {
        display: none !important;
    }

    .ab-wrapper-body--quantity-active .ab-wrapper-heading--water-types,
    .ab-wrapper-body--water-type-active .ab-wrapper-heading--quantity {
        display: none !important;
    }

    .ab-water-type-wrapper-block .wrapper-frames {
        gap: 30px;
    }

    .ab-water-type-wrapper-block .wrapper-frame:not(:last-child) {
        padding-bottom: 30px;
    }

    .ab-water-type-wrapper-block .wrapper-frame:not(:last-child) {
        border-bottom: 1px solid #00053e26;
    }

    .ab-water-type-wrapper-block .ab-wrapper-image-container {
        margin-right: 21px;
    }

    .ab-water-type-wrapper-block .ab-wrapper-image svg {
        width: 40px;
        height: 40px;
    }

    .ab-water-type-wrapper-block .ab-heading-2 {
        font-family: Nunito Sans;
        font-weight: 600;
        font-size: 20px;
        line-height: normal;
        letter-spacing: 0px;
        text-transform: capitalize;
        color: #00053e;
        margin-bottom: 15px;
        text-align: left;
    }

    .ab-water-type-wrapper-block .wrapper-description {
        font-family: Nunito Sans;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0px;
        color: #00053e;
        margin-bottom: 0;
        text-align: left;
    }

    .ab-quantity-wrapper-block {
        margin-bottom: 30px;
    }

    .ab-quantity-wrapper-sub-text {
        font-family: Nunito Sans;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
    }

    .ab-quantity-wrapper-block .wrapper-frames {
        gap: 20px;
    }

    .ab-quantity-wrapper-block .wrapper-frame {
        padding: 20px;
        background: #f2f5f7;
        border-radius: 15px;
        position: relative;
    }

    .ab-quantity-wrapper-block .ab-wrapper-image {
        margin-right: 11px;
    }

    .ab-quantity-wrapper-block .ab-wrapper-image img {
        width: 100px;
        min-width: 100px;
        height: 102px;
        min-height: 102px;
        object-fit: contain;
    }

    .ab-quantity-wrapper-block .ab-heading-wrapper-inner {
        background: #00053e;
        padding: 3.5px 9px;
        border-radius: 500px;
        width: 115px;
        margin-bottom: 15px;
    }

    .ab-quantity-wrapper-block .ab-heading-2 {
        font-family: Nunito Sans;
        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
    }

    .ab-quantity-wrapper-block .wrapper-description {
        font-family: Nunito Sans;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0px;
        color: #00053e;
    }

    .ab-quantity-wrapper-block .wrapper-description span {
        color: #0067c3;
    }

    .ab-freq-txt {
        font-family: Nunito Sans;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        color: #00053eb2;
        margin-bottom: 9px;
    }

    .ab-helpline-txt {
        font-family: Nunito Sans;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        color: #00053e;
    }

    .ab-helpline-txt a {
        font-weight: 700;
        font-size: 16px;
        text-decoration: underline;
        color: #0067c3;
    }

    //  ============ NEW START ============

    @media screen and (max-width: 375px) {
        // .modal-v2.pop-up.ab-storyblok-modal > .wrapper-outer {
        //     margin-top: 5000px !important;
        // }
    }

    @media screen and (max-width: 767.5px) {
        .modal-v2.pop-up.ab-storyblok-modal {

            height: 100vh;
            overflow-y: scroll;
        }

        .storyblok-modal > .wrapper-outer > .wrapper-inner {
            // height: max-content;
        }

        .modal-v2.pop-up.ab-storyblok-modal > .wrapper-outer {
            margin: 0 !important;
            padding: 0 !important;

            // height: 100vh;
            // overflow-y: scroll;
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            // bottom: 0;
            margin: auto;
        }

        .modal-v2.pop-up.ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
            margin: 1.5rem 1rem;
        }

        .ab-storyblok-modal > .wrapper-outer {
            width: max-content;
            // height: auto;
        }
    }

    // ============ NEW END ============

    @media screen and (min-width: 768px) {
        .ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
            width: 654px;
        }

        .ab-wrapper-body .wrapper-heading {
            font-size: 36px;
            line-height: 42px;
        }

        .ab-wrapper-body .wrapper-heading br {
            display: none;
        }

        .ab-water-type-wrapper-block .ab-wrapper-image svg {
            width: 60px;
            height: 60px;
        }

        .ab-water-type-wrapper-block .ab-heading-2 {
            font-size: 24px;
            line-height: normal;
        }

        .ab-water-type-wrapper-block .wrapper-description {
            font-size: 14px;
            line-height: 22px;
        }

        // .ab-quantity-wrapper-block .wrapper-frame {
        //     padding: 30px 25px 23px;
        // }

        .ab-quantity-wrapper-block .ab-heading-wrapper-inner {
            padding: 6px 19px;
            width: 135px;
        }

        .ab-quantity-wrapper-block .wrapper-description {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
        }

        .ab-quantity-wrapper-block .wrapper-description span {
            color: #0067c3;
        }

        .ab-freq-txt {
            font-size: 14px;
            line-height: 100%;
            margin-bottom: 15px;
        }

        .ab-helpline-txt {
            font-size: 18px;
            line-height: 22px;
        }
    }

    @media screen and (min-width: 1025.5px) {
        .ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
            min-width: 100%;
        }

        .ab-water-type-wrapper-block .wrapper-frames {
            gap: 40px;
        }

        .ab-water-type-wrapper-block .wrapper-frame {
            border: 0px;
            background: #f2f5f7;
            border-radius: 15px;
            padding: 30px;
            padding-bottom: 43px;
        }

        .ab-water-type-wrapper-block .wrapper-frame:not(:last-child) {
            border: 0px;
        }

        .ab-water-type-wrapper-block .ab-wrapper-image-container {
            margin-right: 0;
            margin-bottom: 33px;
        }

        .ab-water-type-wrapper-block .ab-heading-2 {
            text-align: center;
            margin-bottom: 25px;
        }

        .ab-water-type-wrapper-block .wrapper-description {
            text-align: center;
            margin-bottom: 0;
        }

        // Start from here
        .ab-quantity-wrapper-block {
            margin-bottom: 50px;
        }

        .ab-quantity-wrapper-sub-text {
            font-size: 14px;
            line-height: 22px;
        }

        .ab-quantity-wrapper-block .wrapper-frames {
            gap: 40px;
            width: max-content;
            margin: auto;
        }
        .ab-quantity-wrapper-block .wrapper-frame {
            max-width: 250px;
            padding: 30px 25px 23px;
        }

        .ab-quantity-wrapper-block .ab-wrapper-image {
            margin-right: 0;
            margin-bottom: 20px;
        }

        .ab-quantity-wrapper-block .ab-wrapper-image img {
            width: 160px;
            min-width: 160px;
            height: 163px;
            min-height: 163px;
            object-fit: contain;
        }

        .ab-quantity-wrapper-block .ab-heading-wrapper-inner {
            margin-bottom: 0;
            position: absolute;
            top: -10px;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    @media screen and (min-width: 1178px) {
        .ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
            min-width: 1110px;
            width: 1110px;
            // max-height: 608px;
            // height: 608px;
        }
    }
}

.AB-PMO23--v1 {
    // //  ============ NEW START ============

    // @media screen and (max-width: 375px) {
    //     .modal-v2.pop-up.ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
    //         // margin-top: 200px !important;
    //     }
    // }

    // @media screen and (max-width: 767.5px) {
    //     .modal-v2.pop-up.ab-storyblok-modal > .wrapper-outer {
    //         margin: 0 !important;
    //         padding: 0 !important;

    //         height: 100vh;
    //         overflow-y: scroll;
    //         width: 100%;
    //     }

    //     .modal-v2.pop-up.ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
    //         margin: 1.5rem 1rem;
    //     }

    //     .ab-storyblok-modal > .wrapper-outer {
    //         width: max-content;
    //         // height: auto;
    //     }
    // }

    // // ============ NEW END ============

    .ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
        padding: 30px 25px 38px;
        height: auto;
    }

    .ab-wrapper-body .ab-wrapper-heading--water-types {
        margin-bottom: 30px;
    }

    .ab-modal-tabs-wrapper,
    .ab-wrapper-bottom {
        display: none !important;
    }

    @media screen and (max-width: 767.5px) {
        .ab-water-type-wrapper-block .ab-heading-2 {
            margin-bottom: 10px;
        }
    }

    @media screen and (max-width: 1024.5px) {
        .ab-water-type-wrapper-block .ab-wrapper-image {
            padding-top: 5px;
        }
    }

    @media screen and (min-width: 768px) {
        .ab-wrapper-body .ab-wrapper-heading--water-types {
            margin-bottom: 50px;
            //
        }
    }

    @media screen and (max-width: 1024.5px) {
        .ab-water-type-wrapper-block .ab-wrapper-image {
            padding-top: 5px;
        }
    }

    @media screen and (min-width: 1025px) {
        .ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
            min-width: 1110px;
            width: 1110px;
            padding: 50px 55px;
        }

        .ab-water-type-wrapper-block .wrapper-frame {
            width: 220px;
            height: 350px;
        }
    }
}

.AB-PMO23--v2 {
    .ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
        padding: 30px 25px 38px;
        height: max-content;
    }

    .ab-wrapper-body .ab-wrapper-heading--quantity {
        margin-bottom: 30px;
    }

    .ab-modal-tabs-wrapper {
        display: none !important;
    }

    .ab-quantity-wrapper-sub-text {
        margin-bottom: 30px;
    }

    @media screen and (max-width: 767.5px) {
        .ab-wrapper-body .ab-wrapper-heading--quantity {
            margin-bottom: 20px;
        }

        .ab-quantity-wrapper-sub-text {
            margin-bottom: 20px;
        }
    }

    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 1025px) {
        .ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
            padding: 50px 55px;
        }

        .ab-quantity-wrapper-sub-text {
            margin-bottom: 60px;
        }

        .ab-quantity-wrapper-block .wrapper-frame {
            width: 250px;
            height: 290px;
        }
    }
}

.AB-PMO23--v3 {
    .ab-storyblok-modal > .wrapper-outer {
        padding: 13px 25px 20px;
        // height: auto;
    }

    .ab-wrapper-body .ab-wrapper-heading--water-types {
        // margin-bottom: 16px;
        margin-bottom: 10px;
    }

    .ab-wrapper-body .ab-wrapper-heading--quantity {
        // margin-bottom: 16px;
        margin-bottom: 10px;
    }

    .ab-water-type-wrapper-block {
        margin-top: 30px;
        margin-bottom: 53px;
    }

    .ab-quantity-wrapper-block {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .ab-quantity-wrapper-sub-text {
        margin-bottom: 30px;
    }

    .ab-quantity-wrapper-block .wrapper-frames {
        gap: 22px;
    }

    @media screen and (max-width: 767.5px) {
        .ab-water-type-wrapper-block {
            margin-top: 20px;
        }

        .ab-quantity-wrapper-block {
            margin-top: 20px;
        }
    }

    @media screen and (min-width: 768px) {
        .ab-wrapper-body .ab-wrapper-heading--water-types {
            margin-bottom: 26px;
            //
        }

        .ab-wrapper-body .ab-wrapper-heading--quantity {
            margin-bottom: 26px;
        }

        .ab-water-type-wrapper-block {
            margin-bottom: 24px;
        }
    }

    @media screen and (min-width: 1025px) {
        .ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
            padding: 50px 55px;
            // height: 630px;
        }

        .ab-quantity-wrapper-block {
            // margin-top: 30px;
            // margin-bottom: 50px;
            margin-top: 22px;
            margin-bottom: 40px;
        }

        .ab-quantity-wrapper-sub-text {
            // margin-bottom: 60px;
            margin-bottom: 30px;
        }

        .ab-quantity-wrapper-block .wrapper-frame {
            width: 250px;
            height: 290px;
        }

        .ab-water-type-wrapper-block .wrapper-frame {
            width: 220px;
            height: 350px;
        }
    }
}
