.LME36 .ab-hidden {
  display: none !important;
}
.LME36 .faq-container {
  position: relative;
}
.LME36 .faq-title-container {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 22px;
  padding-right: 22px;
  gap: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.LME36 .faq-title-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
@media screen and (min-width: 1025px) {
  .LME36 .faq-title-container {
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.LME36 .faq-title-tab {
  padding: 10px 15px;
  border-radius: 30000px;
  background: #c5ff89;
  cursor: pointer;
}
.LME36 .faq-title {
  color: #000;
  font-family: Mier A, helvetica, arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
  white-space: nowrap;
}
.LME36 .faq-title-star {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.LME36 .faq-title-star svg {
  width: 16px;
  height: 16px;
}
.LME36 .faq-description {
  display: none;
}
.LME36 .faq-dropdown-backdrop {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  .LME36 .faq-dropdown-backdrop {
    z-index: 9;
    opacity: 0;
    display: none !important;
  }
}
.LME36 .faq-dropdown {
  position: absolute;
  z-index: 1000;
  border-radius: 24px;
  background: #dfc8e7;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 25px 18px 25px;
}
@media screen and (max-width: 768px) {
  .LME36 .faq-dropdown {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: max-content;
    margin-top: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .LME36 .faq-dropdown {
    width: 117%;
    top: -26px;
    left: -8%;
    right: 0%;
    min-width: 340px;
    position: absolute;
    z-index: 10;
    top: 50px;
    left: -7.5%;
    right: 0%;
    width: 115%;
    gap: 18px;
    padding: 28px 25px 28px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 1200px) {
  .LME36 .faq-dropdown {
    left: -5%;
    right: 0%;
    width: 110%;
  }
}
.LME36 .faq-dropdown__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.LME36 .faq-dropdown__title-tab {
  padding: 10px 15px;
  border-radius: 30000px;
  background: #c5ff89;
}
.LME36 .faq-dropdown__title {
  color: #000;
  font-family: Mier A, helvetica, arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.LME36 .faq-dropdown__close-cta {
  width: max-content;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.LME36 .faq-dropdown__close-cta svg {
  width: 14.5px;
  height: 14.5px;
}
@media screen and (min-width: 768px) {
  .LME36 .faq-dropdown__close-cta {
    display: none;
  }
}
.LME36 .faq-dropdown__body {
  color: #000;
  font-family: Mier A, helvetica, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-align: left;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .LME36 .faq-dropdown__body {
    padding-bottom: 20px;
  }
}
.LME36--show-faq-dropdown {
  overflow: hidden;
}
.LME36--show-faq-dropdown .faq-dropdown-backdrop {
  display: block;
}
.LME36--show-faq-dropdown .faq-dropdown {
  display: flex;
}
@media screen and (max-width: 768px) {
  .LME36--show-faq-dropdown .faq-dropdown {
    animation: slideIn 0.3s ease-in-out;
  }
}
.LME36--show-faq-dropdown #chat-button {
  display: none !important;
}

.LME36--v1 .custom-benefit-controls {
  margin-bottom: 18px;
}

.LME36--v2 .faq-container {
  margin-top: 15px;
}

@keyframes slideIn {
  from {
    bottom: -285px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}