.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-PDP-COMBINE-IMAGE-GALLERY {
    .js-product-secondary-image-carousel,
    .product-detail .row .js-personalize-invisible {
        display: none;
    }

    .ab-image-gallery {
        width: 100%;
        overflow: hidden;
    }

    .ab-image-gallery .swiper-slide,
    .ab-image-thumb .swiper-slide {
        width: max-content;
    }

    .ab-image-gallery .swiper-slide-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ab-image-gallery .swiper-slide-container img {
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
    }

    .ab-image-thumb {
        width: 100%;
        overflow: hidden;
        max-width: auto;
        position: relative;
        margin-bottom: 44px;
    }

    .ab-thumb-slide {
        display: block;
        width: calc(100% - 66px);
        margin: auto;
        overflow: hidden;
    }

    .ab-thumb-slide .swiper-slide-container {
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ab-thumb-slide .swiper-slide-container img {
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
    }

    .ab-thumb-slide .swiper-slide.swiper-slide-active {
        outline: 1px solid #000000;
        outline-offset: -1px;
    }

    .ab-thumb-arrows {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .ab-swiper-nav {
        position: static;
        margin: 0;
        width: 25px;
        min-width: 25px;
        height: 25px;
        min-height: 25px;
        border: 1px solid #000000;
    }

    .ab-swiper-nav:after {
        content: "";
    }

    div.swiper-button-prev:after {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><rect x="24.5" y="24.5" width="24" height="24" transform="rotate(180 24.5 24.5)" stroke="black" /><path d="M14.7539 5.87097L8.12478 12.5001L14.7539 19.1292" stroke="black" stroke-linecap="round" /></svg>');
        background-position: center;
        background-repeat: no-repeat;
        width: 9.38px;
        height: 9.38px;
        margin-right: -3px;
    }

    div.swiper-button-next:after {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><rect x="0.5" y="0.499758" width="24" height="24" stroke="black" /><path d="M10.2461 19.1288L16.8752 12.4997L10.2461 5.87053" stroke="black" stroke-linecap="round" /></svg>');
        background-position: center;
        background-repeat: no-repeat;
        width: 9.38px;
        height: 9.38px;
        margin-left: -3px;
    }


    .product-name {
        margin-top: 0;
        margin-bottom: 8px;
    }
}
