@media screen and (min-width: 991px) {
  .AB-GP90 .products:not(.owl-carousel) .wcpb-product-badges-loop-container {
    margin-left: 0 !important;
  }
  .AB-GP90 .products:not(.list):not(.owl-carousel) .category-ads-shortcode img {
    min-width: 335px !important;
    width: 335px !important;
    height: 471px !important;
  }
}