.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-TEST001 {
    .slide-description:empty {
        display: none;
    }

    .product-detail-buy-box .product-name__group.product-name__group--items-center {
        gap: 10px;
    }

    .product-detail-buy-box ul.product-name__rating li:last-child {
        display: none;
    }

    .product-detail-buy-box .product-name:not(:has(.product-name__group.product-name__group--items-center)) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    h3.h3.product-name__name {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 27.77px;
        letter-spacing: 0;
        vertical-align: middle;
        color: #262228;
    }

    .ab-review-value {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0;
        color: #262228;
    }

    .ab-review-total {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0;
        color: #7d7a7e;
    }

    form.heart {
        margin-left: auto;
    }

    .product-color--active {
        box-shadow: 2px 2px 2px 0px #00000040;
    }

    .product-size--active {
        box-shadow: 2px 2px 2px 0px #00000040;
    }

    .product-detail-attribute-row:has(> .price-in-discount) {
        margin-top: 22px;
    }

    .price-in-discount {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .price-compare span {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #262228;
    }

    .price-in-discount .tax-include {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #7d7a7e;
    }

    .product-detail-attribute-row:has(> .product-variant-wrapper) {
        margin-top: 20px;
    }

    .product-variant__label {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #262228;
    }

    .product-variant__info--color,
    .product-variant__info--size {
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .product-variant__size-chart {
        margin-left: auto;
        font-family: "Inter", sans-serif;
        font-weight: 300;
        font-size: 13.5px;
        line-height: 20px;
        letter-spacing: 0;
        vertical-align: middle;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0;
        text-decoration-skip-ink: auto;
        color: #262228;
    }

    .product-variant__color-name,
    .product-variant__size-name {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #262228;
    }

    .product-detail-attribute-row:has(> .delivery-times) {
        margin-top: 17px;
    }

    .delivery-times .content {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 14.9px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #000000;
    }

    .product-description-block.product-description-block--top .product-description-parameters table tr td:first-child {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #262228;
    }

    .product-description-block.product-description-block--top .product-description-parameters table tr td:last-child ul li {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #000000;
    }

    .product-detail-attribute-row:has(> .product-detail-shipping-commitment) {
        margin-top: 11px;
    }

    .product-name__group.product-name__group--justify-between .p--small--medium {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 14.6px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #7d7a7e;
    }

    ul.product-detail-shipping-commitment {
        margin-top: 11px;
    }

    ul.product-detail-shipping-commitment li {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 14.8px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #000000;
        padding-bottom: 9px;
    }

    ul.product-detail-shipping-commitment li svg {
        width: 13px;
        height: auto;
        margin-right: 3px;
    }

    .product-description-parameters.product-description-parameters--top {
        display: block;
    }

    .product-detail-content .product-detail-content-inner-wrap .product-detail-buy-box {
        padding-bottom: 20px;
    }

    .product-description-intro.p--normal {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 19.5px;
        line-height: 30px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #000000;
    }

    .product-detail-buy-box .product-name__group form.heart .heart-default .product-name__wishlist-icon {
        display: none;
    }

    @media screen and (max-width: 767.5px) {
        .product-image-slider .productGalleryThumbSwiper {
            margin-top: 16px;
        }

        .product-name {
            gap: 17px;
        }
    }

    @media screen and (min-width: 768px) {
        .product-detail-buy-box .product-name__group.product-name__group--items-center {
            gap: 20px;
        }

        .ab-review-value {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }

        .ab-review-total {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
        }

        .product-detail-attribute-row:has(> .price-in-discount) {
            margin-top: 21px;
        }

        .price-compare span {
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
        }

        .price-in-discount .tax-include {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
        }

        .product-detail-attribute-row:has(> .product-variant-wrapper) {
            margin-top: 22px;
        }

        .product-variant__label {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0px;
        }

        .product-variant__color-name,
        .product-variant__size-name {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0px;
            vertical-align: middle;
        }

        .product-variant__size-chart {
            margin-left: auto;
            font-family: "Inter", sans-serif;
            font-weight: 300;
            font-size: 13.5px;
            line-height: 20px;
            letter-spacing: 0;
            vertical-align: middle;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 0;
            text-decoration-skip-ink: auto;
            color: #262228;
        }

        .product-detail-attribute-row:has(> .delivery-times) {
            margin-top: 22px;
        }

        .delivery-times .content {
            font-weight: 400;
            font-size: 14.9px;
            line-height: 24px;
            letter-spacing: 0px;
        }

        .product-description-parameters--top {
            margin-top: 8px;
        }

        .product-description-block.product-description-block--top .product-description-parameters table tr td:first-child {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0px;
            vertical-align: top;
        }

        .product-description-block.product-description-block--top .product-description-parameters table tr td:last-child ul li {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0px;
            vertical-align: top;
        }

        .product-detail-attribute-row:has(> .product-detail-shipping-commitment) {
            margin-top: 16px;
        }

        .product-name__group.product-name__group--justify-between .p--small--medium {
            font-weight: 400;
            font-size: 14.6px;
            line-height: 24px;
            letter-spacing: 0px;
            vertical-align: middle;
        }

        ul.product-detail-shipping-commitment {
            margin-top: 48px;
        }

        ul.product-detail-shipping-commitment li {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 14.8px;
            line-height: 24px;
            letter-spacing: 0px;
            vertical-align: middle;
            color: #000000;
        }

        ul.product-detail-shipping-commitment li svg {
            width: 13.5px;
            height: auto;
            margin-right: 5px;
        }

        .product-detail-content .product-detail-content-inner-wrap .product-detail-buy-box {
            padding-bottom: 48px;
        }

        .product-description-intro.p--normal {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 18.6px;
            line-height: 30px;
            letter-spacing: 0px;
            vertical-align: middle;
        }
    }
}
