.AB-EXP-143:not(.AB-EXP-143--show-tooltip) .seatplan-tooltip-info-outer {
  display: none !important;
}

.AB-EXP-143--v2.AB-EXP-143--sticky-cta .production-right-panel__sticky-container {
  bottom: 0;
}