.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-BL10 {
    .ab-scroll-and-table-contents {
        background: #f2f5f7;
        padding-bottom: 12px;
        // padding-bottom: 15px;
        position: relative;
        z-index: -1;
    }

    .ab-scroll-and-table-contents.ab-scroll-and-table-contents--only-scroll {
        padding-top: 0;
        padding-bottom: 0;
    }

    .ab-scroll-container {
        width: 100%;
        height: 3px;
        background-color: #e4cec8;
        position: relative;
    }

    .ab-scroll-container:after {
        content: "";
        background-color: #933a25;
        position: absolute;
        left: 0;
        height: 3px;
        top: 0;
        width: 0;
        transition: all 0.3s ease-in-out;
    }

    .ab-scroll-container[data-scroll="25"]::after {
        width: 25%;
    }

    .ab-scroll-container[data-scroll="50"]::after {
        width: 50%;
    }

    .ab-scroll-container[data-scroll="75"]::after {
        width: 75%;
    }

    .ab-scroll-container[data-scroll="100"]::after {
        width: 100%;
    }

    .ab-table-contents-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ab-schedule-free-consultation {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 176px;
        height: 52px;
        flex-grow: 1;
        // margin-left: -20px;
        background: #933925;
        padding: 6px 20px;
        text-decoration: none;
        border: none;

        font-family: quasimoda, sans-serif;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        color: #ffffff;

        &:focus,
        &:hover {
            text-decoration: none;
            border: none;
            outline: none;
        }
    }

    .ab-table-contents-title {
        color: #0a1d35;
        text-align: right;
        font-family: quasimoda, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        color: #0a1d35;
        display: none;
    }

    .ab-table-content-selection {
        width: 363px;
        max-width: 363px;
        // height: 42px;
        min-height: 42px;
        // margin-top: 12px;
        position: relative;
        user-select: none;
    }

    .ab-table-content-selection[data-state="closed"] .ab-table-content-list {
        display: none !important;
    }

    .ab-table-content-selection[data-state="opened"] .ab-table-content-selected-item {
        opacity: 0;
        visibility: hidden !important;
        z-index: -1;
        position: relative;
    }

    .ab-table-content-selected-item {
        border-radius: 5px;
        border: 1px solid #e8e5de;
        background: #fff;
        padding: 13px 15px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;

        color: #933a25;
        font-family: quasimoda, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;

        transition: all 0.3s ease-in-out;
    }

    .ab-table-content-selected-item:after {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none"><path d="M0 0.904462L0.976248 0L5.50001 4.19107L10.0238 0L11 0.904462L5.50001 6L0 0.904462Z" fill="%23003764"/></svg>');
        display: flex;
        justify-content: center;
        align-self: center;
        margin-left: auto;
    }

    .ab-table-content-list {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 5px;
        border: 1px solid #e8e5de;
        background: #fff;
        box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.15);

        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        transition: all 0.3s ease-in-out;

        max-height: 75vh;
        overflow-y: auto;
    }

    .inner.mobile-open .ab-scroll-and-table-contents {
        z-index: -1;
        // opacity: 0;
    }

    .ab-table-content-list .ab-table-content-item {
        padding: 13px 15px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;

        color: #333;
        font-family: quasimoda, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        cursor: pointer;
        margin-bottom: 0;
    }

    .ab-table-content-list .ab-table-content-item:hover,
    .ab-table-content-list .ab-table-content-item[selected] {
        color: #933a25;
    }

    .ab-table-content-list .ab-table-content-item:first-child::after {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none"><path d="M0 5.09554L0.976248 6L5.50001 1.80893L10.0238 6L11 5.09554L5.50001 4.76837e-07L0 5.09554Z" fill="%23003764"/></svg>');
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-self: center;
        align-self: center;
    }

    .ab-table-content-list .ab-table-content-item:not(:last-child) {
        border-bottom: 1px solid #e8e5de;
    }

    .ab-ellipsis-one-lines {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ab-ellipsis-two-lines {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // ======= AMENDS START =======

    @media screen and (max-width: 768px) {
        #top-header.top-header-1 .inner.sticky-nav.sticky-in {
            // box-shadow: none;
        }

        .inner.sticky-nav.sticky-in {
            background: #fff;
            box-shadow: none;
        }

        .ab-table-content-selection[data-state="opened"] .ab-table-content-selected-item {
            visibility: visible !important;
            opacity: 1 !important;
            z-index: 1;
        }

        .ab-table-content-selection[data-state="opened"] .ab-table-content-selected-item:after {
            transform: rotate(-180deg);
        }

        .ab-table-content-selection {
            position: static;
        }

        .ab-table-content-list {
            top: 52px;
        }

        .ab-table-contents-container {
            position: relative;
            width: 100%;
            // margin: 9px 0 12px;
            margin: 6px 0 9px;
            gap: 10px;
            z-index: 10;
        }

        .ab-table-content-selected-item {
            margin-right: 9px;
        }

        .ab-table-content-list {
            left: 9px;
            right: 9px;
        }

        .ab-table-content-selected-item {
            padding: 13px 10px;
        }

        .ab-scroll-and-table-contents {
            background: #fff;
            padding-bottom: 0;
        }

        .ab-table-content-list .ab-table-content-item:first-child::after {
            display: none;
        }

        // .ab-table-content-list  {
        //     max-height: 70vh;
        // }
    }

    // ======= AMENDS END =======

    @media screen and (min-width: 991px) {
        .ab-scroll-and-table-contents {
            // height: 60px;
            margin-top: -1px;
            padding-top: 7px;
            padding-bottom: 13px;
        }

        .ab-scroll-container {
            height: 5px;
        }

        .ab-scroll-container:after {
            height: 5px;
        }

        .ab-table-contents-title {
            display: block;
        }

        .ab-schedule-free-consultation {
            display: none;
        }

        .ab-table-contents-container {
            margin-top: 10px;
            justify-content: flex-end;
            gap: 20px;
        }

        .ab-table-content-selection {
            margin-top: 0;
        }

        .ab-table-content-list {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            overflow-y: auto;
        }

        .ab-table-content-list {
            max-height: 85vh;
        }
    }

    @media screen and (min-width: 1200px) {
        #ela-main_nav-link-library {
            height: 41px;
        }
    }
    // @media screen and (min-width: 1220px) {
    //     .ab-table-content-selection:hover .ab-table-content-selected-item {
    //         opacity: 0;
    //         visibility: hidden !important;
    //         z-index: -1;
    //         position: relative;
    //     }
    //     .ab-table-content-selection:hover .ab-table-content-list {
    //         display: flex !important;
    //     }
    // }
}

// HTML
@media screen and (max-width: 859px) {
    html:not(.mobile-open) .AB-BL10 #top-header.top-header-1 {
        overflow: visible;
    }

    .AB-BL10 .sticky-on-scroll {
        display: none !important;
    }
}
