.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-MMI22 {
    .hm-v3-banner__btn {
        display: none;
    }

    .ab-hero-micro-commitment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 29px;
    }

    .ab-hero-micro-commitment__title {
        color: #000;
        text-align: center;
        font-family: CircularStd-Book, "sans-serif";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
    }

    .ab-hero-micro-commitment__cta-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    .ab-hero-micro-commitment__cta {
        border-radius: 5px;
        border: 1px solid rgba(3, 161, 136, 0.15);
        background: #fff;
        box-shadow: 0 10px 55px 0 rgba(0, 0, 0, 0.1);
        white-space: nowrap;
        min-width: 275px;
        width: 100%;
        height: 60px;
        padding: 20px 20px;

        outline: none;
        text-decoration: none;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;

        &:hover,
        &:focus {
            // border: 1px solid rgba(3, 161, 136, 0.15);
            text-decoration: none;

            &:before {
                background: rgba(3, 161, 136, 1);
            }
        }

        &:before {
            content: "";
            width: 15px;
            min-width: 15px;
            height: 15px;
            min-height: 15px;
            border-radius: 50%;
            border: 2px solid rgba(3, 161, 136, 1);
            background: #fff;
            transition: all 0.2s;
            margin-right: 5px;
            margin-top: -1.5px;
        }
    }

    .ab-hero-micro-commitment__cta-title {
        color: #000;
        font-family: CircularStd-Book, "sans-serif";
        // font-family:
        //     Circular Std,
        //     sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        // height: 15px;
        align-self: center;
        // border: 1px solid red;
    }

    .ab-hero-micro-commitment__cta-prefix {
        color: rgba(0, 0, 0, 1);
        font-family:
            Circular Std,
            sans-serif;
        font-size: 16px;
        font-style: italic;
        font-weight: 300;
        line-height: 100%;
        letter-spacing: 0px;
        align-self: center;
        // border: 1px solid red;
    }

    .hm-v3-banner {
        min-height: 740px;
    }

    .hm-v3-banner__wrapper {
        padding: 40px 20px;
        gap: 0;
    }

    .hm-v3-banner__title {
        // font-family: CircularStd-Book, "sans-serif";
        font-weight: 500;
        font-size: 42px;
        line-height: 48px;
        letter-spacing: -3px;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 35px !important;
    }

    .hm-v3-banner__text {
        font-weight: 450;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        margin: 0;
        text-wrap: pretty;
        margin-bottom: 38px;

        br {
            display: none;
        }
    }

    @media screen and (min-width: 990px) {
        .hm-v3-banner {
            min-height: 850px;
        }

        .hm-v3-banner__wrapper {
            padding: 50px 0;
        }

        .hm-v3-banner__title {
            font-weight: 500;
            font-size: 70px;
            line-height: 70px;
            letter-spacing: -3px;
            text-align: center;
            margin-bottom: 40px !important;
        }

        .hm-v3-banner__text {
            font-weight: 450;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0px;
            text-align: center;
            margin-bottom: 40px;

            br {
                display: block;
            }
        }
    }

    @media screen and (min-width: 991px) {
        .ab-hero-micro-commitment {
            gap: 41px;
        }

        .ab-hero-micro-commitment__title {
            color: #000;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; /* 150% */
        }

        .ab-hero-micro-commitment__cta-container {
            flex-direction: row;
            gap: 20px;
        }

        .ab-hero-micro-commitment__cta {
            min-width: 220px;

            &:before {
                margin-right: 0;
            }
        }
    }
}

.AB-MMI22.AB-MMI22--v3 {
    @media screen and (min-width: 991px) {
        .ab-hero-micro-commitment__cta {
            min-width: 275px;
        }
    }
}
