/* 
Array.from($0.classList).join('.')
*/
.AB-CS104 .flex.w-full.items-center.justify-start h3.text-h3 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 20.5px;
  line-height: 28.24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(0, 35, 52);
}
.AB-CS104 .mx-auto.mb-cove-15.mt-cove-15.grid.w-full.grid-cols-2.gap-cove-10.sm\:gap-cove-25.md\:grid-cols-3.lg\:grid-cols-4 {
  margin-top: 15px;
}
.AB-CS104 .relative.flex.h-full.w-full.flex-col.items-center.justify-between.rounded.border.border-cove-dove.bg-white.p-cove-5.sm\:p-cove-10 {
  padding: 6px 6px 8px;
}
.AB-CS104 .flex.h-full.max-h-\[160px\].w-full.max-w-\[250px\].items-center.justify-center.rounded-\[10px\].bg-cove-dove.px-\[30px\].py-cove-5.sm\:py-cove-25 {
  background-color: rgb(228, 222, 214);
  width: 100%;
  height: 83px;
  border-radius: 10px;
}
.AB-CS104 .flex.h-full.max-h-\[160px\].w-full.max-w-\[250px\].items-center.justify-center.rounded-\[10px\].bg-cove-dove.px-\[30px\].py-cove-5.sm\:py-cove-25 img {
  width: auto;
  height: 100%;
  object-fit: contain;
}
.AB-CS104 .m-0.flex.text-\[12px\].font-bold.leading-4.text-cove-navy-blue.sm\:text-sm.sm\:font-bold,
.AB-CS104 .text-cove-dark-grey.mb-cove-5.m-0.flex.text-\[12px\].font-bold.leading-4.sm\:text-sm.sm\:font-bold {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(0, 35, 52);
}
.AB-CS104 .m-0.flex.text-\[12px\].font-bold.leading-4.text-cove-navy-blue.sm\:text-sm.sm\:font-bold .ml-cove-10.flex.items-center.justify-center,
.AB-CS104 .m-0.flex.text-\[12px\].font-bold.leading-4.text-cove-navy-blue.sm\:text-sm.sm\:font-bold .ml-cove-30.flex.items-center.justify-center,
.AB-CS104 .text-cove-dark-grey.mb-cove-5.m-0.flex.text-\[12px\].font-bold.leading-4.sm\:text-sm.sm\:font-bold .ml-cove-10.flex.items-center.justify-center,
.AB-CS104 .text-cove-dark-grey.mb-cove-5.m-0.flex.text-\[12px\].font-bold.leading-4.sm\:text-sm.sm\:font-bold .ml-cove-30.flex.items-center.justify-center {
  margin-left: 1px;
}
.AB-CS104 .m-0.flex.text-\[12px\].font-bold.leading-4.text-cove-navy-blue.sm\:text-sm.sm\:font-bold button,
.AB-CS104 .text-cove-dark-grey.mb-cove-5.m-0.flex.text-\[12px\].font-bold.leading-4.sm\:text-sm.sm\:font-bold button {
  width: 14px;
  height: 14px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AB-CS104 .m-0.flex.text-\[12px\].font-bold.leading-4.text-cove-navy-blue.sm\:text-sm.sm\:font-bold button svg,
.AB-CS104 .text-cove-dark-grey.mb-cove-5.m-0.flex.text-\[12px\].font-bold.leading-4.sm\:text-sm.sm\:font-bold button svg {
  margin-top: 0;
  width: 9px;
  height: 9px;
}
.AB-CS104 .mt-cove-10.flex.w-full.flex-col.items-center.justify-center.gap-cove-2.xs\:flex-row.xs\:gap-cove-5,
.AB-CS104 .text-cove-dark-grey.ml-cove-5.mb-0.text-base.font-medium.leading-4 + .text-cove-dark-grey.text-xs.font-light,
.AB-CS104 .text-cove-dark-grey.ml-cove-5.mb-0.text-base.font-medium.leading-4 {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21.01px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(0, 35, 52);
}
.AB-CS104 .relative.text-sm.text-cove-dark-grey.after\:absolute.after\:left-0.after\:right-0.after\:top-\[calc\(50\%-1px\)\].after\:-translate-y-1\/2.after\:border-t.after\:border-t-cove-dark-grey,
.AB-CS104 .mr-cove-5.relative.m-0.text-sm.font-light.leading-\[14px\].text-inherit.before\:absolute.before\:top-\[42\%\].before\:h-\[1px\].before\:w-full.before\:translate-y-\[50\%\].before\:bg-black.before\:content-\[\'\'\].md\:mr-0 {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21.01px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(81, 81, 81);
}
.AB-CS104 .relative.text-sm.text-cove-dark-grey.after\:absolute.after\:left-0.after\:right-0.after\:top-\[calc\(50\%-1px\)\].after\:-translate-y-1\/2.after\:border-t.after\:border-t-cove-dark-grey > span.text-cove-dark-grey.text-xs.font-light,
.AB-CS104 .mr-cove-5.relative.m-0.text-sm.font-light.leading-\[14px\].text-inherit.before\:absolute.before\:top-\[42\%\].before\:h-\[1px\].before\:w-full.before\:translate-y-\[50\%\].before\:bg-black.before\:content-\[\'\'\].md\:mr-0 > span.text-cove-dark-grey.text-xs.font-light {
  display: none;
}
.AB-CS104 .border-cove-dark-grey.text-cove-dark-grey.px-cove-5.ml-\[10px\].hidden.h-\[14px\].whitespace-nowrap.border.pt-\[1px\].text-xs.font-light.sm\:inline-block {
  border: 1px solid rgb(62, 190, 176);
  height: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(0, 35, 52);
}
.AB-CS104 .flex.w-full.max-w-\[160px\].items-center.justify-center.gap-cove-10.rounded-full.border.px-cove-15.py-cove-5.border-cove-green.bg-cove-green\/10.text-cove-green {
  background: rgba(62, 190, 176, 0.1);
  border: 1px solid rgb(62, 190, 176);
  height: 22px;
  padding: 6px 22px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(0, 35, 52);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.AB-CS104 .flex.w-full.max-w-\[160px\].items-center.justify-center.gap-cove-10.rounded-full.border.px-cove-15.py-cove-5.border-cove-green.bg-cove-green\/10.text-cove-green svg {
  width: 10px;
  color: rgb(62, 190, 176);
}
.AB-CS104 .flex.w-full.max-w-\[160px\].items-center.justify-center.gap-cove-10.rounded-full.border.px-cove-15.py-cove-5.border-cove-green.bg-cove-green\/10.text-cove-green svg path {
  fill: rgb(62, 190, 176);
}
.AB-CS104 .flex.w-full.max-w-\[160px\].items-center.justify-center.gap-cove-10.rounded-full.border.px-cove-15.py-cove-5.border-cove-dark-grey.bg-cove-baby-dove {
  background: rgb(242, 239, 235);
  border: 1px solid rgb(81, 81, 81);
  height: 22px;
  padding: 6px 22px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(0, 35, 52);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.AB-CS104 .flex.w-full.max-w-\[160px\].items-center.justify-center.gap-cove-10.rounded-full.border.px-cove-15.py-cove-5.border-cove-dark-grey.bg-cove-baby-dove svg {
  width: 10px;
  color: rgb(0, 35, 52);
}
.AB-CS104 .flex.w-full.max-w-\[160px\].items-center.justify-center.gap-cove-10.rounded-full.border.px-cove-15.py-cove-5.border-cove-dark-grey.bg-cove-baby-dove svg path {
  fill: rgb(0, 35, 52);
}
@media screen and (min-width: 768px) {
  .AB-CS104 .flex.w-full.items-center.justify-start h3.text-h3 {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 39.01px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgb(0, 35, 52);
  }
  .AB-CS104 .mx-auto.mb-cove-15.mt-cove-15.grid.w-full.grid-cols-2.gap-cove-10.sm\:gap-cove-25.md\:grid-cols-3.lg\:grid-cols-4 {
    margin-top: 12px;
  }
  .AB-CS104 .relative.flex.h-full.w-full.flex-col.items-center.justify-between.rounded.border.border-cove-dove.bg-white.p-cove-5.sm\:p-cove-10 {
    padding: 11px;
  }
  .AB-CS104 .flex.h-full.max-h-\[160px\].w-full.max-w-\[250px\].items-center.justify-center.rounded-\[10px\].bg-cove-dove.px-\[30px\].py-cove-5.sm\:py-cove-25 {
    background-color: rgb(228, 222, 214);
    height: 160px;
  }
  .AB-CS104 .flex.h-full.max-h-\[160px\].w-full.max-w-\[250px\].items-center.justify-center.rounded-\[10px\].bg-cove-dove.px-\[30px\].py-cove-5.sm\:py-cove-25 img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }
  .AB-CS104 .m-0.flex.text-\[12px\].font-bold.leading-4.text-cove-navy-blue.sm\:text-sm.sm\:font-bold,
  .AB-CS104 .text-cove-dark-grey.mb-cove-5.m-0.flex.text-\[12px\].font-bold.leading-4.sm\:text-sm.sm\:font-bold {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.01px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgb(0, 35, 52);
  }
  .AB-CS104 .mt-cove-10.flex.w-full.flex-col.items-center.justify-center.gap-cove-2.xs\:flex-row.xs\:gap-cove-5,
  .AB-CS104 .text-cove-dark-grey.ml-cove-5.mb-0.text-base.font-medium.leading-4 + .text-cove-dark-grey.text-xs.font-light,
  .AB-CS104 .text-cove-dark-grey.ml-cove-5.mb-0.text-base.font-medium.leading-4 {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21.01px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgb(0, 35, 52);
  }
  .AB-CS104 .relative.text-sm.text-cove-dark-grey.after\:absolute.after\:left-0.after\:right-0.after\:top-\[calc\(50\%-1px\)\].after\:-translate-y-1\/2.after\:border-t.after\:border-t-cove-dark-grey,
  .AB-CS104 .mr-cove-5.relative.m-0.text-sm.font-light.leading-\[14px\].text-inherit.before\:absolute.before\:top-\[42\%\].before\:h-\[1px\].before\:w-full.before\:translate-y-\[50\%\].before\:bg-black.before\:content-\[\'\'\].md\:mr-0 {
    font-weight: 300;
    font-size: 14px;
    line-height: 21.01px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgb(81, 81, 81);
  }
  .AB-CS104 .border-cove-dark-grey.text-cove-dark-grey.px-cove-5.ml-\[10px\].hidden.h-\[14px\].whitespace-nowrap.border.pt-\[1px\].text-xs.font-light.sm\:inline-block {
    border: 1px solid rgb(62, 190, 176);
    height: 15px;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgb(0, 35, 52);
  }
  .AB-CS104 .flex.w-full.max-w-\[160px\].items-center.justify-center.gap-cove-10.rounded-full.border.px-cove-15.py-cove-5.border-cove-green.bg-cove-green\/10.text-cove-green {
    background: rgba(62, 190, 176, 0.1);
    border: 1px solid rgb(62, 190, 176);
    height: 33px;
    padding: 6px 22px;
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    line-height: 21.01px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgb(0, 35, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .AB-CS104 .flex.w-full.max-w-\[160px\].items-center.justify-center.gap-cove-10.rounded-full.border.px-cove-15.py-cove-5.border-cove-green.bg-cove-green\/10.text-cove-green svg {
    width: 15px;
  }
  .AB-CS104 .flex.w-full.max-w-\[160px\].items-center.justify-center.gap-cove-10.rounded-full.border.px-cove-15.py-cove-5.border-cove-dark-grey.bg-cove-baby-dove {
    background: rgb(242, 239, 235);
    border: 1px solid rgb(81, 81, 81);
    height: 33px;
    padding: 6px 22px;
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    line-height: 21.01px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgb(0, 35, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .AB-CS104 .flex.w-full.max-w-\[160px\].items-center.justify-center.gap-cove-10.rounded-full.border.px-cove-15.py-cove-5.border-cove-dark-grey.bg-cove-baby-dove svg {
    width: 10px;
    color: rgb(0, 35, 52);
  }
  .AB-CS104 .flex.w-full.max-w-\[160px\].items-center.justify-center.gap-cove-10.rounded-full.border.px-cove-15.py-cove-5.border-cove-dark-grey.bg-cove-baby-dove svg path {
    fill: rgb(0, 35, 52);
  }
}