.AB-PLP-URGENCY .ab-urgency-msg {
  margin-top: 7px;
  font-family: "Libre Baskerville";
  font-weight: 700;
  font-size: var(--font-size-body-100);
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(127, 40, 65);
  white-space: nowrap;
}