.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-TTP25 {
    //
}

/**
 * ----------------------------------------
		 *			MODAL
 * ----------------------------------------
 */

body.AB-TTP25--modal-show {
    overflow: hidden;

    .AB-TTP25__modal-layout {
        display: flex;
    }

    .AB-TTP25__modal-backdrop {
        display: block;
    }

    .AB-TTP25__modal {
        display: flex;
    }
}

.AB-TTP25 {
    &__modal-layout {
        display: none;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: transparent;
        z-index: 10000;
        overflow: hidden;

        display: none;
        // display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }

    &__modal-backdrop {
        display: none;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    &__modal {
        opacity: 1;
        background: #ffffff;
        position: relative;
        z-index: 1;

        width: 343px;
        height: 212px;
        border-radius: 22.8px;
        background-color: rgba(0, 0, 0, 1);
    }

    &__modal-close-cta {
        cursor: pointer;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14px;
        height: 14px;
        top: -25px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &__modal__content {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        .ab-wistia-video,
        .ab-wistia-player-container {
            width: 100%;
            height: 100%;
        }
    }
}

// RESPONSIVE
@media screen and (min-width: 768px) {
    .AB-TTP25 {
        &__modal {
            width: 640px;
            height: 360px;
            border-radius: 24px;
        }
        &__modal {
        }

        &__modal-layout {
            // ADD CSS HERE
        }

        &__modal-backdrop {
            // ADD CSS HERE
        }

        &__modal-close-cta {
            width: 20px;
            height: 20px;
            top: -30px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
}

// ANIMATION
.AB-TTP25__slide-bottom {
    -webkit-animation: AB-TTP25__slide-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: AB-TTP25__slide-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.AB-TTP25__slide-top {
    -webkit-animation: AB-TTP25__slide-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: AB-TTP25__slide-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
   * ----------------------------------------
   * animation AB-TTP25__slide-bottom
   * ----------------------------------------
   */
@-webkit-keyframes AB-TTP25__slide-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes AB-TTP25__slide-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/**
   * ----------------------------------------
   * animation AB-TTP25__slide-top
   * ----------------------------------------
   */
@-webkit-keyframes AB-TTP25__slide-top {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }
}
@keyframes AB-TTP25__slide-top {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }
}
