.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-Checkout-Step-1 {
    background-color: #fff;

    .free-delivery-btn {
        z-index: 10;
    }

    & > form > .container.pl-0.pr-0 {
        background-color: #fff;
    }

    .ab-hidden {
        display: none;
    }

    .guest-checkout-optn {
        margin: auto;
        flex-direction: row;
        gap: 25px;
    }

    // Guest Checkout 
    .guest-checkout-optn button {
        min-width: 167px;
    }

    // Checkout 
    &.AB-Checkout-Address {
        app-address-management > *:not(app-progress-stepper) {
            display: none !important;
        }

    }

    .row.content-body {
        // position: relative;
        // background-color: #f3f5f6;
    }

    .ab-content-wrapper {
        width: 100%;
        position: relative;
        background-color: #f3f5f6;

        & > * {
            position: relative;
            z-index: 1;
        }

        &:after {
            content: "";
            width: 50%;
            height: 100%;
            background-color: #fff;
            border-radius: 1px solid #dddddd;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 50%;
            z-index: 0;
        }

        // ab-content-wrapper--show-login, ab-content-wrapper--show-guest-checkout

        &--show-login {
            background-color: #fff;

            .ab-login-section {
                display: block !important;
            }

            .ab-content-product-summary-wrapper {
                display: none !important;
            }
        }

        &--show-guest-checkout {
            .ab-guest-checkout-section {
                display: block !important;
            }
        }
    }

    .ab-content-top {
        display: flex;
        flex-direction: column;
        padding-bottom: 49px;
        border-bottom: 1px solid #dddddd;
        background-color: #fff;
    }

    .ab-content-top h1 {
        text-align: center;
    }

    .ab-content-forms-wrapper {
        padding: 0;
    }

    // Login & Guest Login
    .ab-login-section,
    .ab-guest-checkout-section {
        display: none !important;
    }

    .ab-login-section {
        padding: 49px 59px 135px 0 !important;
        width: 100% !important;
    }

    .ab-login-section #loginSlogan {
        display: none;
    }

    .ab-login-section h2 {
        padding-bottom: 49px;
        margin-bottom: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0;
        color: #333333;
    }

    .ab-login-section .dnnFormMessage {
        margin-top: 0;
    }

    .ab-login-section .dnnForm,
    .ab-login-section .dnnLabel {
        margin: 0;
        text-align: left;
    }

    .ab-login-section .dnnFormItem:has(> input) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border: 1px solid #ced4da;
        overflow: hidden;
        height: 51px;
        padding: 7px 10px;
        margin-bottom: 12px;
        position: relative;
    }

    .ab-login-section .dnnFormItem:has(> .dnnLoginActions) {
        display: none;
    }

    .ab-login-section .dnnFormItem:not(:has(> input)) {
        .dnnFormLabel,
        .dnnSecondaryAction {
            display: none;
        }

        .dnnPrimaryAction {
            margin-top: 22px;
            margin-bottom: 17px;
            margin-left: 0;
            padding: 16px 47px 17px;
            width: max-content;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0;
            border: none;

            font-family: Inter, sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0px;
            color: #ffffff;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .ab-login-section .dnnLabel {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #767676;

        label {
            white-space: nowrap;
            margin-bottom: 0px;
            margin: 0 !important;
            padding: 0 !important;
            font-size: 16px;
        }

        label:after {
            display: none;
        }

        &:has(~ input:focus),
        &:has(~ input:active),
        &:has(~ input:not(:placeholder-shown)) {
            position: static;
            font-size: 14px;

            label {
                font-size: 14px;
            }
        }
    }

    .ab-login-section input {
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        background-color: #fff;
        box-shadow: none;
        margin: 0;
        padding: 0;
        background: transparent;

        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #000000;

        &:focus,
        &:active,
        &:not(:placeholder-shown) {
            position: static;
            border: none;
            outline: none;
            background-color: #fff;
            box-shadow: none;
        }
    }

    .ab-login-section #socialControls {
        display: none;
    }

    .ab-login-section p:has(> a[href="./ResetPassword"]),
    .ab-login-section p:has(> a[href="/create-account"]) {
        padding-left: 0;
        margin-bottom: 12px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0%;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        color: #0078d7;
    }

    #guest-checkout-form {
        display: none;
        border: 1px solid red;
        &:before {
            content: "Control Form, Hide when test is completed";
            color: red;
            font-size: 16px;
        }
    }

    .ab-guest-checkout-section {
        padding: 49px 59px 97px 0;

        > .pl-0.pr-0 {
            display: none !important;
        }
    }

    h1.ab-guest-checkout-header {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #333333;
        margin-bottom: 38px;
    }

    // ================ FORM BUILDER START ==============
    h2.ab-form-heading {
        font-family: Arial;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #333333;
        margin-bottom: 20px;
    }

    form#personal-information {
        margin-bottom: 50px;
    }

    form#billing-address {
        margin-bottom: 46px;
    }

    form#shipping-address {
        margin-bottom: 0;

        .ab-form-input-container {
            margin-bottom: 26px;
        }

        #ab-continue-as-guest {
            width: 100%;
            height: 51px;
            padding: 17px 20px;
            border: none;
            outline: none;

            font-family: Inter, sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0px;
            color: #ffffff;
            background-color: #b3b3b3;

            &:not(disabled) {
                background-color: #9cca5a;
            }
        }
        #ab-need-help {
            width: 100%;
            height: 51px;
            padding: 17px 20px;
            border: none;
            outline: none;

            font-family: Inter, sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0px;
            color: #ffffff;
            background-color: #6c757d;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .ab-form-group {
        margin: 0;
        text-align: left;
    }

    .ab-form-col {
        margin-bottom: 12px;
    }

    .ab-form-subtitle {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0px;
        margin-bottom: 10px;
        color: #333333;
    }

    .ab-pl-0 {
        padding-left: 0;
    }

    .ab-form-group:has(> input:not([type="radio"]):not([type="checkbox"])) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border: 1px solid #ced4da;
        overflow: hidden;
        height: 51px;
        padding: 7px 10px;
        position: relative;
    }

    .ab-form-group:has(> input[type="radio"]),
    .ab-form-group:has(> input[type="checkbox"]) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 10px;

        input[type="checkbox"] {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            width: 18px;
            min-width: 18px;
            height: 18px;
            min-height: 18px;
            border: 2px solid #767676;
            background-color: #fff;
            margin-top: 5px;
            cursor: pointer;
            border-radius: 3px;

            &:checked {
                border: none;
                background-color: #0078d7;
                position: relative;

                display: flex;
                justify-content: center;
                align-items: center;

                &:after {
                    content: "";
                    margin-top: -3px;
                    width: 6px;
                    height: 11px;
                    border-right: 2.5px solid #fff;
                    border-bottom: 2.5px solid #fff;
                    transform: rotate(45deg);
                }
            }
        }

        label {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0px;
            color: #333333;
            cursor: pointer;
        }
    }

    .ab-form-group:has(> input:not([type="radio"]):not([type="checkbox"])) .ab-label {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #767676;

        white-space: nowrap;
        margin-bottom: 0px;
        margin: 0 !important;
        padding: 0 !important;
        font-size: 16px;

        &:has(~ input:not([type="radio"]):not([type="checkbox"]):focus),
        &:has(~ input:not([type="radio"]):not([type="checkbox"]):active),
        &:has(~ input:not([type="radio"]):not([type="checkbox"]):not(:placeholder-shown)) {
            position: static;
            font-size: 14px;
        }
    }

    .ab-form-group input:not([type="radio"]):not([type="checkbox"]) {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        z-index: 2;
        background: transparent;

        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #333333;
    }

    .ab-form-group input:-webkit-autofill,
    .ab-form-group input:-webkit-autofill:hover,
    .ab-form-group input:-webkit-autofill:focus,
    .ab-form-group input:-webkit-autofill:active {
        -webkit-text-fill-color: black !important;
        -webkit-box-shadow: 0 0 0 1000px white inset !important;
        -webkit-background-clip: text !important;
        background-clip: text !important;
    }

    .ab-error-message {
        margin-top: 6px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #dc3545;
        display: none;
    }

    .ab-form-group:has(> input[area-invalid]:not([type="radio"]):not([type="checkbox"])) {
        border: 2px solid #dc3545;
        & + .ab-error-message {
            display: block;
        }
    }

    .ab-form-group:has(> input:not([type="radio"]):not([type="checkbox"]):placeholder-shown[required]) {
        border: 2px solid #dc3545;

        & + .ab-error-message {
            display: block;
        }
    }

    .ab-form-group:has(> input:not([type="radio"]):not([type="checkbox"]):focus),
    .ab-form-group:has(> input:not([type="radio"]):not([type="checkbox"]):active) {
        border: 2px solid #333333;
    }

    .ab-form-group:has(> select) {
        width: 100%;
        position: relative;

        .ab-label {
            display: none;
        }

        &:before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border-right: 2px solid #333333;
            border-bottom: 2px solid #333333;
            top: 0;
            bottom: 0;
            right: 10px;
            margin: auto;
            z-index: 5;
            transform: rotate(45deg);
            pointer-events: none;
            cursor: pointer;
            transition: all 0.2s;
        }

        &:has(> select:open) {
            &:before {
                transform: rotate(-135deg);
            }
        }

        &:has(> select[area-invalid]) ~ .ab-error-message {
            display: block;
        }

        select {
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            border: 1px solid #ced4da;
            overflow: hidden;
            width: 100%;
            height: 51px;
            padding: 7px 10px;
            position: relative;
            background-color: transparent;

            font-family: Inter, sans-serif;
            font-weight: 400;
            font-size: 16px;
            // line-height: 100%;
            line-height: 1.4;
            letter-spacing: 0px;
            color: #767676;
            white-space: nowrap;

            appearance: none; /* Hide default arrow */
            -webkit-appearance: none; /* For Webkit browsers */
            -moz-appearance: none; /* For Firefox */

            &[area-invalid] {
                border: 2px solid #dc3545;
            }

            &[area-selected] {
                color: #333333;
            }

            &:focus-within,
            &:active {
                border: 2px solid #333333;
                box-shadow: none;
                color: #333333;
            }
        }
    }

    // ================ FORM BUILDER END ==============

    // Product summary
    .ab-content-product-summary-wrapper {
        background-color: #f3f5f6;
    }

    .ab-product-summary {
        max-width: 407px;
        padding-top: 53px;
        padding-left: 61px;
    }

    h3.ab-product-summary__heading {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #333333;
        margin-bottom: 13px;
    }

    .ab-product-summary__added-products {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 27px;
    }

    .ab-product-summary__product {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }

    .ab-product-summary__product-img {
        border: 1px solid #ddd;
        text-decoration: none;
        outline: none;
        width: 122px;
        min-width: 122px;
        max-width: 122px;
        height: 134px;
        min-height: 134px;
        max-height: 134px;
        background-color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px 25px;

        position: relative;

        &:hover {
            text-decoration: none;
            outline: none;
        }
    }

    .ab-product-summary__product-img img {
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: top;
    }

    .ab-product-summary__product-sku {
        position: absolute;
        z-index: 1;
        bottom: 10px;
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        font-size: 14px;
        color: #333333;
    }

    .ab-product-summary__product-info {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .ab-product-summary__product-info p {
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.3;
        letter-spacing: 0px;
        color: #333333;
        text-align: left;
        padding: 0;
    }

    p.ab-product-summary__product-availability {
        font-weight: 700;

        &--available {
            color: #9cca5a;
        }

        &--stock-out {
            color: #dc3545;
        }
    }

    .ab-product-summary__border {
        width: 100%;
        border-bottom: 1px solid #dddddd;
        margin-bottom: 29px;
    }

    .ab-product-summary__calculation-table {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .ab-product-summary__col {
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0px;
        color: #333333;
    }

    .ab-product-summary__row--total > .ab-product-summary__col {
        line-height: 1.5;
        font-family: Inter, sans-serif;
        font-weight: 700;
        font-size: 20px;
    }

    .ab-product-summary__row > .ab-product-summary__col:first-child {
        text-align: left;
    }

    .ab-product-summary__row > .ab-product-summary__col:last-child {
        text-align: right;
    }
}
