.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-PLP-URGENCY {
    .ab-urgency-msg {
        margin-top: 7px;
        font-family: "Libre Baskerville";
        font-weight: 700;
        // font-size: 10px;
        font-size: var(--font-size-body-100);
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        color: rgba(127, 40, 65, 1);
        white-space: nowrap;
        font-style: italic;
    }


    // @media screen and (min-width: 768px) {
    //     .ab-urgency-msg {
    //         font-size: 12px;
    //     }
    // }
}
