.AB-PMO23 .ab-storyblok-modal > .wrapper-outer > .wrapper-inner > .wrapper-body {
  gap: 0;
}
.AB-PMO23 .ab-storyblok-modal .storyblok-text-blocks .wrapper-frames .wrapper-frame:nth-child(3):last-child {
  grid-column: span 1;
}
.AB-PMO23 .ab-wrapper-body .wrapper-heading {
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 30px;
  line-height: normal;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: #00053e;
}
.AB-PMO23 .ab-modal-tab-item {
  width: 135px;
  height: 35px;
  background: #fff;
  border: 1px solid #0067c3;
  border-radius: 10px;
  cursor: pointer;
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;
  color: #0067c3;
}
.AB-PMO23 .ab-modal-tab-item:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.AB-PMO23 .ab-modal-tab-item:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.AB-PMO23 .ab-wrapper-body--quantity-active .ab-modal-tab-item--quantity,
.AB-PMO23 .ab-wrapper-body--water-type-active .ab-modal-tab-item--type {
  background: #0067c3;
  color: #fdffff;
}
.AB-PMO23 .ab-wrapper-body--quantity-active .ab-water-type-wrapper-block,
.AB-PMO23 .ab-wrapper-body--water-type-active .ab-quantity-wrapper-block {
  display: none !important;
}
.AB-PMO23 .ab-wrapper-body--quantity-active .ab-wrapper-heading--water-types,
.AB-PMO23 .ab-wrapper-body--water-type-active .ab-wrapper-heading--quantity {
  display: none !important;
}
.AB-PMO23 .ab-water-type-wrapper-block .wrapper-frames {
  gap: 30px;
}
.AB-PMO23 .ab-water-type-wrapper-block .wrapper-frame:not(:last-child) {
  padding-bottom: 30px;
}
.AB-PMO23 .ab-water-type-wrapper-block .wrapper-frame:not(:last-child) {
  border-bottom: 1px solid rgba(0, 5, 62, 0.1490196078);
}
.AB-PMO23 .ab-water-type-wrapper-block .ab-wrapper-image-container {
  margin-right: 21px;
}
.AB-PMO23 .ab-water-type-wrapper-block .ab-wrapper-image svg {
  width: 40px;
  height: 40px;
}
.AB-PMO23 .ab-water-type-wrapper-block .ab-heading-2 {
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: #00053e;
  margin-bottom: 15px;
  text-align: left;
}
.AB-PMO23 .ab-water-type-wrapper-block .wrapper-description {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #00053e;
  margin-bottom: 0;
  text-align: left;
}
.AB-PMO23 .ab-quantity-wrapper-block .wrapper-frames {
  gap: 20px;
}
.AB-PMO23 .ab-quantity-wrapper-block .wrapper-frame {
  padding: 20px;
  background: #f2f5f7;
  border-radius: 15px;
}
.AB-PMO23 .ab-quantity-wrapper-block .ab-wrapper-image {
  margin-right: 11px;
}
.AB-PMO23 .ab-quantity-wrapper-block .ab-wrapper-image img {
  width: 100px;
  min-width: 100px;
  height: 102px;
  min-height: 102px;
  object-fit: contain;
}
.AB-PMO23 .ab-quantity-wrapper-block .wrapper-headline-text .wrapper-inner {
  background: #00053e;
  padding: 3.5px 9px;
  border-radius: 500px;
  width: max-content;
}
.AB-PMO23 .ab-quantity-wrapper-block .ab-heading-2 {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.AB-PMO23 .ab-quantity-wrapper-block .wrapper-description {
  font-family: Nunito Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #00053e;
}
.AB-PMO23 .ab-freq-txt {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(0, 5, 62, 0.6980392157);
  margin-bottom: 9px;
}
.AB-PMO23 .ab-helpline-txt {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #00053e;
}
.AB-PMO23 .ab-helpline-txt a {
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
  color: #0067c3;
}
@media screen and (min-width: 768px) {
  .AB-PMO23 .ab-wrapper-body .wrapper-heading {
    font-size: 36px;
    line-height: 42px;
  }
  .AB-PMO23 .ab-water-type-wrapper-block .ab-wrapper-image svg {
    width: 60px;
    height: 60px;
  }
  .AB-PMO23 .ab-water-type-wrapper-block .ab-heading-2 {
    font-size: 24px;
    line-height: normal;
  }
  .AB-PMO23 .ab-water-type-wrapper-block .wrapper-description {
    font-size: 14px;
    line-height: 22px;
  }
  .AB-PMO23 .ab-freq-txt {
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 15px;
  }
  .AB-PMO23 .ab-helpline-txt {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1025.5px) {
  .AB-PMO23 .ab-water-type-wrapper-block .wrapper-frames {
    gap: 40px;
  }
  .AB-PMO23 .ab-water-type-wrapper-block .wrapper-frame {
    border: 0px;
    background: #f2f5f7;
    border-radius: 15px;
    padding: 30px;
    padding-bottom: 43px;
  }
  .AB-PMO23 .ab-water-type-wrapper-block .wrapper-frame:not(:last-child) {
    border: 0px;
  }
  .AB-PMO23 .ab-water-type-wrapper-block .ab-wrapper-image-container {
    margin-right: 0;
    margin-bottom: 33px;
  }
  .AB-PMO23 .ab-water-type-wrapper-block .ab-heading-2 {
    text-align: center;
    margin-bottom: 25px;
  }
  .AB-PMO23 .ab-water-type-wrapper-block .wrapper-description {
    text-align: center;
    margin-bottom: 0;
  }
}

.AB-PMO23--v1 .ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
  padding: 30px 25px 38px;
  height: max-content;
}
.AB-PMO23--v1 .ab-wrapper-body .ab-wrapper-heading--water-types {
  margin-bottom: 40px;
}
.AB-PMO23--v1 .ab-modal-tabs-wrapper,
.AB-PMO23--v1 .ab-wrapper-bottom {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .AB-PMO23--v1 .ab-wrapper-body .ab-wrapper-heading--water-types {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1025px) {
  .AB-PMO23--v1 .ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
    padding: 50px 55px;
  }
}

.AB-PMO23--v2 .ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
  padding: 30px 25px 38px;
  height: max-content;
}
.AB-PMO23--v2 .ab-wrapper-body .ab-wrapper-heading--quantity {
  margin-bottom: 30px;
}
.AB-PMO23--v2 .ab-modal-tabs-wrapper {
  display: none !important;
}
@media screen and (min-width: 1025px) {
  .AB-PMO23--v2 .ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
    padding: 50px 55px;
  }
}

.AB-PMO23--v3 .ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
  padding: 13px 25px 20px;
}
.AB-PMO23--v3 .ab-wrapper-body .ab-wrapper-heading--water-types {
  margin-bottom: 16px;
}
.AB-PMO23--v3 .ab-wrapper-body .ab-wrapper-heading--quantity {
  margin-bottom: 16px;
}
.AB-PMO23--v3 .ab-water-type-wrapper-block {
  margin-top: 30px;
  margin-bottom: 53px;
}
@media screen and (min-width: 768px) {
  .AB-PMO23--v3 .ab-wrapper-body .ab-wrapper-heading--water-types {
    margin-bottom: 26px;
  }
  .AB-PMO23--v3 .ab-wrapper-body .ab-wrapper-heading--quantity {
    margin-bottom: 26px;
  }
  .AB-PMO23--v3 .ab-water-type-wrapper-block {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1025.5px) {
  .AB-PMO23--v3 .ab-storyblok-modal > .wrapper-outer > .wrapper-inner {
    padding: 50px 55px;
  }
}