.AB-TTP19 header a[href="/"] img {
  height: 48px;
  min-height: 48px;
  width: auto;
}
.AB-TTP19 header {
  padding: 10px 20px 12px !important;
  height: max-content;
}
.AB-TTP19 header > div {
  padding: 0 !important;
  top: 78px !important;
}
.AB-TTP19 header > div > div {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.AB-TTP19 header a.mantine-focus-auto[href="https://client.texastaxprotest.com/login"] {
  display: none;
}
.AB-TTP19 header ~ nav {
  top: 80px !important;
  bottom: 0 !important;
  height: auto !important;
}
.AB-TTP19 .ab-cta-container {
  gap: 12px;
}
.AB-TTP19 .ab-cta-container--mobile {
  display: flex;
}
.AB-TTP19 .ab-cta-container--desktop {
  display: none;
}
.AB-TTP19 .ab-sign-in-cta {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  outline: none;
  text-decoration: none;
}
.AB-TTP19 .ab-sign-in-cta:hover, .AB-TTP19 .ab-sign-in-cta:focus {
  outline: none;
  text-decoration: none;
}
.AB-TTP19 .ab-sign-in-cta__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.AB-TTP19 .ab-sign-in-cta__icon svg {
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
}
.AB-TTP19 .ab-sign-in-cta__text {
  display: none;
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
}
.AB-TTP19 .ab-contact-cta {
  background-color: rgb(252, 106, 0);
  border: 1px solid rgb(252, 106, 0);
  width: 129px;
  height: 30px;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
  text-decoration: none;
}
.AB-TTP19 .ab-contact-cta:hover, .AB-TTP19 .ab-contact-cta:focus {
  outline: none;
  text-decoration: none;
}
.AB-TTP19 .ab-contact-cta__icon {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  margin-bottom: 3px;
}
.AB-TTP19 .ab-contact-cta__text {
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 360px) {
  .AB-TTP19 header {
    padding: 10px 10px 12px !important;
  }
  .AB-TTP19 header > div > div {
    gap: 5px !important;
  }
}
@media screen and (min-width: 768px) {
  .AB-TTP19 header {
    padding: 11px 0 !important;
  }
  .AB-TTP19 header > div {
    top: 97px !important;
  }
  .AB-TTP19 header a[href="/"] img {
    height: 68px;
    min-height: 68px;
  }
  .AB-TTP19 .ab-cta-container {
    gap: 25px;
  }
  .AB-TTP19 .ab-cta-container--mobile {
    display: none;
  }
  .AB-TTP19 .ab-cta-container--desktop {
    margin-left: 27px;
    display: flex;
  }
  .AB-TTP19 .ab-sign-in-cta {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    width: 130px;
    height: 35px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .AB-TTP19 .ab-sign-in-cta__icon {
    justify-content: center;
    align-items: center;
  }
  .AB-TTP19 .ab-sign-in-cta__icon svg {
    width: 14px;
    min-width: 14px;
    height: 14px;
    min-height: 14px;
  }
  .AB-TTP19 .ab-sign-in-cta__text {
    display: block;
  }
  .AB-TTP19 .ab-contact-cta {
    background-color: rgb(252, 106, 0);
    border: 1px solid rgb(252, 106, 0);
    width: 130px;
    height: 35px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    outline: none;
    text-decoration: none;
  }
  .AB-TTP19 .ab-contact-cta__text {
    margin-bottom: -1px;
  }
}
@media screen and (min-width: 991px) {
  .AB-TTP19 header a.mantine-focus-auto {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24.8px;
    letter-spacing: 0px;
  }
}
@media screen and (min-width: 767.5px) and (max-width: 1366px) {
  .AB-TTP19 header > div {
    width: auto !important;
    padding: 0 20px !important;
  }
}

.AB-TTP19--v1 header a.mantine-focus-auto[href="/#contact"] {
  display: none;
}