.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

/**
 * ----------------------------------------
		 *			MODAL
 * ----------------------------------------
 */

html,
body {
    scroll-behavior: smooth;
}

.AB-PDP-TOP-REVIEW {
    &__modal {
        opacity: 0;
        display: none;

        box-shadow: 7px 5px 8px 0px rgba(0, 0, 0, 0.35);
        border: 1px solid rgba(81, 81, 81, 1);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 1);

        max-width: 100%;
        min-height: max-content;
        height: max-content;
        background: #ffffff;
        z-index: 1;
        padding: 24px 21px 35px 22px;

        position: fixed;
        bottom: 80px;

        left: 10px;
        right: 10px;
        margin: auto;

        z-index: 9999;
        overflow: hidden;

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &__top {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 12px;

            // color: #547351;
        }

        &__review-stars {
            margin-bottom: 16px;
        }

        &__close-cta {
            margin: 0;
            padding: 0;

            cursor: pointer;
            position: relative;

            width: 23px;
            height: 23px;

            &:after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: rgba(37, 37, 37, 1);
                position: absolute;
                transform: rotate(45deg);
                top: 50%;
            }

            &:before {
                content: "";
                width: 100%;
                height: 2px;
                background-color: rgba(37, 37, 37, 1);
                position: absolute;
                transform: rotate(-45deg);
                top: 50%;
            }
        }

        &__head__progress {
            flex-grow: 1;
            margin-right: 70px;
            height: 5px;
            background-color: rgba(241, 241, 241, 1);
            border-radius: 6px;
            overflow: hidden;
        }

        &__head__progress-value {
            width: 0%;
            transition: width 0.3s ease-in-out;
            height: 100%;
            background-color: rgba(187, 187, 187, 1);
        }

        &__review-header {
            font-family: Libre Franklin;
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0px;
            color: rgba(0, 0, 0, 1);
            margin-bottom: 16px;
        }

        &__review-description {
            font-family: Libre Franklin;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0px;
            color: rgba(37, 37, 37, 1);
            margin-bottom: 16px;
        }

        &__review-see-more-cta {
            width: max-content;
            cursor: pointer;
            font-family: Libre Franklin;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0px;
            text-decoration: underline;
            text-decoration-style: solid;
            color: rgba(37, 37, 37, 1);

            border: none;
            outline: none;
            &:hover,
            &:focus {
                border: none;
                outline: none;
            }
        }

        #pr-review-snippet {
            margin-left: -3px;
            height: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #pr-review-snippet .pr-star-v4::after {
            color: rgba(0, 0, 0, 1);
            top: -8px;
        }

        #pr-review-snippet .pr-star-v4:before {
            top: -8px;
        }

        #pr-review-snippet .pr-star-v4 {
            width: 21px;
            height: 21px;
        }

        .pr-snippet-read-and-write {
            display: none !important;
        }

        .p-w-r .pr-snippet-rating-decimal {
            border: none;
            outline: none;
            padding: 0;
        }

        .p-w-r .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
            padding: 0;
            padding-left: 12px;
            font-family: Libre Franklin;
            font-weight: 500;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0px;
            vertical-align: middle;
            color: rgba(0, 0, 0, 1) !important;
        }
    }

    // &.element-inview-port {
    //     .AB-PDP-TOP-REVIEW__modal {
    //         bottom: 50px;
    //     }
    // }

    // RESPONSIVE
    @media screen and (min-width: 768px) {
        &__modal {
            border: 1px solid rgba(81, 81, 81, 1);
            box-shadow: 8.31px 5.93px 9.49px 0px rgba(0, 0, 0, 0.35);
            padding: 28px 27px 39px 26px;
            width: 600px;
            right: auto;
            left: 41px;
            bottom: 80px;

            &__top {
                margin-bottom: 14px;
            }

            &__review-stars {
                margin-bottom: 19px;
            }

            &__close-cta {
                width: 28px;
                height: 28px;
            }

            &__review-header {
                font-weight: 700;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0px;
                margin-bottom: 19px;
            }

            &__review-description {
                font-weight: 500;
                font-size: 20px;
                line-height: 33.22px;
                letter-spacing: 0px;
                margin-bottom: 19px;
            }

            &__review-see-more-cta {
                font-weight: 700;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0px;
                text-decoration: underline;
                text-decoration-style: solid;
            }

            #pr-review-snippet {
                height: 25px;
                margin: 0;
                margin-left: -5px;
            }

            #pr-review-snippet .pr-star-v4::after {
                top: -7px;
            }

            #pr-review-snippet .pr-star-v4:before {
                top: -7px;
            }

            .p-w-r .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
                padding: 0;
                padding-left: 14px;
                font-weight: 500;
                font-size: 16px;
                line-height: 28.48px;
                letter-spacing: 0px;
            }

            #pr-review-snippet .pr-star-v4 {
                width: 25px;
                height: 25px;
                margin-right: 0px;
            }
        }

        // &.element-inview-port {
        //     .AB-PDP-TOP-REVIEW__modal {
        //         bottom: 30px;
        //     }
        // }
    }
}

.AB-PDP-TOP-REVIEW--modal-show {
    // overflow: hidden;

    #launcher {
        display: none;
    }

    .AB-PDP-TOP-REVIEW {
        &__modal-layout {
            display: flex;
        }

        &__modal-backdrop {
            display: block;
        }

        &__modal {
            opacity: 1;
            display: flex;
            background-color: #fff;
        }
    }
}

// ANIMATION

.slide-to-top {
    -webkit-animation: slide-to-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-to-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-to-bottom {
    -webkit-animation: slide-to-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-to-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
  * ----------------------------------------
  * animation slide-bottom
  * ----------------------------------------
  */
@-webkit-keyframes slide-to-top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-to-top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/**
  * ----------------------------------------
  * animation slide-top
  * ----------------------------------------
  */
@-webkit-keyframes slide-to-bottom {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }
}
@keyframes slide-to-bottom {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }
}

/**
  * ----------------------------------------
  * animation fade-in
  * ----------------------------------------
  */

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/**
      * ----------------------------------------
      * animation progress
      * ----------------------------------------
      */

@-webkit-keyframes progress {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes progress {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
