.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-GP90 {
    @media screen and (min-width: 991px) {
        .products:not(.owl-carousel) .wcpb-product-badges-loop-container  {
            margin-left: 0 !important;
        }
        .products:not(.list):not(.owl-carousel) .category-ads-shortcode img {
            min-width: 342px !important;
            width: 342px !important;
            min-height: 471px !important;
        }
    }
}
