.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-FREE-SHIPPING-TRACKER-BAR {
    .ab-subtotal-progress-wrapper {
        //
    }

    .ab-show-free-shipping {
        .ab-subtotal-progress-heading.ab-unlock-shipping,
        .ab-subtotal-progress-prices {
            display: none;
        }

        .ab-subtotal-progress-heading.ab-free-shipping {
            display: flex;
        }

        .ab-subtotal-progress-bar__progress {
            background: #158a03;
        }
    }

    .ab-subtotal-progress-container {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }


    // 1

    .ab-subtotal-progress-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .ab-subtotal-progress-heading.unlock-shipping {
        display: flex;
    }

    .ab-subtotal-progress-heading__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }

    .ab-subtotal-progress-heading__text {
        // flex: 1;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        color: #1d1d1d;
        white-space: nowrap;
        width: max-content;
    }

    // 2
    .ab-subtotal-progress-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .ab-subtotal-progress-heading.ab-free-shipping {
        display: none;
    }

    .ab-subtotal-progress-heading__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }

    // 3
    .ab-subtotal-progress-bar {
        width: 100%;
        height: 8px;
        background: #e5e7eb;
        overflow: hidden;
        position: relative;
    }

    .ab-subtotal-progress-bar__progress {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 8px;
        background: #1d1d1d;
        transition: all 0.2s;
    }

    // 4
    .ab-subtotal-progress-prices {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        color: #eb0000;
    }
}
