.AB-EXP-299 p.text-\[18px\][x-show="getQtyForMoreDiscount()"],
.AB-EXP-299 .mt-2.bb-4.lg\:ml-auto.xl\:ml-0.py-2[x-data="initSavingOnVolume()"] {
  display: none;
}
.AB-EXP-299 .final-price.inline-block {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  white-space: nowrap;
}
.AB-EXP-299 .final-price.inline-block .price {
  display: inline-block;
}
.AB-EXP-299 #trust_signal {
  padding: 13px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.AB-EXP-299 #trust_signal > .md\:border-r {
  width: 100%;
  height: 0.6px;
  background-color: #b5b5b5;
  margin-left: 0;
  margin-right: 0;
}
.AB-EXP-299 #trust_signal .font-bold.text-xs.md\:text-\[10px\].xl\:text-sm.uppercase {
  font-family: helvetica, "san-serif";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #374151;
}
.AB-EXP-299 #trust_signal p.hidden.xl\:block.text-left {
  font-family: helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #374151;
}
.AB-EXP-299 #trust_signal .element.flex.items-center.justify-center.gap-2.min-h-\[25px\].w-auto {
  gap: 10px;
}
.AB-EXP-299 #trust_signal img {
  width: 28px;
  height: 28px;
}
@media screen and (min-width: 1024px) {
  .AB-EXP-299 .mt-2.w-full[x-data="initCutOffTimer()"] {
    display: none;
  }
  .AB-EXP-299 .flex.flex-col.sm\:flex-row.md\:flex-col.xl\:flex-row.items-end.my-4 {
    align-items: flex-start;
  }
  .AB-EXP-299 .flex.flex-col.sm\:flex-row.md\:flex-col.xl\:flex-row.items-end.my-4 > .w-full.sm\:max-w-\[250px\] {
    width: 257px;
    max-width: 257px;
    min-width: 257px;
  }
  .AB-EXP-299 .flex.flex-row.gap-2.flex-wrap.items-center.my-6.justify-end.font-bold {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.AB-EXP-299 .ab-pricing-table-wrapper {
  margin-top: 17px;
  width: 100%;
}
.AB-EXP-299 .ab-pricing-header {
  background-color: #101828;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 16px;
  border-radius: 4px 4px 0 0;
}
.AB-EXP-299 .ab-pricing-header__left {
  font-family: helvetica, san-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
  color: #ffffff;
}
.AB-EXP-299 .ab-pricing-header__right {
  font-family: helvetica, san-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #ffffff;
}
.AB-EXP-299 .ab-pricing-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}
.AB-EXP-299 .ab-pricing-table__sub-header {
  padding: 7px 16px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(117, 117, 117, 0.1490196078);
  font-family: helvetica, san-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #1d1d1d;
}
.AB-EXP-299 .ab-pricing-table__pricing {
  background-color: #f9f9fb;
  border-bottom: 1px solid #e5e7eb;
}
.AB-EXP-299 .ab-pricing-table__pricing--mobile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
.AB-EXP-299 .ab-pricing-table__pricing--desktop {
  display: none;
  grid-template-columns: repeat(1, 1fr);
}
.AB-EXP-299 .ab-pricing-table__pricing li:not(:last-child) {
  border-right: 1px solid #e5e7eb;
}
.AB-EXP-299 .ab-pricing-table__pricing__item {
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
}
.AB-EXP-299 .ab-pricing-table__pricing__roll-count {
  font-family: helvetica, san-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
  text-align: center;
  color: #1d1d1d;
  margin-bottom: 4px;
}
.AB-EXP-299 .ab-pricing-table__pricing__save {
  font-family: helvetica, san-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: #1d1d1d;
}
.AB-EXP-299 .ab-pricing-table__pricing__save-percentage {
  margin: auto;
  width: 49px;
  height: 20px;
  background-color: rgba(235, 0, 0, 0.1019607843);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: helvetica, san-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: #eb0000;
  margin-bottom: 8px;
}
.AB-EXP-299 .ab-pricing-table__pricing__price {
  font-family: helvetica, san-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16.5px;
  letter-spacing: 0.06px;
  text-align: center;
  color: #1d1d1d;
}
.AB-EXP-299 .ab-pricing-table__pricing__price-per-yard {
  font-family: helvetica, san-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.5px;
  letter-spacing: 0.06px;
  text-align: center;
  color: #6a7282;
  margin-bottom: 4px;
}
.AB-EXP-299 .ab-pricing-table__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 16px;
  background-color: #ffffff;
}
.AB-EXP-299 .ab-pricing-table__footer__right a {
  font-family: helvetica, san-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: right;
  color: #cc0000;
  cursor: pointer;
}
@media screen and (min-width: 991px) {
  .AB-EXP-299 .ab-pricing-table-wrapper {
    flex-grow: 1;
    padding-right: 24px;
  }
  .AB-EXP-299 .ab-pricing-header {
    border: 1px solid #e5e7eb;
    border-bottom: none;
    padding: 10px 16px 10px 16px;
  }
  .AB-EXP-299 .ab-pricing-table__sub-header {
    padding: 7px 16px;
    background-color: #ffffff;
  }
  .AB-EXP-299 .ab-pricing-table__pricing--mobile {
    display: none;
  }
  .AB-EXP-299 .ab-pricing-table__pricing--desktop {
    display: grid;
  }
  .AB-EXP-299 .ab-pricing-table__pricing__item {
    padding: 12px 16px;
    background-color: #f9f9fb;
    justify-content: space-between;
    flex-direction: row;
  }
  .AB-EXP-299 .ab-pricing-table__pricing li:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid #e5e7eb;
  }
  .AB-EXP-299 .ab-pricing-table__pricing__roll-count {
    text-align: left;
    margin-bottom: 5px;
  }
  .AB-EXP-299 .ab-pricing-table__pricing__save-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
  }
  .AB-EXP-299 .ab-pricing-table__pricing__save {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
  }
  .AB-EXP-299 .ab-pricing-table__pricing__save-percentage {
    margin-bottom: 0;
  }
  .AB-EXP-299 .ab-pricing-table__pricing__price {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    text-align: right;
    margin-bottom: 2px;
  }
  .AB-EXP-299 .ab-pricing-table__pricing__price-per-yard {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: right;
    margin-bottom: 0;
  }
}