.AB-Checkout-Step-1 {
  background-color: #fff;
}
.AB-Checkout-Step-1 > form > .container.pl-0.pr-0 {
  background-color: #fff;
}
.AB-Checkout-Step-1 .ab-hidden {
  display: none;
}
.AB-Checkout-Step-1 .guest-checkout-optn {
  margin: auto;
  flex-direction: row;
  gap: 25px;
}
.AB-Checkout-Step-1 .guest-checkout-optn button {
  min-width: 167px;
}
.AB-Checkout-Step-1 .ab-content-wrapper {
  width: 100%;
  position: relative;
  background-color: #f3f5f6;
}
.AB-Checkout-Step-1 .ab-content-wrapper > * {
  position: relative;
  z-index: 1;
}
.AB-Checkout-Step-1 .ab-content-wrapper:after {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 1px solid #dddddd;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  z-index: 0;
}
.AB-Checkout-Step-1 .ab-content-top {
  display: flex;
  flex-direction: column;
  padding-bottom: 49px;
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
}
.AB-Checkout-Step-1 .ab-content-top h1 {
  text-align: center;
}
.AB-Checkout-Step-1 .ab-content-forms {
  padding: 0;
}
.AB-Checkout-Step-1 .ab-content-added-product {
  background-color: #f3f5f6;
}
.AB-Checkout-Step-1 .ab-login-form-container {
  padding: 49px 59px 135px 0 !important;
  width: 100% !important;
}
.AB-Checkout-Step-1 .ab-login-form-container #loginSlogan {
  display: none;
}
.AB-Checkout-Step-1 .ab-login-form-container h2 {
  padding-bottom: 49px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  color: #333333;
}
.AB-Checkout-Step-1 .ab-login-form-container .dnnFormMessage {
  margin-top: 0;
}
.AB-Checkout-Step-1 .ab-login-form-container .dnnForm,
.AB-Checkout-Step-1 .ab-login-form-container .dnnLabel {
  margin: 0;
  text-align: left;
}
.AB-Checkout-Step-1 .ab-login-form-container .dnnFormItem:has(> input) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #ced4da;
  overflow: hidden;
  height: 51px;
  padding: 7px 10px;
  margin-bottom: 12px;
  position: relative;
}
.AB-Checkout-Step-1 .ab-login-form-container .dnnFormItem:has(> .dnnLoginActions) {
  display: none;
}
.AB-Checkout-Step-1 .ab-login-form-container .dnnFormItem:not(:has(> input)) .dnnFormLabel,
.AB-Checkout-Step-1 .ab-login-form-container .dnnFormItem:not(:has(> input)) .dnnSecondaryAction {
  display: none;
}
.AB-Checkout-Step-1 .ab-login-form-container .dnnFormItem:not(:has(> input)) .dnnPrimaryAction {
  margin-top: 22px;
  margin-bottom: 17px;
  margin-left: 0;
  padding: 16px 47px 17px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border: none;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #ffffff;
}
.AB-Checkout-Step-1 .ab-login-form-container .dnnFormItem:not(:has(> input)) .dnnPrimaryAction:hover {
  text-decoration: none;
}
.AB-Checkout-Step-1 .ab-login-form-container .dnnLabel {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #767676;
}
.AB-Checkout-Step-1 .ab-login-form-container .dnnLabel label {
  white-space: nowrap;
  margin-bottom: 0px;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 16px;
}
.AB-Checkout-Step-1 .ab-login-form-container .dnnLabel label:after {
  display: none;
}
.AB-Checkout-Step-1 .ab-login-form-container .dnnLabel:has(~ input:focus), .AB-Checkout-Step-1 .ab-login-form-container .dnnLabel:has(~ input:active), .AB-Checkout-Step-1 .ab-login-form-container .dnnLabel:has(~ input:not(:placeholder-shown)) {
  position: static;
  font-size: 14px;
}
.AB-Checkout-Step-1 .ab-login-form-container .dnnLabel:has(~ input:focus) label, .AB-Checkout-Step-1 .ab-login-form-container .dnnLabel:has(~ input:active) label, .AB-Checkout-Step-1 .ab-login-form-container .dnnLabel:has(~ input:not(:placeholder-shown)) label {
  font-size: 14px;
}
.AB-Checkout-Step-1 .ab-login-form-container input {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: none;
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #000000;
}
.AB-Checkout-Step-1 .ab-login-form-container input:focus, .AB-Checkout-Step-1 .ab-login-form-container input:active, .AB-Checkout-Step-1 .ab-login-form-container input:not(:placeholder-shown) {
  position: static;
  border: none;
  outline: none;
  background-color: #fff;
  box-shadow: none;
}
.AB-Checkout-Step-1 .ab-login-form-container #socialControls {
  display: none;
}
.AB-Checkout-Step-1 .ab-login-form-container p:has(> a[href="./ResetPassword"]),
.AB-Checkout-Step-1 .ab-login-form-container p:has(> a[href="/create-account"]) {
  padding-left: 0;
  margin-bottom: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  color: #0078d7;
}
.AB-Checkout-Step-1 #guest-checkout-form {
  border: 1px solid red;
}
.AB-Checkout-Step-1 #guest-checkout-form:before {
  content: "Control Form, Hide when test is completed";
  color: red;
  font-size: 16px;
}
.AB-Checkout-Step-1 .ab-guest-checkout-wrapper {
  padding: 49px 59px 97px 0;
}
.AB-Checkout-Step-1 h1.ab-guest-checkout-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #333333;
  margin-bottom: 38px;
}
.AB-Checkout-Step-1 h2.ab-form-heading {
  font-family: Arial;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #333333;
  margin-bottom: 20px;
}
.AB-Checkout-Step-1 form#personal-information {
  margin-bottom: 50px;
}
.AB-Checkout-Step-1 form#billing-address {
  margin-bottom: 46px;
}
.AB-Checkout-Step-1 form#shipping-address {
  margin-bottom: 0;
}
.AB-Checkout-Step-1 form#shipping-address .ab-form-input-container {
  margin-bottom: 26px;
}
.AB-Checkout-Step-1 form#shipping-address #ab-continue-as-guest {
  width: 100%;
  height: 51px;
  padding: 17px 20px;
  border: none;
  outline: none;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #ffffff;
  background-color: #b3b3b3;
}
.AB-Checkout-Step-1 form#shipping-address #ab-continue-as-guest:not(disabled) {
  background-color: #9cca5a;
}
.AB-Checkout-Step-1 form#shipping-address #ab-need-help {
  width: 100%;
  height: 51px;
  padding: 17px 20px;
  border: none;
  outline: none;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #ffffff;
  background-color: #6c757d;
}
.AB-Checkout-Step-1 form#shipping-address #ab-need-help:hover {
  opacity: 0.7;
}
.AB-Checkout-Step-1 .ab-form-group {
  margin: 0;
  text-align: left;
}
.AB-Checkout-Step-1 .ab-form-col {
  margin-bottom: 12px;
}
.AB-Checkout-Step-1 .ab-pl-0 {
  padding-left: 0;
}
.AB-Checkout-Step-1 .ab-form-group:has(> input:not([type=radio]):not([type=checkbox])) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #ced4da;
  overflow: hidden;
  height: 51px;
  padding: 7px 10px;
  position: relative;
}
.AB-Checkout-Step-1 .ab-form-group:has(> input[type=radio]),
.AB-Checkout-Step-1 .ab-form-group:has(> input[type=checkbox]) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
}
.AB-Checkout-Step-1 .ab-form-group:has(> input[type=radio]) input[type=checkbox],
.AB-Checkout-Step-1 .ab-form-group:has(> input[type=checkbox]) input[type=checkbox] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  min-width: 18px;
  height: 18px;
  min-height: 18px;
  border: 2px solid #767676;
  background-color: #fff;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.AB-Checkout-Step-1 .ab-form-group:has(> input[type=radio]) input[type=checkbox]:checked,
.AB-Checkout-Step-1 .ab-form-group:has(> input[type=checkbox]) input[type=checkbox]:checked {
  border: none;
  background-color: #0078d7;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AB-Checkout-Step-1 .ab-form-group:has(> input[type=radio]) input[type=checkbox]:checked:after,
.AB-Checkout-Step-1 .ab-form-group:has(> input[type=checkbox]) input[type=checkbox]:checked:after {
  content: "";
  margin-top: -3px;
  width: 6px;
  height: 11px;
  border-right: 2.5px solid #fff;
  border-bottom: 2.5px solid #fff;
  transform: rotate(45deg);
}
.AB-Checkout-Step-1 .ab-form-group:has(> input[type=radio]) label,
.AB-Checkout-Step-1 .ab-form-group:has(> input[type=checkbox]) label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #333333;
  cursor: pointer;
}
.AB-Checkout-Step-1 .ab-form-group:has(> input:not([type=radio]):not([type=checkbox])) .ab-label {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #767676;
  white-space: nowrap;
  margin-bottom: 0px;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 16px;
}
.AB-Checkout-Step-1 .ab-form-group:has(> input:not([type=radio]):not([type=checkbox])) .ab-label:has(~ input:not([type=radio]):not([type=checkbox]):focus), .AB-Checkout-Step-1 .ab-form-group:has(> input:not([type=radio]):not([type=checkbox])) .ab-label:has(~ input:not([type=radio]):not([type=checkbox]):active), .AB-Checkout-Step-1 .ab-form-group:has(> input:not([type=radio]):not([type=checkbox])) .ab-label:has(~ input:not([type=radio]):not([type=checkbox]):not(:placeholder-shown)) {
  position: static;
  font-size: 14px;
}
.AB-Checkout-Step-1 .ab-form-group input:not([type=radio]):not([type=checkbox]) {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  z-index: 2;
  background: transparent;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #333333;
}
.AB-Checkout-Step-1 .ab-form-group input:-webkit-autofill,
.AB-Checkout-Step-1 .ab-form-group input:-webkit-autofill:hover,
.AB-Checkout-Step-1 .ab-form-group input:-webkit-autofill:focus,
.AB-Checkout-Step-1 .ab-form-group input:-webkit-autofill:active {
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}
.AB-Checkout-Step-1 .ab-error-message {
  margin-top: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #dc3545;
  display: none;
}
.AB-Checkout-Step-1 .ab-form-group:has(> input:not([type=radio]):not([type=checkbox]):placeholder-shown[required]) {
  border: 2px solid #dc3545;
}
.AB-Checkout-Step-1 .ab-form-group:has(> input:not([type=radio]):not([type=checkbox]):placeholder-shown[required]) + .ab-error-message {
  display: block;
}
.AB-Checkout-Step-1 .ab-form-group:has(> input:not([type=radio]):not([type=checkbox]):focus),
.AB-Checkout-Step-1 .ab-form-group:has(> input:not([type=radio]):not([type=checkbox]):active) {
  border: 2px solid #333333;
}
.AB-Checkout-Step-1 .ab-form-group:has(> select) {
  width: 100%;
  position: relative;
}
.AB-Checkout-Step-1 .ab-form-group:has(> select) .ab-label {
  display: none;
}
.AB-Checkout-Step-1 .ab-form-group:has(> select):before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  z-index: 5;
  transform: rotate(45deg);
  pointer-events: none;
  cursor: pointer;
  transition: all 0.2s;
}
.AB-Checkout-Step-1 .ab-form-group:has(> select):has(> select:open):before {
  transform: rotate(-135deg);
}
.AB-Checkout-Step-1 .ab-form-group:has(> select) select {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid #ced4da;
  overflow: hidden;
  width: 100%;
  height: 51px;
  padding: 7px 10px;
  position: relative;
  background-color: transparent;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0px;
  color: #767676;
  white-space: nowrap;
  appearance: none; /* Hide default arrow */
  -webkit-appearance: none; /* For Webkit browsers */
  -moz-appearance: none; /* For Firefox */
}
.AB-Checkout-Step-1 .ab-form-group:has(> select) select:focus-within, .AB-Checkout-Step-1 .ab-form-group:has(> select) select:active {
  border: 2px solid #333333;
  box-shadow: none;
  color: #333333;
}