.AB-PDP-ATC-MODAL #modal-window-added-product .modal-content {
  position: absolute;
  right: -100%;
  top: 0;
  min-height: 100%;
}
.AB-PDP-ATC-MODAL #modal-window-added-product .modal-content #braintree-loading-container,
.AB-PDP-ATC-MODAL #modal-window-added-product .modal-content .text-center.text-sm.text-grey-darker {
  display: none;
}
.AB-PDP-ATC-MODAL #modal-window-added-product .modal-content .text-sm.mt-2 .mt-8 {
  margin-top: 15px;
}
.AB-PDP-ATC-MODAL #modal-window-added-product .modal-content .modal-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.AB-PDP-ATC-MODAL #modal-window-added-product .modal-content .modal-content-header h3 span {
  display: none;
}
.AB-PDP-ATC-MODAL #modal-window-added-product .modal-content .modal-content-header h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.AB-PDP-ATC-MODAL #modal-window-added-product .modal-content .modal-content-header h3:before {
  content: "";
  width: 18px;
  height: 11px;
  border-bottom: 4px solid #0a7806;
  border-left: 4px solid #0a7806;
  display: inline-block;
  transform: rotate(-45deg);
  margin-top: -3px;
}
.AB-PDP-ATC-MODAL #modal-window-added-product .modal-content .close-x {
  position: static;
  order: 1;
}
.AB-PDP-ATC-MODAL #modal-window-added-product #braintree-asset-container,
.AB-PDP-ATC-MODAL #modal-window-added-product #braintree-loading-container {
  display: none;
}
.AB-PDP-ATC-MODAL #modal-window-added-product h3.heading.font-bold.text-xl.md\:text-2xl.mt-4 {
  margin-top: 6px;
}
.AB-PDP-ATC-MODAL #modal-window-added-product .quick-view-addons {
  margin-bottom: 20px;
}
.AB-PDP-ATC-MODAL #modal-window-added-product .list-reset {
  margin-bottom: 20px;
}
.AB-PDP-ATC-MODAL #modal-window-added-product a.button-primary[href="https://www.domyown.com/checkout/payment"] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.AB-PDP-ATC-MODAL a.close-modal:not(.no-margin) {
  display: none;
}
.AB-PDP-ATC-MODAL .ab-close-modal {
  order: 1;
  color: #333;
  font-size: 2.25rem;
}
.AB-PDP-ATC-MODAL .modal-content {
  padding-left: 0;
  padding-right: 0;
}
.AB-PDP-ATC-MODAL .modal-content-header,
.AB-PDP-ATC-MODAL .modal-content-body > div {
  padding-left: 15px;
  padding-right: 15px;
}
.AB-PDP-ATC-MODAL .modal-content-body > div.flex.flex-wrap.md\:flex-no-wrap > .w-full.md\:w-2\/3 {
  margin-top: 15px;
}
.AB-PDP-ATC-MODAL .modal-content-body > div.flex.flex-wrap.md\:flex-no-wrap .w-1\/3 {
  margin-right: 15px;
}
.AB-PDP-ATC-MODAL .modal-content-body > div.flex.flex-wrap.md\:flex-no-wrap .w-1\/3 img {
  border: 1px solid #ebebeb;
}
.AB-PDP-ATC-MODAL #modal-window-added-product {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
}
.AB-PDP-ATC-MODAL #modal-window-added-product.is-active {
  display: block;
}
.AB-PDP-ATC-MODAL #modal-window-added-product .modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.AB-PDP-ATC-MODAL #modal-window-added-product .modal-background.is-active {
  opacity: 1;
}
.AB-PDP-ATC-MODAL #modal-window-added-product .modal-content {
  position: absolute;
  top: 0;
  right: -110%;
  height: 100%;
  background: #fff;
  transition: right 0.3s ease-in-out;
}
.AB-PDP-ATC-MODAL #modal-window-added-product .modal-content.is-active {
  right: 0;
}