.AB-TTP27 .ab-hidden {
  display: none;
}
.AB-TTP27 .ab-mobile {
  display: block;
}
.AB-TTP27 .ab-desktop {
  display: none;
}
.AB-TTP27 .ab-mobile a {
  display: flex;
  width: max-content;
  margin: auto;
}
.AB-TTP27 .ab-mobile img {
  width: auto;
  margin: auto;
  height: 510px;
  aspect-ratio: unset;
}
@media screen and (min-width: 768px) {
  .AB-TTP27 .ab-mobile {
    display: none;
  }
  .AB-TTP27 .ab-desktop {
    display: block;
  }
}