.AB-TTP27 .ab-hidden {
  display: none;
}
.AB-TTP27 .ab-mobile {
  display: block;
}
.AB-TTP27 .ab-desktop {
  display: none;
}
.AB-TTP27 .ab-desktop img {
  height: 400px;
  padding: 0;
  aspect-ratio: unset !important;
  border-radius: 15px;
}
.AB-TTP27 .ab-mobile a {
  display: flex;
  width: max-content;
  margin: auto;
}
.AB-TTP27 .ab-mobile img {
  width: auto;
  margin: auto;
  height: 510px;
  min-height: 510px;
  aspect-ratio: unset !important;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .AB-TTP27 .ab-mobile {
    display: none;
  }
  .AB-TTP27 .ab-desktop {
    display: block;
  }
}