.BODY-WRAPPER-CLASS {
    @media screen and (min-width: 768px) {
        //
    }

    @media screen and (min-width: 991px) {
        //
    }

    @media screen and (min-width: 1200px) {
        //
    }
}

.AB-TEST021-CHECKOUT {
    .header-banner.position-relative,
    .page-header .header-elements .header-navigation-wrapper,
    .page-header .header-elements .header-icons,
    .page-header .header-elements .header-wrapper .header-grid-right,
    .registration-breadcrumb,
    .registration .registration-right,
    .registration-inner-container > h2.mt-4,
    .page-footer .footer-social,
    .page-footer .footer-nav,
    .page-footer .footer-others,
    .frame-space-after-small,
    .page-header .header-media.narrow-hero {
        display: none;
    }

    .page-header .header-elements .header-buttons,
    .page-header .header-elements .header-grid-right .header-phone,
    .page-header .header-elements .header-grid-right .header-button-wrapper .header-buttons {
        display: none !important;
    }

    .page.page-type-registration .page-content {
        padding-bottom: 0;
    }

    .container-md.registration {
        background-color: #dafdfc;
    }

    .page-footer .footer-links {
        background-color: #c4ffd8;
    }

    header.page-header .header-grid-left {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    main.page-content {
        padding-top: 16px;
    }

    main.page-content > .container-md:has(> h1) {
        padding-left: 8px;
        padding-right: 8px;
    }

    main.page-content > .container-md > h1 {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #1a2b49;
        margin-bottom: 23px;
    }

    .registration .registration-left .registration-inner-container {
        padding: 6px 10px 19px;
    }

    // Progress Section
    .ab-progress {
        display: flex;
        justify-content: space-around;
        align-content: center;
        gap: 8px;
        padding: 4px 21px 15px;

        &__item {
            flex-grow: 1;
            width: calc(33% - 4px);
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__label {
                font-family: "Onest Regular";
                font-weight: 400;
                font-size: 12px;
                line-height: 25px;
                letter-spacing: 0px;
                vertical-align: middle;
                color: #1a2b49;
                padding-left: 5px;
                white-space: nowrap;
            }

            &__bar {
                display: block;
                background-color: #dafdfc;
                border: 0.5px solid #1a2b49;
                border-radius: 5px;
                width: 100%;
                height: 10px;
            }
        }

        &__item--filled {
            .ab-progress__item__label {
                font-family: "Onest Bold";
                font-weight: 700;
                font-size: 12px;
                letter-spacing: 0px;
                vertical-align: middle;
            }

            .ab-progress__item__bar {
                background-color: #1a2b49;
            }
        }
    }

    // Preferred Course Section
    .ab-preferred-course-container {
        background: #b2e58040;
        border-radius: 12px;
        padding: 0 12px 16px;
    }

    h2.ab-preferred-course-title {
        font-family: "Onest SemiBold";
        font-weight: 500;
        font-size: 24px;
        // line-height: 44px;
        line-height: 28px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: rgba(26, 43, 73, 1);
        margin-top: 15px;
        margin-bottom: 0;
    }

    p.ab-preferred-course-subtitle {
        font-family: "Onest SemiBold";
        font-weight: 500;
        font-size: 10px;
        line-height: 34px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: rgba(89, 89, 89, 1);
        margin-bottom: 0;
    }

    // Sign Up Test container
    .ab-signup-text-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 17px;
        margin-bottom: 4px;
    }

    .ab-signup-text-container span svg {
        width: 15px;
        height: 15px;
    }

    .ab-signup-text-container span svg rect {
        width: 15px;
        height: 15px;
    }

    .ab-signup-text-container p {
        margin-bottom: 0;
        font-family: "Onest Regular";
        font-weight: 400;
        font-size: 12px;
        line-height: 44px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: rgba(26, 43, 73, 1);
    }

    .ab-signup-text-container p.ab-desktop {
        display: none;
    }

    .ab-row {
        border: 1px solid rgba(178, 229, 128, 1);
        border-radius: 12px;
        margin: 0;
    }

    .ab-row .d-flex.justify-content-end.mb-4.mb-lg-0.mt-4:has(> button#submit1) {
        justify-content: center !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .ab-row Button#submit1 {
        border: 1px solid rgba(38, 139, 46, 1);
        background-color: rgba(38, 139, 46, 1);
        height: 48px;
        font-family: "Onest Bold";
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        color: rgba(255, 255, 255, 1);
        padding: 0 16px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 32px;
    }

    .ab-row label[for="cartIsCheckable"],
    .ab-row > p {
        font-family: "Onest Regular";
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: rgba(26, 43, 73, 0.7);

        strong {
            font-family: "Onest Bold";
            font-weight: 700;
        }

        a {
            text-decoration: underline;
            color: rgba(26, 43, 73, 0.7);
        }
    }

    .ab-row > p {
        margin-bottom: 48px;
    }

    .ab-data-share-info-group-desktop {
        display: none;
    }

    .ab-data-share-info-group-mobile {
        p {
            font-family: "Onest Regular";
            font-weight: 400;
            font-size: 10px;
            line-height: 20px;
            letter-spacing: 0px;
            vertical-align: middle;
            color: rgba(26, 43, 73, 0.7);
        }
    }

    .ab-preferred-course-container .form-field-course {
        margin: 0;
    }

    @media screen and (max-width: 991.5px) {
        .ab-mobile-hidden {
            display: none;
        }
    }

    @media screen and (min-width: 992px) {
        .page-header:not(.pinned) .header-elements .header-wrapper {
            padding-top: 28px;
            padding-bottom: 56px;
            border-bottom: 0;
            height: 164px;
        }

        main.page-content {
            padding-top: 21px;
        }

        main.page-content > .container-md:has(> h1) {
            padding-left: 0;
            padding-right: 0;
        }

        main.page-content > .container-md > h1 {
            font-weight: 700;
            font-size: 28px;
            line-height: 44px;
            margin-bottom: 31px;
        }

        main.page-content > .container-md:has(> h1),
        .container-md.registration {
            max-width: 897px;
        }

        .container-md.registration {
            padding: 0 24px 24px;
        }

        .registration .registration-left {
            padding-right: 0;
        }

        .registration .registration-left .registration-inner-container {
            padding: 30px 11px 23px;
        }

        // Progress Section
        .ab-progress {
            gap: 23px;
            padding: 3px 0 7px;

            &__item {
                align-items: flex-start;
                width: calc(33% - 15px);

                &__label {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 44px;
                    letter-spacing: 0px;
                    vertical-align: middle;
                }

                &__bar {
                    height: 10px;
                }
            }

            &__item--filled {
                .ab-progress__item__label {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 44px;
                    letter-spacing: 0px;
                    vertical-align: middle;
                }

                .ab-progress__item__bar {
                    background-color: #1a2b49;
                }
            }
        }

        // Preferred Course Section
        .ab-preferred-course-container {
            padding: 9px 13px 31px;
        }

        h2.ab-preferred-course-title {
            font-size: 34px;
            line-height: 44px;
            letter-spacing: 0px;
            vertical-align: middle;
            color: rgba(26, 43, 73, 1);
            margin-top: 0;
            margin-bottom: 0;
        }

        p.ab-preferred-course-subtitle {
            font-size: 16px;
            line-height: 44px;
            letter-spacing: 0px;
        }

        // Sign Up Test container
        .ab-signup-text-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 18px;
            margin-top: 4px;
            margin-bottom: 5px;
        }

        .ab-signup-text-container span svg {
            width: 20px;
            height: 20px;
        }

        .ab-signup-text-container span svg rect {
            width: 20px;
            height: 20px;
        }

        .ab-signup-text-container p {
            margin-bottom: 0;
            font-weight: 400;
            font-size: 20px;
            line-height: 44px;
            letter-spacing: 0px;
            vertical-align: middle;
        }

        .ab-signup-text-container p.ab-mobile {
            display: none;
        }

        .ab-signup-text-container p.ab-desktop {
            display: block;
        }

        .ab-row Button#submit1 {
            width: 394px;
            height: 48px;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0px;
            text-align: center;
            vertical-align: middle;
            padding: 0 16px;
            margin-top: 20px;
            margin-bottom: 32px;
        }

        .ab-row label[for="cartIsCheckable"],
        .ab-row > p {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0px;

            strong {
                font-family: "Onest Bold";
            }
        }

        .ab-row > p {
            margin-bottom: 36px;
        }

        .ab-data-share-info-group-mobile {
            display: none;
        }

        .ab-data-share-info-group-desktop {
            display: block;
            p {
                font-family: "Onest Regular";
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                vertical-align: middle;
                letter-spacing: 0px;
                color: rgba(89, 89, 89, 1);
            }
        }
    }
}

// Form
.AB-TEST021-CHECKOUT--STEP-1 {
    .form-group-salutation {
        margin-top: 11px;
    }

    .form-group-salutation label.btn {
        font-family: "Onest Regular";
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        color: rgba(33, 37, 41, 1);
        border: 1px solid rgba(206, 212, 218, 1);
        border-radius: 7px;
        background-color: #fff;
    }

    .form-group-salutation label.btn.active {
        background-color: rgba(178, 229, 128, 1);
        border: 1px solid rgba(178, 229, 128, 1);
    }

    .form-field-course {
        border: 0;
        border-bottom: 1px solid rgba(222, 226, 230, 1);
    }

    .form-field-course > label {
        display: none;
    }

    .form .form-group.form-field-course .was-validated .form-control:valid,
    .form .form-group.form-field-course .form-control.is-valid {
        background-position: right calc(0.375em + 1.8rem) center;
    }

    .form .form-group.form-input input {
        border: 1px solid rgba(244, 244, 244, 1);
        height: 48px;
        padding-left: 0.5rem;
    }

    .form .form-group.form-input label {
        // top: 1rem;
        padding-left: 0.5rem;
        font-family: "Onest Regular";
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: rgba(26, 43, 73, 1);
    }

    .form .form-group.form-input label:not(.active) {
        top: 0.9rem;
    }

    .form .form-group.form-input label.active {
        // top: 1.4rem;
        top: 0.275rem;
        font-size: 0.75rem;
        color: #25872d;
    }

    .was-validated .form-control:valid,
    .form-control.is-valid {
        background-size: calc(0.75em + 3px) calc(0.75em + 3px);
    }

    .was-validated .form-control:invalid,
    .form-control.is-invalid {
        // background-position: right calc(0.375em + 6px) center;
        background-position: right calc(0.375em) center;
        background-size: calc(0.75em + 1.5px) calc(0.75em + 1.5px);
    }

    @media screen and (min-width: 992px) {
        .form-group-salutation {
            margin-top: 22px;
            margin-bottom: 15px;
        }

        .form-group-salutation label.btn {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
    }
}
