.AB-NAV-TIER-2-BRAND-M .main-menu.navbar-toggleable-sm .menu-item.dropdown.country-selector.d-md-none {
  display: none;
}
.AB-NAV-TIER-2-BRAND-M .ab-container-fluid-control {
  display: none;
}

.ab-container-fluid-duplicated {
  border: 1px solid red;
}
.ab-container-fluid-duplicated ul.row.mr-0.ml-0:has(> li.dropdown-item.show) > li.dropdown-item:not(.show) {
  display: none;
}